protocolli/trasparente/testsuite/example/server/RPCEncodedExample/config/rpcEncodedExample.wsdl

<!-- Definizione WSDL -->
<wsdl:definitions targetNamespace="http://openspcoop2.org/ValidazioneContenutiWS/Service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:service="http://openspcoop2.org/ValidazioneContenutiWS/Service" xmlns:types="http://openspcoop2.org/ValidazioneContenutiWS/Service/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


  <wsdl:types>
<xsd:schema targetNamespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/types"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://openspcoop2.org/ValidazioneContenutiWS/Service/types"
elementFormDefault="qualified" attributeFormDefault="unqualified">

     <!-- Nominativo -->
     <xsd:element name="nominativo" type="nominativoType"/>
     <xsd:complexType name="nominativoType">
	    <xsd:simpleContent>
		<xsd:extension base="xsd:string">
		   <xsd:attribute name="ruolo" type="xsd:string" use="required"/>
		</xsd:extension>
	    </xsd:simpleContent>
     </xsd:complexType>

     <!-- Indirizzo -->
     <xsd:element name="indirizzo" type="indirizzoType"/>
     <xsd:simpleType name="indirizzoType">
       <xsd:restriction base="xsd:string">
       </xsd:restriction>
     </xsd:simpleType>

     <!-- Data -->
     <xsd:element name="ora-registrazione" type="xsd:dateTime" />
 
     <!-- Messaggio Risposta -->
   <xsd:element name="esito" type="esitoType" />
   <xsd:complexType name="esitoType">
      <xsd:sequence>
         <xsd:element name="code" type="xsd:string"/>
         <xsd:element name="reason" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
     

   <!-- Caso xsi:type -->
   <xsd:complexType name="MessaggioType">
      <xsd:sequence>
         <xsd:element name="dati" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FixedMessaggioType">
      <xsd:complexContent>
         <xsd:restriction base="MessaggioType">
            <xsd:sequence>
               <xsd:element name="dati" type="xsd:string" fixed="test"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Fixed2MessaggioType">
      <xsd:complexContent>
         <xsd:restriction base="MessaggioType">
            <xsd:sequence>
               <xsd:element name="dati" type="xsd:string" fixed="test2"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
  </wsdl:types>



<!-- ********* Messaggi ************* -->

   <!-- operation:RPCE-element  -->
<wsdl:message name="RichiestaRPCE-element">
	<wsdl:part element="types:nominativo" name="nominativoUtente"/>
	<wsdl:part element="types:indirizzo" name="indirizzoUtente"/>
	<wsdl:part element="types:ora-registrazione" name="oraRegistrazioneUtente"/>
</wsdl:message>
<wsdl:message name="RispostaRPCE-element">
	<wsdl:part element="types:esito" name="esitoRegistrazione"/>
</wsdl:message>

<!-- operation:RPCE-type  -->
<wsdl:message name="RichiestaRPCE-type">
	<wsdl:part type="types:nominativoType" name="nominativo"/>
   <wsdl:part type="xsd:string" name="indirizzo"/>
   <wsdl:part type="xsd:dateTime" name="ora-registrazione"/>
	<wsdl:part type="xsd:string" name="idstring"/>
	<wsdl:part type="xsd:int" name="idint"/>
</wsdl:message>
<wsdl:message name="RispostaRPCE-type">
	<wsdl:part type="types:esitoType" name="esito"/>
</wsdl:message>
   
   <!-- operation:RPCE-xsitype  -->
   <wsdl:message name="RichiestaRPCE-xsitype">
      <wsdl:part type="types:FixedMessaggioType" name="richiestaEsempioXSI"/>
   </wsdl:message>
   <wsdl:message name="RispostaRPCE-xsitype">
      <wsdl:part type="types:FixedMessaggioType" name="rispostaEsempioXSI"/>
      <wsdl:part type="xsd:string" name="esito"/>
   </wsdl:message>





<!-- ********* PortType ********* -->

   <wsdl:portType name="ServiceRPCEncoded">

       <wsdl:operation name="RPCE-element">
          <wsdl:input message="service:RichiestaRPCE-element" name="richiestaRPCE-element"/>
          <wsdl:output message="service:RispostaRPCE-element" name="rispostaRPCE-element"/>
      </wsdl:operation>

      <wsdl:operation name="RPCE-type">
         <wsdl:input message="service:RichiestaRPCE-type" name="richiestaRPCE-type"/>
         <wsdl:output message="service:RispostaRPCE-type" name="rispostaRPCE-type"/>
      </wsdl:operation>
   
   <wsdl:operation name="RPCE-xsitype">
      <wsdl:input message="service:RichiestaRPCE-xsitype" name="richiestaRPCE-xsitype"/>
      <wsdl:output message="service:RispostaRPCE-xsitype" name="rispostaRPCE-xsitype"/>
   </wsdl:operation>

</wsdl:portType>


<!-- **** Binding **** -->

<wsdl:binding name="ServiceRPCEncodedBinding" 
              type="service:ServiceRPCEncoded">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="RPCE-element">
         <wsdlsoap:operation soapAction="RPCE-element"/>
         <wsdl:input name="richiestaRPCE-element">
            <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/element-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="rispostaRPCE-element">
            <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/element-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="RPCE-type">
         <wsdlsoap:operation soapAction="RPCE-type"/>
         <wsdl:input name="richiestaRPCE-type">
            <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/type-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="rispostaRPCE-type">
            <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/type-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
   
   <wsdl:operation name="RPCE-xsitype">
      <wsdlsoap:operation soapAction="RPCE-xsitype"/>
      <wsdl:input name="richiestaRPCE-xsitype">
         <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/type-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output name="rispostaRPCE-xsitype">
         <wsdlsoap:body use="encoded" namespace="http://openspcoop2.org/ValidazioneContenutiWS/Service/type-example" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
   </wsdl:operation>

</wsdl:binding>


<!-- ***** service ********* -->

<wsdl:service name="ServiceRPCEncoded">
      <wsdl:port binding="service:ServiceRPCEncodedBinding" name="ServiceRPCEncoded">
        <wsdlsoap:address location="http://127.0.0.1:8080/ServiceRPCEncoded"/>
      </wsdl:port>
</wsdl:service>


</wsdl:definitions>
