tools/ws/diagnostica/server/deploy/wsdl/InformazioniProtocolloTransazioneSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://www.openspcoop2.org/core/diagnostica/management" 
			xmlns:api="http://www.openspcoop2.org/core/diagnostica" 
			attributeFormDefault="unqualified" 
			elementFormDefault="qualified" 
			targetNamespace="http://www.openspcoop2.org/core/diagnostica/management">
			
 	<xsd:import schemaLocation="openspcoopDiagnostica.xsd" namespace="http://www.openspcoop2.org/core/diagnostica"/>

	<!-- FILTRI -->

	<xsd:element name="search-filter-informazioni-protocollo-transazione" type="tns:search-filter-informazioni-protocollo-transazione" />
	<xsd:complexType name="search-filter-informazioni-protocollo-transazione">
		<xsd:sequence>
 			<xsd:element name="tipoPdD" type="api:TipoPdD" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="identificativo-richiesta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="dominio" type="tns:dominio-transazione" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="ora-registrazione-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="ora-registrazione-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="nome-porta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="fruitore" type="tns:soggetto" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="erogatore" type="tns:soggetto" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="servizio" type="tns:servizio" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="azione" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="identificativo-correlazione-richiesta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="identificativo-correlazione-risposta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="correlazione-applicativa-and-match" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="protocollo" type="tns:protocollo" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="filtro-servizio-applicativo" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="filtro-informazioni-diagnostici" type="tns:filtro-informazioni-diagnostici" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="descOrder" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="dominio-soggetto" type="tns:dominio-soggetto" />
	<xsd:complexType name="dominio-soggetto">
		<xsd:sequence>
 			<xsd:element name="base" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="tipo" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="dominio-transazione" type="tns:dominio-transazione" />
	<xsd:complexType name="dominio-transazione">
		<xsd:sequence>
 			<xsd:element name="identificativo-porta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="soggetto" type="tns:dominio-soggetto" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="soggetto-identificativo" type="tns:soggetto-identificativo" />
	<xsd:complexType name="soggetto-identificativo">
		<xsd:sequence>
 			<xsd:element name="base" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="tipo" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="soggetto" type="tns:soggetto" />
	<xsd:complexType name="soggetto">
		<xsd:sequence>
 			<xsd:element name="identificativo" type="tns:soggetto-identificativo" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="servizio" type="tns:servizio" />
	<xsd:complexType name="servizio">
		<xsd:sequence>
 			<xsd:element name="base" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="tipo" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="versione" type="xsd:integer" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="protocollo" type="tns:protocollo" />
	<xsd:complexType name="protocollo">
		<xsd:sequence>
 			<xsd:element name="identificativo" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="filtro-informazioni-diagnostici" type="tns:filtro-informazioni-diagnostici" />
	<xsd:complexType name="filtro-informazioni-diagnostici">
		<xsd:sequence>
 			<xsd:element name="codice" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="messaggio" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="severita" type="api:LivelloDiSeveritaType" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="modulo" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="identificativo-risposta" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>




	<!-- EXCEPTION -->
	<xsd:element name="diagnostica-service-exception" type="tns:diagnostica-service-exception"/>
	<xsd:complexType name="diagnostica-service-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="diagnostica-not-found-exception" type="tns:diagnostica-not-found-exception"/>
	<xsd:complexType name="diagnostica-not-found-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="diagnostica-multiple-result-exception" type="tns:diagnostica-multiple-result-exception"/>
	<xsd:complexType name="diagnostica-multiple-result-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="diagnostica-not-implemented-exception" type="tns:diagnostica-not-implemented-exception"/>
	<xsd:complexType name="diagnostica-not-implemented-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="diagnostica-not-authorized-exception" type="tns:diagnostica-not-authorized-exception"/>
	<xsd:complexType name="diagnostica-not-authorized-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>



	<!-- WRAPPED ELEMENT -->

	<xsd:element name="findAll" type="tns:findAll" />
	<xsd:complexType name="findAll">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findAllResponse" type="tns:findAllResponse" />
	<xsd:complexType name="findAllResponse">
		<xsd:sequence>
			<xsd:element name="informazioniProtocolloTransazione" type="api:informazioni-protocollo-transazione" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="find" type="tns:find" />
	<xsd:complexType name="find">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findResponse" type="tns:findResponse" />
	<xsd:complexType name="findResponse">
		<xsd:sequence>
			<xsd:element name="informazioniProtocolloTransazione" type="api:informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="count" type="tns:count" />
	<xsd:complexType name="count">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="countResponse" type="tns:countResponse" />
	<xsd:complexType name="countResponse">
		<xsd:sequence>
			<xsd:element name="count" type="xsd:long" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="get" type="tns:get" />
	<xsd:complexType name="get">
		<xsd:sequence>
			<xsd:element name="idInformazioniProtocolloTransazione" type="api:id-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="getResponse" type="tns:getResponse" />
	<xsd:complexType name="getResponse">
		<xsd:sequence>
			<xsd:element name="informazioniProtocolloTransazione" type="api:informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="exists" type="tns:exists" />
	<xsd:complexType name="exists">
		<xsd:sequence>
			<xsd:element name="idInformazioniProtocolloTransazione" type="api:id-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="existsResponse" type="tns:existsResponse" />
	<xsd:complexType name="existsResponse">
		<xsd:sequence>
			<xsd:element name="exists" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="findAllIds" type="tns:findAllIds" />
	<xsd:complexType name="findAllIds">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-informazioni-protocollo-transazione" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findAllIdsResponse" type="tns:findAllIdsResponse" />
	<xsd:complexType name="findAllIdsResponse">
		<xsd:sequence>
			<xsd:element name="idInformazioniProtocolloTransazione" type="api:id-informazioni-protocollo-transazione" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>