tools/ws/diagnostica/server/deploy/wsdl/MessaggioDiagnosticoSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/diagnostica/management" 
				  name="MessaggioDiagnosticoService"
				  targetNamespace="http://www.openspcoop2.org/core/diagnostica/management">

	<!-- TYPES -->
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.openspcoop2.org/core/diagnostica/management"
						schemaLocation="MessaggioDiagnosticoSearch.xsd"/>
		</xs:schema>
	</wsdl:types>
  
	<!-- MESSAGES -->
	  
	<wsdl:message name="findAll">
		<wsdl:part element="tns:findAll" name="findAll"/>
	</wsdl:message>
	<wsdl:message name="findAllResponse">
		<wsdl:part element="tns:findAllResponse" name="findAllResponse"/>
	</wsdl:message>


	<wsdl:message name="count">
		<wsdl:part element="tns:count" name="count"/>
	</wsdl:message>
	<wsdl:message name="countResponse">
		<wsdl:part element="tns:countResponse" name="countResponse"/>
	</wsdl:message>


	<wsdl:message name="diagnostica-service-exception">
		<wsdl:part element="tns:diagnostica-service-exception" name="diagnostica-service-exception"/>
	</wsdl:message>

	<wsdl:message name="diagnostica-not-found-exception">
		<wsdl:part element="tns:diagnostica-not-found-exception" name="diagnostica-not-found-exception"/>
	</wsdl:message>

	<wsdl:message name="diagnostica-multiple-result-exception">
		<wsdl:part element="tns:diagnostica-multiple-result-exception" name="diagnostica-multiple-result-exception"/>
	</wsdl:message>

	<wsdl:message name="diagnostica-not-implemented-exception">
		<wsdl:part element="tns:diagnostica-not-implemented-exception" name="diagnostica-not-implemented-exception"/>
	</wsdl:message>

	<wsdl:message name="diagnostica-not-authorized-exception">
		<wsdl:part element="tns:diagnostica-not-authorized-exception" name="diagnostica-not-authorized-exception"/>
	</wsdl:message>


	<!-- INTERFACE --> 
	 
	<wsdl:portType name="MessaggioDiagnostico">

		<wsdl:operation name="findAll">
			<wsdl:input message="tns:findAll" name="findAll"/>
			<wsdl:output message="tns:findAllResponse" name="findAllResponse"/>
			<wsdl:fault message="tns:diagnostica-service-exception" name="diagnostica-service-exception"/>
			<wsdl:fault message="tns:diagnostica-not-implemented-exception" name="diagnostica-not-implemented-exception"/>
			<wsdl:fault message="tns:diagnostica-not-authorized-exception" name="diagnostica-not-authorized-exception"/>
		</wsdl:operation>


		<wsdl:operation name="count">
			<wsdl:input message="tns:count" name="count"/>
			<wsdl:output message="tns:countResponse" name="countResponse"/>
			<wsdl:fault message="tns:diagnostica-service-exception" name="diagnostica-service-exception"/>
			<wsdl:fault message="tns:diagnostica-not-implemented-exception" name="diagnostica-not-implemented-exception"/>
			<wsdl:fault message="tns:diagnostica-not-authorized-exception" name="diagnostica-not-authorized-exception"/>
		</wsdl:operation>


	</wsdl:portType>
	
</wsdl:definitions>
