tools/web_interfaces/control_station/deploy/sql/xsd/Soggetti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/pdd_console/soggetti" targetNamespace="http://www.openspcoop2.org/pdd_console/soggetti"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="PddConsoleSoggetti">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Soggetti ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="soggetti" object-type="soggetti"/>
                                <linkit:sql-table object-name="soggetti-ruoli" object-type="soggetti-ruoli"/>
                                <linkit:sql-table object-name="soggetti-credenziali" object-type="soggetti-credenziali"/>
                                <linkit:sql-table object-name="soggetti-prop" object-type="soggetti-prop"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti" 
				                              comment="Soggetti erogatori o fruitori di servizi">
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_soggetto"/>
                            <linkit:sql-table-unique-field name="tipo_soggetto"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="codice_ipa"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_soggetto"/>
				                <linkit:sql-ddl-column-comment>Nome univoco del soggetto (l'univocità è garantita per stesso tipo)</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_soggetto"/>
				                <linkit:sql-ddl-column-comment>Tipo del soggetto (informazione che rappresenta insieme al nome l'identificatore univoco del soggetto)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                                <linkit:sql-ddl-column-comment>Generica descrizione del soggetto</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificativo_porta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificativo_porta"/>
                                <linkit:sql-ddl-column-comment>Rappresenta il dominio del soggetto e tipicamente viene utilizzato all'interno dell'identificatore univoco di un messaggio di protocollo (es. id eGov)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="is_default" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="is_default"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se il soggetto svolge è quello di default per il protocollo (1=true, 0=false)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) Indicazione se il soggetto svolge è quello di default per il protocollo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="is_router" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="is_router"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se il soggetto svolge attività di router (1=true, 0=false)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) svolge attivita di router]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore associato al soggetto [FK verso tabella connettori(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="superuser" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="superuser"/>
                                <linkit:sql-ddl-column-comment>Utente che ha effettuato l'ultima modifica dei dati del Soggetto, modifica attuata tipicamente attraverso la console di gestione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="server" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="server"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta di dominio su cui il Soggetto è operativo [FK logica verso tabella pdd(nome)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="privato" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="privato"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se il soggetto deve avere una visibilità privata o pubblica (1=privato, 0=pubblico)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) indica se il soggetto e' privato/pubblico]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di ultima modifica dei dati del Soggetto, modifica attuata tipicamente attraverso la console di gestione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo"/>
                                <linkit:sql-ddl-column-comment>Versione del protocollo che il soggetto deve utilizzare durante l'interazione con gli altri soggetti</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice_ipa" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice_ipa"/>
                                <linkit:sql-ddl-column-comment>Identificativo univoco del soggetto nell'Indice delle Pubbliche Amministrazioni</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipoauth" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipoauth"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di credenziale associata al soggetto, che lo identifica univocamente. Esempi di credenziali sono:
- 'basic': autenticazione http basic composta da username e password
- 'ssl': autenticazione ssl dove viene utilizzato il subject del certificato client
- 'principal': autenticazione implementata sul container e dove l'identità dell'utente autenticato viaggia attraverso una credenzial principal via HttpServlet]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il principal ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione.
                                    NOTA: il principal potrebbe corrispondere ad un subject
                                -->
                                <linkit:sql-column-mapping name="utente" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Username in caso di credenziali di tipo 'basic' o principal-user-id in caso di credenziali di tipo 'principal' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="password" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="password"/>
                                <linkit:sql-ddl-column-comment>Password in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="subject" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cn-subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_subject"/>
                                <linkit:sql-ddl-column-comment>CommonName del Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="issuer" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_issuer"/>
                                <linkit:sql-ddl-column-comment>CommonName dell'Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="certificate" medium-binary="true"/>
                                <linkit:sql-ddl-column-comment>Certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate-strict-verification" type="xsd:integer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cert_strict_verification" />
                                <linkit:sql-ddl-column-comment>Indicazione se viene effettuata un confronto 'strict' su tutti i campi del certificato o solamente su Issuer e Subject, in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth') (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pd_url_prefix_rewriter" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pd_url_prefix_rewriter"/>
                                <linkit:sql-ddl-column-comment>Prefisso da utilizzare nel formato 'http[s]://host:port' che verrà utilizzato dalla PdD per tutte le richieste di fruizione di servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pa_url_prefix_rewriter" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pa_url_prefix_rewriter"/>
                                <linkit:sql-ddl-column-comment>Prefisso da utilizzare nel formato 'http[s]://host:port' che verrà utilizzato dalla PdD per tutte le erogazioni di servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="soggetti-ruoli">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti_ruoli"
                                               comment="Ruoli associati ai soggetti">
                        <linkit:sql-table-foreign-key
                            reference-object-name="soggetti"
                            reference-object-type="soggetti"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="ruoli">
                            <linkit:sql-table-fk-field name="id_ruolo"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_soggetto" />
                            <linkit:sql-table-unique-column name="id_ruolo" />
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_SOGGETTI_RUOLI">
                            <linkit:sql-table-index-column name="id_soggetto" />
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto che possiede il ruolo indicato nella colonna 'id_ruolo' [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_ruolo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_ruolo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del ruolo posseduto dal soggetto indicato nella colonna 'id_soggetto' [FK verso tabella ruoli(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="soggetti-credenziali">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti_credenziali"
                        comment="Credenziali ulteriori associate ai soggetti">
                        <linkit:sql-table-foreign-key
                            reference-object-name="soggetti"
                            reference-object-type="soggetti"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_SOGGETTI_CRED">
                            <linkit:sql-table-index-column name="id_soggetto" />
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto che possiede la credenziale definita in questa riga [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="subject" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cn-subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_subject"/>
                                <linkit:sql-ddl-column-comment>CommonName del Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="issuer" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_issuer"/>
                                <linkit:sql-ddl-column-comment>CommonName dell'Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="certificate" medium-binary="true"/>
                                <linkit:sql-ddl-column-comment>Certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate-strict-verification" type="xsd:integer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cert_strict_verification" />
                                <linkit:sql-ddl-column-comment>Indicazione se viene effettuata un confronto 'strict' su tutti i campi del certificato o solamente su Issuer e Subject, in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth') (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>                
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
 
 
    <xsd:element name="soggetti-prop">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti_properties" 
                        comment="Elenco di proprieta associate al soggetto">
                        <linkit:sql-table-constraint unique="uniq_soggetti_props" index="idx_soggetti_props"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="soggetti"
                            reference-object-type="soggetti"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_soggetto"/>
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_SOGGETTI_PROP">
                            <linkit:sql-table-index-field name="id_soggetto"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                                <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="valore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="valore" varchar="4000"/>
                                <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
 
    
    
    
    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    <xsd:element name="connettori">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ruoli">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="ruoli">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
