protocolli/spcoop/example/registroServizi/registroServiziXML/accordiServizio/EsempioAccordoServizioParteComune/specificaInterfaccia/InterfacciaLogicaFruitore.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.openspcoop2.org/example" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spc="http://www.openspcoop2.org/example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:import namespace="http://www.openspcoop2.org/example" location="InterfacciaDefinitoria.xsd">
  </wsdl:import>

  <!-- Es. AsincronoSimmetrico -->
  <wsdl:message name="esitoAggiornamentoRequest">
    <wsdl:part name="esitoAggiornamentoRequestPart" element="spc:esitoAggiornamentoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="esitoAggiornamentoResponse">
    <wsdl:part name="esitoAggiornamentoResponsePart" element="spc:esitoAggiornamentoResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- Es. AsincronoAsimmetrico -->
  <wsdl:message name="richiestaStatoRegistrazioneRequest">
    <wsdl:part name="richiestaStatoRegistrazioneRequestPart" element="spc:richiestaStatoRegistrazioneRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="richiestaStatoRegistrazioneResponse">
    <wsdl:part name="richiestaStatoRegistrazioneResponsePart" element="spc:richiestaStatoRegistrazioneResponse">
    </wsdl:part>
  </wsdl:message>

 
  
  <!-- Es. AsincronoSimmetrico -->
  <wsdl:portType name="AsincronoSimmetricoRisposta">
    <wsdl:operation name="esitoAggiornamento">
      <wsdl:input message="spc:esitoAggiornamentoRequest">
    </wsdl:input>
      <wsdl:output message="spc:esitoAggiornamentoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Es. AsincronoAsimmetrico con port Type diversi -->
  <wsdl:portType name="AsincronoAsimmetricoRisposta">
    <wsdl:operation name="richiestaStatoRegistrazione">
      <wsdl:input message="spc:richiestaStatoRegistrazioneRequest">
    </wsdl:input>
      <wsdl:output message="spc:richiestaStatoRegistrazioneResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>


</wsdl:definitions>
