core/src/schemi/openspcoop2/importerMissingInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/protocol/information_missing"
	targetNamespace="http://www.openspcoop2.org/protocol/information_missing"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	
	<xsd:annotation>
		<xsd:appinfo>
			<linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:info version="1.0" project-name="govway_protocolInformationMissing">
					<linkit:authors>
						<linkit:author name="Poli Andrea" mail="poli@link.it"/>
					</linkit:authors>
				</linkit:info>
				<linkit:jax-ws xml-annotations="true" xml-op2-types="true" ws="false"/>
				<linkit:configuration>
					<linkit:field generateId="false" />
					<linkit:restriction enableWithOneValue="true"/>
				</linkit:configuration>
			</linkit:project_generator>
			<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:dao>
					<linkit:xml root-element="openspcoop2" generate="true"/>
					<linkit:sql>
						<linkit:sql-script generate="false"/>
						<linkit:sql-mapping single-table-mapping="false"
							on-delete-cascade="false" />
					</linkit:sql>
				</linkit:dao>
			</linkit:generator>
		</xsd:appinfo>
	</xsd:annotation>
	
	<xsd:element name="openspcoop2">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="false" />
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="wizard" minOccurs="0" />
				<xsd:element ref="operazione" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="operazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="soggetto" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="input" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="servizio-applicativo" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accordo-cooperazione" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accordo-servizio-parte-comune" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accordo-servizio-parte-specifica" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accordo-servizio-composto" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="fruitore" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="porta-delegata" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="porta-applicativa" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="replaceMatchType">
		<xsd:sequence>
			<xsd:element name="nome" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="tipo" type="ReplaceMatchFieldType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="replaceFruitoreMatchType">
		<xsd:sequence>
			<xsd:element name="nome" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="tipo" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="nome-servizio" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="tipo-servizio" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="nome-erogatore" type="ReplaceMatchFieldType" minOccurs="0" />
			<xsd:element name="tipo-erogatore" type="ReplaceMatchFieldType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="ReplaceKeywordType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQUALS"/>
			<xsd:enumeration value="EMPTY"/>
			<xsd:enumeration value="CONTAINS"/>
			<xsd:enumeration value="STARTS_WITH"/>
			<xsd:enumeration value="ENDS_WITH"/>
			<xsd:enumeration value="ALL"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="ReplaceMatchFieldType">
		<xsd:attribute name="valore" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipo" type="ReplaceKeywordType" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="ConditionsType">
		<xsd:sequence>
			<xsd:element name="proprieta" type="ConditionType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="and" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="not" type="xsd:boolean" use="optional" default="false"/>
	</xsd:complexType>
	
	<xsd:complexType name="ConditionType">
		<xsd:attribute name="not" type="xsd:boolean" use="optional" default="false"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Soggetto -->
	
	<xsd:element name="soggetto" type="Soggetto" />
	
	<xsd:complexType name="Soggetto">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="SoggettoReplaceType" use="required"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipo-pdd" type="pddType" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="SoggettoReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RIFERIMENTO"/>
			<xsd:enumeration value="CONNETTORE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="pddType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="operativo"/>
			<xsd:enumeration value="esterno"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Servizio Applicativo -->
	
	<xsd:element name="servizio-applicativo" type="ServizioApplicativo" />
	
	<xsd:complexType name="ServizioApplicativo">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="ServizioApplicativoReplaceType" use="required"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="ServizioApplicativoReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RIFERIMENTO"/>
			<xsd:enumeration value="CONNETTORE"/>
			<xsd:enumeration value="CREDENZIALI_ACCESSO_PDD"/>
			<xsd:enumeration value="ALLINEA_CREDENZIALI_PD"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Accordi Cooperazione -->
	
	<xsd:element name="accordo-cooperazione" type="AccordoCooperazione" />
	
	<xsd:complexType name="AccordoCooperazione">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="AccordoCooperazioneReplaceType" use="required"/>
		<xsd:attribute name="stato" type="statoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="AccordoCooperazioneReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RIFERIMENTO"/>
			<xsd:enumeration value="STATO_ARCHIVIO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Accordi Parte Comune -->
	
	<xsd:element name="accordo-servizio-parte-comune" type="AccordoServizioParteComune" />
	<xsd:element name="accordo-servizio-composto" type="AccordoServizioParteComune" />
	
	<xsd:complexType name="AccordoServizioParteComune">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="AccordoServizioParteComuneReplaceType" use="required"/>
		<xsd:attribute name="stato" type="statoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="AccordoServizioParteComuneReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RIFERIMENTO"/>
			<xsd:enumeration value="STATO_ARCHIVIO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Accordi Parte Specifica -->
	
	<xsd:element name="accordo-servizio-parte-specifica" type="AccordoServizioParteSpecifica" />
	
	<xsd:complexType name="AccordoServizioParteSpecifica">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="AccordoServizioParteSpecificaReplaceType" use="required"/>
		<xsd:attribute name="stato" type="statoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="AccordoServizioParteSpecificaReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CONNETTORE"/>
			<xsd:enumeration value="STATO_ARCHIVIO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Fruitore -->
	
	<xsd:element name="fruitore" type="Fruitore" />
	
	<xsd:complexType name="Fruitore">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceFruitoreMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="FruitoreReplaceType" use="required"/>
		<xsd:attribute name="stato" type="statoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="FruitoreReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CONNETTORE"/>
			<xsd:enumeration value="STATO_ARCHIVIO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	<!-- Accordi comuni -->
	
	<xsd:simpleType name="statoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="finale"/>
			<xsd:enumeration value="operativo"/>
			<xsd:enumeration value="bozza"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	<!-- Porta Delegata -->
	
	<xsd:element name="porta-delegata" type="PortaDelegata" />
	
	<xsd:complexType name="PortaDelegata">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="PortaDelegataReplaceType" use="required"/>
		<xsd:attribute name="stato" type="portaStatoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="PortaDelegataReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	
	
	<!-- Porta Applicativa -->
	
	<xsd:element name="porta-applicativa" type="PortaApplicativa" />
	
	<xsd:complexType name="PortaApplicativa">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="replace-match" type="replaceMatchType"/>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
			<xsd:element ref="default" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="PortaApplicativaReplaceType" use="required"/>
		<xsd:attribute name="stato" type="portaStatoType" use="optional"/>
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:simpleType name="PortaApplicativaReplaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	
	<!-- Porta comuni -->
	
	<xsd:simpleType name="portaStatoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	
	<!-- Input -->
	
	<xsd:element name="input" type="Input" />
	
	<xsd:complexType name="Input">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="proprieta" type="Proprieta" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="Proprieta">
		<xsd:sequence>
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="placeholder" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="default" type="xsd:string" use="optional"/>
		<xsd:attribute name="use-in-delete" type="xsd:boolean" use="optional" default="true"/>
	</xsd:complexType>
	
	
	
	<!-- Descrizione -->
	
	<xsd:element name="header" type="Description" />
	<xsd:element name="footer" type="Description" />
	
	<xsd:complexType name="Description">
		<xsd:sequence>
			<xsd:element name="item" type="DescriptionType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DescriptionType">
		<xsd:attribute name="tipo" type="DescriptionItemType" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="optional"/>
		<xsd:attribute name="label" type="xsd:string" use="optional"/>
		<xsd:attribute name="bold" type="xsd:boolean" use="optional" default="false"/>
	</xsd:complexType>
	<xsd:simpleType name="DescriptionItemType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="title"/>
			<xsd:enumeration value="subtitle"/>
			<xsd:enumeration value="note"/>
			<xsd:enumeration value="text"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Default -->
	
	<xsd:element name="default" type="Default" />
	
	<xsd:complexType name="Default">
		<xsd:sequence>
			<xsd:element name="proprieta" type="ProprietaDefault" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="valore" type="xsd:string"/> <!-- Default senza nome -->
	</xsd:complexType>
	
	<xsd:complexType name="ProprietaDefault">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	
	
	<!-- Wizard -->	
	
	<xsd:element name="wizard" type="Wizard" />
	
	<xsd:complexType name="Wizard">
		<xsd:sequence>
			<xsd:element name="requisiti" type="Requisiti" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
		<xsd:attribute name="step" type="xsd:int" use="optional"/>
		<xsd:attribute name="step-in-delete" type="xsd:int" use="optional"/>
		<xsd:attribute name="intestazione-originale" type="xsd:boolean" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="Requisiti">
		<xsd:sequence>
			<xsd:element name="protocollo" type="RequisitoProtocollo" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="input" type="RequisitoInput" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequisitoProtocollo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="RequisitoInput">
		<xsd:sequence>
			<xsd:element name="proprieta" type="ProprietaRequisitoInput" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ProprietaRequisitoInput">
		<xsd:sequence>
			<xsd:element name="conditions" type="ConditionsType" minOccurs="0"/> <!-- Le condizioni possono essere fissate solamente sulle precedenti -->
			<xsd:element ref="header" minOccurs="0"/>
			<xsd:element ref="footer" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="ProprietaRequisitoInputType" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="label" type="xsd:string" use="optional"/>
		<xsd:attribute name="default" type="xsd:string" use="optional"/>
		<xsd:attribute name="use-in-delete" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="step-increment-condition" type="xsd:string" use="optional" />
		<xsd:attribute name="step-increment" type="xsd:int" use="optional" default="1"/>
		<xsd:attribute name="reload-on-change" type="xsd:boolean" use="optional" default="false"/>
	</xsd:complexType>
	<xsd:simpleType name="ProprietaRequisitoInputType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="hidden"/>
			<xsd:enumeration value="checkbox"/>
			<xsd:enumeration value="textedit"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
