core/src/schemi/openspcoop2/openspcoopControlloTraffico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/core/controllo_traffico"
	targetNamespace="http://www.openspcoop2.org/core/controllo_traffico"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	
	<xsd:annotation>
		<xsd:appinfo>
			<linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:info version="1.0" project-name="controllo_traffico">
					<linkit:authors>
						<linkit:author name="Poli Andrea" mail="poli@link.it"/>
					</linkit:authors>
				</linkit:info>
				<linkit:jax-ws xml-annotations="true" xml-op2-types="true" ws="false"/>
			</linkit:project_generator>
			<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:dao>
					<linkit:jdbc generate="true"/>
					<linkit:sql>
						<linkit:sql-script generate="true">
							<linkit:sql-table-list>
								<linkit:sql-comment><![CDATA[CONTROLLO TRAFFICO]]></linkit:sql-comment>
								<linkit:sql-table object-name="configurazione-generale" object-type="configurazione-generale"/>
								<linkit:sql-table object-name="configurazione-policy" object-type="configurazione-policy" />
								<linkit:sql-table object-name="attivazione-policy" object-type="attivazione-policy" />
							</linkit:sql-table-list>
						</linkit:sql-script>
						<linkit:sql-mapping single-table-mapping="true"
							on-delete-cascade="true" check-tables-order-list="false" />
					</linkit:sql>
				</linkit:dao>
			</linkit:generator>
		</xsd:appinfo>
	</xsd:annotation>
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	<!-- Configurazione Generale -->
	
	<xsd:element name="configurazione-generale">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" single-instance="true"/>
					<linkit:sql-table-mapping name="ct_config" 
						comment="Configurazione generale dei meccanismi di Controllo del Traffico">
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				
				<!-- Controllo del Traffico -->
				<xsd:element name="controllo-traffico" type="configurazione-controllo-traffico" />
				
				<!-- Tempi di Risposta -->
				<xsd:element name="tempi-risposta-fruizione" type="tempi-risposta-fruizione"/>
				<xsd:element name="tempi-risposta-erogazione" type="tempi-risposta-erogazione"/>
				
				<!-- Rate Limiting -->
				<xsd:element name="rate-limiting" type="configurazione-rate-limiting" />
								
				<!-- Informazioni cache -->
				<xsd:element name="cache" type="cache" />
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="configurazione-policy" type="configurazione-policy">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-policy"/>
					<linkit:sql-table-mapping name="ct_config_policy"
						comment="Definizione di una policy di RateLimiting">
						<linkit:sql-table-constraint unique="uniq_cong_gen_policy"
							index="idx_cong_gen_policy" 
							check="chk_cong_gen_policy"/>
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="id-policy"/>
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="attivazione-policy" type="attivazione-policy">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-active-policy" />
					<linkit:sql-table-mapping name="ct_active_policy"
						comment="Attivazione di una policy di RateLimiting su uno specifico servizio">
						<linkit:sql-table-constraint unique="uniq_cong_att_policy"
							index="idx_cong_att_policy" 
							check="chk_cong_att_policy"/>
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="id-active-policy"/>
						</linkit:sql-table-unique>
						<linkit:sql-table-index>
							<linkit:sql-table-index-column name="filtro_ruolo"/>
							<linkit:sql-table-index-column name="filtro_porta"/>
						</linkit:sql-table-index>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	
	
	
	
	<!-- Raccoglitori -->
	
	<xsd:element name="elenco-policy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="configurazione-policy" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elenco-id-policy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id-policy" type="id-policy" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="elenco-policy-attive">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="attivazione-policy" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elenco-id-policy-attive">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id-active-policy" type="id-active-policy" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	

	
	
	
	<!-- ********* Identificativi / Tipi / Enumerations ************* -->
	
	
	<!-- Parametri -->
	
	<xsd:complexType name="tempi-risposta-erogazione">
		<xsd:sequence>
			<xsd:element name="connection-timeout" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pa_connection_timeout"/>
							<linkit:sql-column-comment><![CDATA[Tempi di Risposta Erogazione]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo massimo (ms) che può essere impiegato dalla porta per l'attivazione di una connessione verso l'applicativo erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="read-timeout" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pa_read_timeout"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo massimo (ms) che può trascorrere prima di ricevere una risposta dall'applicativo erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempo-medio-risposta" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pa_avg_time"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo medio (ms) atteso prima di ricevere una risposta dall'applicativo erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="tempi-risposta-fruizione">
		<xsd:sequence>
			<xsd:element name="connection-timeout" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pd_connection_timeout"/>
							<linkit:sql-column-comment><![CDATA[Tempi di Risposta Fruizione]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo massimo (ms) che può essere impiegato dalla porta per l'attivazione di una connessione verso il dominio esterno]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="read-timeout" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pd_read_timeout"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo massimo (ms) che può trascorrere prima di ricevere una risposta dal dominio esterno]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempo-medio-risposta" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="pd_avg_time"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tempo medio (ms) atteso prima di ricevere una risposta dall'applicativo erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="cache">
		<xsd:sequence>
			<xsd:element name="cache" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cache"/>
							<linkit:sql-column-comment><![CDATA[Cache]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment>Indicazione se i dati statistici vengono mantenuti in una cache (abilitato/disabilitato)</linkit:sql-ddl-column-comment>                             
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="size" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cache_size"/>
							<linkit:sql-ddl-column-comment>Numero massimo di elementi che risiedono nella cache dei dati statistici</linkit:sql-ddl-column-comment>   
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="algorithm" type="cache-algorithm" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cache_algorithm"/>
							<linkit:sql-ddl-column-comment>Algoritmo di svecchiamento degli elementi che risiedono nella cache dei dati statistici (LRU/MRU)</linkit:sql-ddl-column-comment>                            
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="idle-time" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cache_idle_time"/>
							<linkit:sql-ddl-column-comment>Massimo tempo di inutilizzo (in minuti) degli elementi che risiedono nella cache dei dati statistici</linkit:sql-ddl-column-comment>               
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="life-time" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cache_life_time"/>
							<linkit:sql-ddl-column-comment>Tempo di vita (in minuti) degli elementi che risiedono nella cache dei dati statistici</linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="configurazione-controllo-traffico">
		<xsd:sequence>
			<xsd:element name="controllo-max-threads-enabled" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="max_threads_enabled"/>
							<linkit:sql-column-comment><![CDATA[Numero Massimo Richieste Simultanee]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se risulta attivo il controllo del numero massimo di richieste simultanee]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-max-threads-warning-only" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="max_threads_warning_only"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se il controllo del numero massimo di richieste simultanee è in modalità warning-only]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-max-threads-soglia" type="xsd:unsignedLong">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="max_threads"/>
							<linkit:sql-ddl-column-comment><![CDATA[Numero massimo di thread che possono essere attivi simultaneamente sulla Porta]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-max-threads-tipo-errore" type="xsd:string" default="fault">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="max_threads_tipo_errore"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di errore ritornato generato dal controllo, nel caso venga violata la soglia]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-max-threads-tipo-errore-includi-descrizione" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="max_threads_includi_errore"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se in un eventuale errore deve anche essere inclusa una descrizione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-congestione-enabled" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cc_enabled"/>
							<linkit:sql-column-comment><![CDATA[Controllo della Congestione]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se risulta attivo il controllo della congestione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controllo-congestione-threshold" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="cc_threshold"/>
							<linkit:sql-ddl-column-comment><![CDATA[Valore di soglia del controllo della congestione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="configurazione-rate-limiting">
		<xsd:sequence>
			<xsd:element name="tipo-errore" type="xsd:string" default="fault">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_tipo_errore"/>
							<linkit:sql-column-comment><![CDATA[Rate Limiting]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di errore ritornato generato dal controllo, nel caso venga violata la soglia]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipo-errore-includi-descrizione" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_includi_errore"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se in un eventuale errore deve anche essere inclusa una descrizione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="configurazione-policy">
		<xsd:sequence>
			
			<xsd:element name="id-policy" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_id"/>
							<linkit:sql-column-comment><![CDATA[Dati Generali]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Identificativo univoco della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="built-in" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_built_in"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se la policy è una policy built-in del gateway]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="descrizione" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_descrizione" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[Descrizione generale della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="risorsa" type="xsd:string" > <!--  Lascio libero in modo da aggiungere facilmente nuove policy senza intervenire sul db type="tipo-risorsa"  -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_risorsa"/>
							<linkit:sql-ddl-column-comment><![CDATA[Risorsa su cui la policy è attiva]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="simultanee" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_simultanee"/>
							<linkit:sql-column-comment><![CDATA[Valori di Soglia]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se la policy controlla il numero di richieste simultanee]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valore" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_valore" />
							<linkit:sql-ddl-column-comment><![CDATA[Valore di soglia della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valore-tipo-banda" type="tipo-banda" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_bytes_type"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di banda della soglia]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valore-tipo-latenza" type="tipo-latenza" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_latency_type"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di latenza della soglia]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modalita-controllo" type="tipo-controllo-periodo" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_modalita_controllo"/>
							<linkit:sql-ddl-column-comment><![CDATA[Modalità di controllo della policy (realtime/statistico)]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipo-intervallo-osservazione-realtime" type="tipo-periodo-realtime" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_interval_type_real"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di intervallo realtime della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipo-intervallo-osservazione-statistico" type="tipo-periodo-statistico" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_interval_type_stat"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di intervallo statistico della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intervallo-osservazione" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_interval"/>
							<linkit:sql-ddl-column-comment><![CDATA[Intervallo di osservazione della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finestra-osservazione" type="tipo-finestra" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_finestra"/>
							<linkit:sql-ddl-column-comment><![CDATA[Finestra di osservazione della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="tipo-applicabilita" type="tipo-applicabilita" default="sempre">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_applicabilita"/>
							<linkit:sql-column-comment><![CDATA[Applicabilità]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se la policy è applicata sempre o è condizionata dal verificarsi di altri eventi]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- Congestione -->
			<xsd:element name="applicabilita-con-congestione" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_applicabilita_con_cc"/>
							<linkit:sql-column-comment><![CDATA[Applicabilità con Congestione in Corso]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione che la policy è applicabile solamente in presenza di congestione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- Degrado Prestazionale -->
			<xsd:element name="applicabilita-degrado-prestazionale" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_applicabilita_degrado"/>
							<linkit:sql-column-comment><![CDATA[Applicabilità con Degrado Prestazionale]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione che la policy è applicabile solamente in presenza di degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-modalita-controllo" type="tipo-controllo-periodo" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrato_modalita_controllo"/>
							<linkit:sql-ddl-column-comment><![CDATA[Modalità di controllo del degrado prestazionale (realtime/statistico)]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-tipo-intervallo-osservazione-realtime" type="tipo-periodo-realtime" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_interval_type_real"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di intervallo realtime per il controllo sul degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-tipo-intervallo-osservazione-statistico" type="tipo-periodo-statistico" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_interval_type_stat"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di intervallo statistico per il controllo sul degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-intervallo-osservazione" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_interval"/>
							<linkit:sql-ddl-column-comment><![CDATA[Intervallo di osservazione del degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-finestra-osservazione" type="tipo-finestra" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_finestra"/>
							<linkit:sql-ddl-column-comment><![CDATA[Finestra di osservazione del degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="degrado-avg-time-tipo-latenza" type="tipo-latenza" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_latency_type"/>
							<linkit:sql-ddl-column-comment><![CDATA[Tipo di latenza utilizzato per il degrado prestazionale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- 
			Spostato sul connettore
			<xsd:element name="degrado-avg-time" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_time"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			-->
			<!-- Allarme -->
			<xsd:element name="applicabilita-stato-allarme" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="rt_applicabilita_allarme"/>
							<linkit:sql-column-comment><![CDATA[Applicabilità con Stato Allarme]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione che la policy è applicabile solamente in presenza di un allarme]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="allarme-nome" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="allarme_nome"/>
							<linkit:sql-ddl-column-comment><![CDATA[Nome dell'allarme]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="allarme-stato" type="xsd:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="allarme_stato"/>
							<linkit:sql-ddl-column-comment><![CDATA[Stato dell'allarme]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="allarme-not-stato" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="allarme_not_stato"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione che la policy è applicabile solamente in presenza o meno di un allarme]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="attivazione-policy">
		<xsd:sequence>
			
			<xsd:element name="id-active-policy" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="active_policy_id"/>
							<linkit:sql-column-comment><![CDATA[Dati Generali]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Identificativo univoco dell'attivazione di una policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alias" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_alias"/>
							<linkit:sql-ddl-column-comment><![CDATA[Alias dell'attivazione di una policy (modo alternativo per referenziare l'attivazione rispetto a 'id-active-policy')]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="update-time" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_update_time"/>
							<linkit:sql-ddl-column-comment><![CDATA[Data di aggiornamento dell'attivazione di una policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="posizione" type="xsd:int" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_posizione"/>
							<linkit:sql-ddl-column-comment><![CDATA[Posizione di applicabilità della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>				
			</xsd:element> 
			<xsd:element name="continua-valutazione" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_continue"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'attivazione specifica della policy opera in modo da continuare la valutazione di altre policy se questa non è violata]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id-policy" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_id"/>
							<linkit:sql-ddl-column-comment><![CDATA[Identificativo della policy a cui questa attivazione si riferisce]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enabled" type="xsd:boolean">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_enabled"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'attivazione specifica della policy è abilitata o meno]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="warning-only" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_warning"/>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'attivazione specifica della policy opera in modalità warning only]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ridefinisci" type="xsd:boolean"> <!-- Permette di indicare se devono essere ridefiniti i valori di default -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_redefined"/>
							<linkit:sql-column-comment><![CDATA[Valori di Soglia]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indica che il valore della soglia è stato ridefinito rispetto alla configurazione generale]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valore" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="policy_valore"/>
							<linkit:sql-ddl-column-comment><![CDATA[Valore della soglia ridefinito rispetto alla configurazione generale della policy]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			

			<!--
			Non ha più senso, spostato nel connettore
			<xsd:element name="degrado-avg-time" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="degrado_avg_time"/>
							<linkit:sql-column-comment><![CDATA[Applicabilità con Degrado Prestazionale]]></linkit:sql-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			-->
			
			<xsd:element name="filtro" type="attivazione-policy-filtro" minOccurs="1"/>
			
			<xsd:element name="group-by" type="attivazione-policy-raggruppamento" minOccurs="1"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="attivazione-policy-filtro">
		<xsd:sequence>
			
			<xsd:element name="enabled" type="xsd:boolean" default="false"> <!-- Permette di indicare se se la policy deve essere attuata solamente per determinate transazioni -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_enabled"/>
							<linkit:sql-column-comment><![CDATA[Filtro]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'attivazione della policy riguarda solamente transazioni che rientrano in un filtro specifico]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="protocollo" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_protocollo"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che rientrano nel protocollo indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ruolo-porta" type="ruolo-policy" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_ruolo"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che rientrano nel ruolo della porta indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="nome-porta" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_porta" varchar="2000"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che transitano tramite la porta indicata]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="tipo-fruitore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_tipo_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il tipo di fruitore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nome-fruitore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_nome_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il nome del fruitore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ruolo-fruitore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_ruolo_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il ruolo del fruitore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="servizio-applicativo-fruitore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_sa_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il servizio applicativo fruitore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="tipo-erogatore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_tipo_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il tipo di erogatore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nome-erogatore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_nome_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il nome dell'erogatore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ruolo-erogatore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_ruolo_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il ruolo dell'erogatore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="servizio-applicativo-erogatore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_sa_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il servizio applicativo erogatore indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="tag" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_tag"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono un servizio associato al tag indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipo-servizio" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_tipo_servizio"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il tipo di servizio indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nome-servizio" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_nome_servizio"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono il nome del servizio indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="versione-servizio" type="xsd:integer" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_versione_servizio"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono la versione del servizio indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="azione" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_azione" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che possiedono l'azione indicata]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-enabled" type="xsd:boolean" default="false" > <!-- Permette di indicare se il filtro deve utilizzare una informazione applicativa -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_key_enabled"/>
							<linkit:sql-column-comment><![CDATA[Filtro per Chiave Applicativa]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che soddisfano una informazione applicativa indicata nelle colonne 'filtro_key_type', 'filtro_key_name' e 'filtro_key_value']]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-tipo" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_key_type"/>
							<linkit:sql-ddl-column-comment><![CDATA[L'attivazione della policy riguarda solamente transazioni che soddisfano una informazione applicativa ottenuta tramite il meccanismo identificato dal tipo indicato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-nome" type="xsd:string" minOccurs="0" > <!-- Può contenere un nome di header, il nome di una proprietà, una espressione regolare o espressione xpath -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_key_name" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[Filtro key name utilizzato per estrarre l'informazione applicativa che consente di decidere se l'attivazione della policy deve essere applicata o meno]]></linkit:sql-ddl-column-comment>					
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-valore" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="filtro_key_value" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[Filtro key value utilizzato per estrarre l'informazione applicativa che consente di decidere se l'attivazione della policy deve essere applicata o meno]]></linkit:sql-ddl-column-comment>					
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
				
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:complexType name="attivazione-policy-raggruppamento">
		<xsd:sequence>
			
			<xsd:element name="enabled" type="xsd:boolean" default="false"> <!-- Permette di indicare se se la policy deve attuare un raggruppamento -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_enabled"/>
							<linkit:sql-column-comment><![CDATA[Raggruppamento]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Indicazione se i contatori della policy vengono incrementati indipendentemente dai dati di servizio in cui una transazione rientra, o si raggruppano per determinate caratteristiche delle transazioni]]></linkit:sql-ddl-column-comment>					
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ruolo-porta" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_ruolo"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per ruolo della porta]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="protocollo" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_protocollo"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per protocollo]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
						
			<xsd:element name="fruitore" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per fruitore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="servizio-applicativo-fruitore" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_sa_fruitore"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per applicativo fruitore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="identificativo-autenticato" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_id_autenticato"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per identificativo autenticato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="token" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_token" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per token (viene indicato un claim)]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="erogatore" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="servizio-applicativo-erogatore" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_sa_erogatore"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per applicativo erogatore]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="servizio" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_servizio"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per servizio]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="azione" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_azione"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per azione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-enabled" type="xsd:boolean" default="false" > 
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_key_enabled"/>
							<linkit:sql-column-comment><![CDATA[Raggruppamento per Chiave Applicativa]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati per una informazione applicativa]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-tipo" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_key_type"/>
							<linkit:sql-ddl-column-comment><![CDATA[I contatori della policy vengono raggruppati tramite una modalità applicativa indicata in questa colonna]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="informazione-applicativa-nome" type="xsd:string" minOccurs="0" > <!-- Può contenere un nome di header, il nome di una proprietà, una espressione regolare o espressione xpath -->
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="group_key_name" text="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[Può contenere un nome di header, il nome di una proprietà, una espressione regolare o espressione xpath utilizzata dalla modalità indicata nella colonna 'group_key_type']]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	

	
	
	
	<!-- ID -->
	<xsd:complexType name="id-active-policy">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- informazione aggiuntiva -->
			<xsd:element name="posizione" type="xsd:int" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="continua-valutazione" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id-policy" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enabled" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="update-time" type="xsd:dateTime" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filtro-ruolo-porta" type="ruolo-policy" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filtro-nome-porta" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-policy">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string" >
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping generate="false"/>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	<!-- Tipi -->
	
	<xsd:simpleType name="tipo-filtro-applicativo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HeaderBased"/>
			<xsd:enumeration value="URLBased"/>
			<xsd:enumeration value="FormBased"/>
			<xsd:enumeration value="SOAPActionBased"/>
			<xsd:enumeration value="ContentBased"/>
			<xsd:enumeration value="IndirizzoIP"/>
			<xsd:enumeration value="IndirizzoIP_Forwarded"/>
			<xsd:enumeration value="PluginBased"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-risorsa">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NumeroRichieste"/>
			<xsd:enumeration value="OccupazioneBanda"/>
			<xsd:enumeration value="TempoComplessivoRisposta"/>
			<xsd:enumeration value="TempoMedioRisposta"/>
			<xsd:enumeration value="NumeroRichiesteFallite"/>
			<xsd:enumeration value="NumeroRichiesteCompletateConSuccesso"/>
			<xsd:enumeration value="NumeroFaultApplicativi"/>
			<xsd:enumeration value="NumeroRichiesteFalliteOFaultApplicativi"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="ruolo-policy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="delegata"/>
			<xsd:enumeration value="applicativa"/>
			<xsd:enumeration value="entrambi"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-controllo-periodo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="realtime"/>
			<xsd:enumeration value="statistic"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-periodo-statistico">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mensile"/>
			<xsd:enumeration value="settimanale"/>
			<xsd:enumeration value="giornaliero"/>
			<xsd:enumeration value="orario"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-periodo-realtime">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="secondi"/>
			<xsd:enumeration value="minuti"/>
			<xsd:enumeration value="orario"/>
			<xsd:enumeration value="giornaliero"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-applicabilita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="sempre"/>
			<xsd:enumeration value="condizionale"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-latenza">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="servizio"/>
			<xsd:enumeration value="porta"/>
			<xsd:enumeration value="totale"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-banda">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="complessiva"/>
			<xsd:enumeration value="interna"/>
			<xsd:enumeration value="esterna"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-finestra">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="corrente"/>
			<xsd:enumeration value="precedente"/>
			<xsd:enumeration value="scorrevole"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="cache-algorithm">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LRU"/>
			<xsd:enumeration value="MRU"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-errore">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="fault"/>
			<xsd:enumeration value="http429"/>
			<xsd:enumeration value="http503"/>
			<xsd:enumeration value="http500"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tipo-token">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="issuer"/>
			<xsd:enumeration value="subject"/>
			<xsd:enumeration value="client-id"/>
			<xsd:enumeration value="username"/>
			<xsd:enumeration value="email"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
</xsd:schema>
