core/src/schemi/openspcoop2/openspcoopMonitorPluginsBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/monitor/engine/config/base"
	targetNamespace="http://www.openspcoop2.org/monitor/engine/config/base"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	<xsd:annotation>
		<xsd:appinfo>
			<linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:info version="1.0" project-name="monitor_config_base">
					<linkit:authors>
						<linkit:author name="Poli Andrea" mail="poli@link.it"/>
					</linkit:authors>
				</linkit:info>
				<linkit:jax-ws xml-annotations="true" xml-op2-types="true" ws="false"/>
			</linkit:project_generator>
			<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
				<linkit:dao>
					<linkit:jdbc generate="true"/>
					<linkit:sql>
						<linkit:sql-script generate="true">
							<linkit:sql-table-list>
								<linkit:sql-comment><![CDATA[PLUGINS]]></linkit:sql-comment>
								<linkit:sql-table object-name="plugin"	object-type="plugin"/>
								<linkit:sql-table object-name="plugin-servizio-compatibilita"	object-type="plugin-servizio-compatibilita"/>
								<linkit:sql-table object-name="plugin-servizio-azione-compatibilita"	object-type="plugin-servizio-azione-compatibilita"/>
								<linkit:sql-table object-name="plugin-proprieta-compatibilita"	object-type="plugin-proprieta-compatibilita"/>
								<linkit:sql-comment><![CDATA[CONFIGURAZIONE DEI SERVIZI PER PERSONALIZZAZIONI]]></linkit:sql-comment>
								<linkit:sql-table object-name="configurazione-servizio"
									object-type="configurazione-servizio"/>
								<linkit:sql-table object-name="configurazione-servizio-azione"
									object-type="configurazione-servizio-azione"/>
								<linkit:sql-comment><![CDATA[FILTRO PER PERSONALIZZAZIONI]]></linkit:sql-comment>
								<linkit:sql-table object-name="configurazione-filtro"
									object-type="configurazione-filtro"/>
							</linkit:sql-table-list>
						</linkit:sql-script>
						<linkit:sql-mapping single-table-mapping="false"
							on-delete-cascade="true" check-tables-order-list="false"/>
					</linkit:sql>
				</linkit:dao>
			</linkit:generator>
		</xsd:appinfo>
	</xsd:annotation>
	
	
	

	
	
	<!-- ********* PLUGIN DEI SERVIZI PER PERSONALIZZAZIONI ************* -->
	
	<xsd:simpleType name="tipo-plugin">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRANSAZIONE"/>
			<xsd:enumeration value="RICERCA"/>
			<xsd:enumeration value="STATISTICA"/>
			<xsd:enumeration value="ALLARME"/>
			<xsd:enumeration value="CONNETTORE"/>
			<xsd:enumeration value="AUTENTICAZIONE"/>
			<xsd:enumeration value="AUTORIZZAZIONE"/>
			<xsd:enumeration value="AUTORIZZAZIONE_CONTENUTI"/>
			<xsd:enumeration value="INTEGRAZIONE"/>
			<xsd:enumeration value="MESSAGE_HANDLER"/>
			<xsd:enumeration value="SERVICE_HANDLER"/>
			<xsd:enumeration value="BEHAVIOUR"/>
			<xsd:enumeration value="RATE_LIMITING"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="plugin">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-plugin"/>
					<linkit:sql-table-mapping name="plugins" comment="Plugins attivi">
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="tipo-plugin"/>
							<linkit:sql-table-unique-field name="class-name"/>
						</linkit:sql-table-unique>
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="tipo-plugin"/>
							<linkit:sql-table-unique-field name="tipo"/>
						</linkit:sql-table-unique>
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="tipo-plugin"/>
							<linkit:sql-table-unique-field name="label"/>
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<!-- Dati -->
				<xsd:element name="tipo-plugin" type="xsd:string"> <!-- lascio stringa libera per future aggiunte type="tipo-plugin" -->
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Tipologia di plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="class-name" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Nome della classe che implementa il plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="tipo" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Identificativo del plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="descrizione" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Descrizione generica del plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="label" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Label descrittiva del plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="stato" type="xsd:boolean" default="true" minOccurs="0" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Stato (abilitato/disabilitato) del plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<!-- Compatibilità (Per Transazione, Ricerca e Statistica) -->
				<xsd:element name="plugin-servizio-compatibilita"
					type="plugin-servizio-compatibilita" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-mapping name="id_plugin"
									required="true"/>
								<linkit:sql-ddl-column-comment><![CDATA[Configurazione della compatibilità del plugin per servizio]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<!-- Compatibilità -->
				<xsd:element name="plugin-proprieta-compatibilita"
					type="plugin-proprieta-compatibilita" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-mapping name="id_plugin"
									required="true"/>
								<linkit:sql-ddl-column-comment><![CDATA[Configurazione della compatibilità del plugin per proprieta]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	<xsd:complexType name="plugin-servizio-compatibilita">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-table-mapping name="plugins_servizi_comp" comment="Indica i servizi per cui i plugins sono compatibili">
						<linkit:sql-table-constraint unique="uniq_plug_ser_com" index="idx_plug_ser_com"/>
						<linkit:sql-table-index>
							<linkit:sql-table-index-column name="id_plugin"/>
						</linkit:sql-table-index>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="uri-accordo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-comment><![CDATA[Accordo di Servizio]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Accordo di servizio a cui il plugin è associato]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- Nome del port type (in caso di SOAP) -->
			<xsd:element name="servizio" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-comment><![CDATA[Nome del port-type]]></linkit:sql-column-comment>
							<linkit:sql-ddl-column-comment><![CDATA[Eventuale nome del port-type dell'accordo di servizio, in caso di tipologia SOAP]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!-- Personalizzazioni delle singole azioni di un servizio -->
			<xsd:element name="plugin-servizio-azione-compatibilita"
				type="plugin-servizio-azione-compatibilita" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-column-mapping name="id_plugin_servizio_comp"
								required="true"/>
							<linkit:sql-ddl-column-comment><![CDATA[Configurazione della compatibilità del plugin per azione]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="plugin-servizio-azione-compatibilita">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-table-mapping name="plugins_azioni_comp" comment="Indica le operazioni per cui i plugins sono compatibili">
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-column name="id_plugin_servizio_comp"/>
							<linkit:sql-table-unique-field name="azione"/>
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="azione" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-ddl-column-comment><![CDATA[Azione con cui è compatibilite il plugin]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="plugin-proprieta-compatibilita">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-table-mapping name="plugins_props_comp" comment="Indica i criteri che definiscono la compatibilità del plugin come proprieta nome-valore">
						<linkit:sql-table-constraint unique="uniq_plug_prop_com" index="idx_plug_prop_com"/>
						<linkit:sql-table-index>
							<linkit:sql-table-index-column name="id_plugin"/>
						</linkit:sql-table-index>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Regole di match -->
			<xsd:element name="nome" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-ddl-column-comment><![CDATA[Nome della proprietà]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valore" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator
							xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-ddl-column-comment><![CDATA[Valore della proprietà]]></linkit:sql-ddl-column-comment>
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	
	
	
	<!-- ********* CONFIGURAZIONE DEI SERVIZI PER PERSONALIZZAZIONI ************* -->
	
	<xsd:element name="configurazione-servizio">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-configurazione-servizio"/>
					<linkit:sql-table-mapping name="plugins_conf_servizi" comment="Plugins di un servizio">
						<linkit:sql-table-constraint unique="uniq_conf_servizi" index="idx_conf_servizi"/>
						<linkit:sql-table-index> <!-- Lo unique non lo uso poiche' non e' possibile crearlo su una colonna nullable come il servizio -->
							<linkit:sql-table-index-field name="accordo"/>
							<linkit:sql-table-index-field name="tipo-soggetto-referente"/>
							<linkit:sql-table-index-field name="nome-soggetto-referente"/>
							<linkit:sql-table-index-field name="versione"/>
							<linkit:sql-table-index-field name="servizio"/>
						</linkit:sql-table-index>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<!-- Dati dell'accordo di servizio -->
				<xsd:element name="accordo" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-comment><![CDATA[Accordo di Servizio]]></linkit:sql-column-comment>
								<linkit:sql-ddl-column-comment><![CDATA[Nome accordo di servizio per cui è stato attivato il plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="tipo-soggetto-referente" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Tipo del soggetto referente dell'accordo di servizio per cui è stato attivato il plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="nome-soggetto-referente" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Nome del soggetto referente dell'accordo di servizio per cui è stato attivato il plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="versione" type="xsd:unsignedInt" default="1" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Versione accordo di servizio per cui è stato attivato il plugin]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<!-- Nome del port type (in caso SOAP) -->
				<xsd:element name="servizio" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-comment><![CDATA[Nome del port-type]]></linkit:sql-column-comment>
								<linkit:sql-ddl-column-comment><![CDATA[Eventuale nome del port-type dell'accordo di servizio, in caso di tipologia SOAP]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<!-- Personalizzazioni delle singole azioni di un servizio -->
				<xsd:element name="configurazione-servizio-azione"
					type="id-configurazione-servizio-azione" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-id-mapping
									object-name="configurazione-servizio-azione"
									object-type="configurazione-servizio-azione"
									relationship="normal"/>
								<linkit:sql-column-mapping name="id_config_servizio"
									required="true"/>
								<linkit:sql-ddl-column-comment><![CDATA[Configurazione di una specifica azione del servizio]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	<xsd:element name="configurazione-servizio-azione">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-configurazione-servizio-azione"/>
					<linkit:sql-table-mapping name="plugins_conf_azioni" comment="Azioni per cui sono registrati i plugins">
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-column name="id_config_servizio"/>
							<linkit:sql-table-unique-field name="azione"/>
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="azione" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Azione per la quale è stata creata la seguente configurazione]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="id-configurazione-servizio" type="id-configurazione-servizio">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-id-mapping relationship="none" object-name="configurazione-servizio"
									object-type="configurazione-servizio"/>
								<linkit:sql-ddl-column-comment><![CDATA[Identificativo della configurazione (FK verso plugins_conf_servizi(id) )]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	
	
	
	
	
	
	
	
	<!-- ********* CONFIGURAZIONE FILTRO PER PERSONALIZZAZIONI ************* -->
	
	<xsd:element name="configurazione-filtro">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-configurazione-filtro"/>
					<linkit:sql-table-mapping name="plugins_conf_filtri" comment="Plugins associati ad un filtro">
						<linkit:sql-table-constraint unique="uniq_conf_filtri" index="idx_conf_filtri"/>
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field name="nome"/>
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<!-- Dati Identificativi Regola -->
				<xsd:element name="nome" type="xsd:string" >
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-comment><![CDATA[Dati Identificativi Regola]]></linkit:sql-column-comment>
								<linkit:sql-ddl-column-comment><![CDATA[Identificativo della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="descrizione" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Descrizione generica della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				
				<!-- Regole di match -->
				<xsd:element name="tipo-mittente" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-column-comment><![CDATA[Regole di Filtraggio]]></linkit:sql-column-comment>
								<linkit:sql-ddl-column-comment><![CDATA[Tipo soggetto mittente della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="nome-mittente" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Nome soggetto mittente della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="idporta-mittente" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[IdPorta soggetto mittente della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="tipo-destinatario" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Tipo soggetto destinatario della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="nome-destinatario" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Nome soggetto destinatario della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="idporta-destinatario" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[IdPorta soggetto destinatario della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="tipo-servizio" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Tipo servizio della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="nome-servizio" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Nome servizio della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="versione-servizio" type="xsd:unsignedInt" default="1" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Versione servizio della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="azione" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<linkit:generator
								xmlns:linkit="http://www.link.it/project_generator">
								<linkit:sql-ddl-column-comment><![CDATA[Azione della regola]]></linkit:sql-ddl-column-comment>
							</linkit:generator>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	
	
	
	
	<!-- ********* Identificativi / Tipi / Enumerations ************* -->
	
	<!-- ID -->
	
	<xsd:complexType name="id-plugin">
		<xsd:sequence>
			<xsd:element name="tipo-plugin" type="xsd:string" /> <!-- lascio stringa libera per future aggiunte type="tipo-plugin" -->
			<xsd:element name="tipo" type="xsd:string" />
			<xsd:element name="class-name" type="xsd:string" />
			<xsd:element name="label" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="id-configurazione-servizio">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-id-mapping relationship="none" object-name="configurazione-servizio"
						object-type="configurazione-servizio"/>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Dati dell'accordo di servizio -->
			<xsd:element name="accordo" type="xsd:string"/>
			<xsd:element name="tipo-soggetto-referente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nome-soggetto-referente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="versione" type="xsd:unsignedInt" default="1" minOccurs="0"/>
			<!-- Nome del port type -->
			<xsd:element name="servizio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-configurazione-servizio-azione">
		<!-- Relazioni definite dove viene utilizzato l'id, poiche' i nome delle foreign key differiscono da caso a caso -->
		<xsd:sequence>
			<xsd:element name="id-configurazione-servizio" type="id-configurazione-servizio"/>
			<xsd:element name="azione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-configurazione-filtro">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-id-mapping relationship="none" object-name="configurazione-filtro"
						object-type="configurazione-filtro"/>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	




	<!-- Raccoglitori -->
	
	<xsd:element name="elenco-plugin">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elenco-id-plugin">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id-plugin" type="id-plugin" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="elenco-configurazione-servizio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="configurazione-servizio" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elenco-id-configurazione-servizio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id-configurazione-servizio" type="id-configurazione-servizio" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="elenco-configurazione-filtro">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="configurazione-filtro" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elenco-id-configurazione-filtro">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id-configurazione-filtro" type="id-configurazione-filtro" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	
	
</xsd:schema>
