core/src/schemi/openspcoop2/protocolManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/protocol/manifest"
       targetNamespace="http://www.openspcoop2.org/protocol/manifest"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
       attributeFormDefault="unqualified">
       
       
       <xsd:annotation>
              <xsd:appinfo>
                     <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:info version="1.0" project-name="govway_protocolManifest">
                                   <linkit:authors>
                                          <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                                   </linkit:authors>
                            </linkit:info>
                            <linkit:jax-ws xml-annotations="true" ws="false"/>
                            <linkit:configuration>
                                   <linkit:field generateId="false" />
                            </linkit:configuration>
                     </linkit:project_generator>
                     <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:dao>
                                   <linkit:xml root-element="openspcoop2" generate="true"/>
                                   <linkit:sql>
                                          <linkit:sql-script generate="false"/>
                                          <linkit:sql-mapping single-table-mapping="false"
                                                 on-delete-cascade="false" />
                                   </linkit:sql>
                            </linkit:dao>
                     </linkit:generator>
              </xsd:appinfo>
       </xsd:annotation>


       <xsd:element name="openspcoop2">
              <xsd:annotation>
                     <xsd:appinfo>
                            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                                   <linkit:interface crud="false" />
                            </linkit:generator>
                     </xsd:appinfo>
              </xsd:annotation>
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element ref="protocol" />
                            <xsd:element ref="binding" />
                            <xsd:element ref="web"/>
                            <xsd:element ref="registry"/>
                            <xsd:element ref="urlMapping"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       
       
       <!-- Elementi principali -->
       
       <xsd:element name="protocol">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="factory" type="xsd:string"/>
                            <xsd:element name="transaction" type="transaction" minOccurs="0"/>
                     </xsd:sequence>
                     <xsd:attribute name="name" type="xsd:string" use="required" />
                     <xsd:attribute name="label" type="xsd:string" use="required" />
                     <xsd:attribute name="descrizione" type="xsd:string" use="optional" />
                     <xsd:attribute name="webSite" type="xsd:string" use="optional" />
                     <xsd:attribute name="logger" type="xsd:boolean" use="optional" default="false" />
              </xsd:complexType>
       </xsd:element>
       <xsd:complexType name="transaction">
              <xsd:attribute name="errorProtocol" type="xsd:boolean" use="optional" default="false" />
              <xsd:attribute name="labelErrorProtocol" type="xsd:string" use="optional" />
              <xsd:attribute name="externalFault" type="xsd:boolean" use="optional" default="false" />
              <xsd:attribute name="labelExternalFault" type="xsd:string" use="optional" />
       </xsd:complexType>
       
       <xsd:element name="binding">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="soap" type="SoapConfiguration" minOccurs="0" />
                            <xsd:element name="rest" type="RestConfiguration" minOccurs="0" />
                     </xsd:sequence>
                     <xsd:attribute name="default" type="ServiceBinding" use="optional" />
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="web">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="context" type="Context" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="emptyContext" type="WebEmptyContext" minOccurs="0"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="registry">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="organization" type="Organization"/>
                            <xsd:element name="service" type="Service"/>
                            <xsd:element name="versions" type="Versions"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="urlMapping">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="file" type="xsd:string"/>
                     </xsd:sequence>
                     <xsd:attribute name="type" type="urlMappingSourceType" use="required" />
              </xsd:complexType>
       </xsd:element>




       <!-- Integration -->
       
       <xsd:complexType name="Integration">
              <xsd:sequence>
                     <xsd:element name="implementation" type="IntegrationConfiguration" />
                     <xsd:element name="subscription" type="IntegrationConfiguration" />
              </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfiguration">
              <xsd:sequence>
                     <xsd:element name="name" type="IntegrationConfigurationName" />
                     <xsd:element name="resourceIdentification" type="IntegrationConfigurationResourceIdentification" />
              </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationName">
              <xsd:sequence>
                     <xsd:element name="param" type="IntegrationConfigurationElementName" maxOccurs="unbounded" />
              </xsd:sequence>
              <xsd:attribute name="useInUrl" type="xsd:boolean" use="optional" default="true"/>
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationElementName">
              <xsd:attribute name="prefix" type="xsd:string" use="optional" />
              <xsd:attribute name="actor" type="ActorType" use="optional" />
              <xsd:attribute name="suffix" type="xsd:string" use="optional" />
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationResourceIdentification">
              <xsd:sequence>
                     <xsd:element name="identificationModes" type="IntegrationConfigurationResourceIdentificationModes" />
                     <xsd:element name="identificationParameter" type="IntegrationConfigurationName" minOccurs="0" />
                     <xsd:element name="specificResource" type="IntegrationConfigurationResourceIdentificationSpecificResource" />
              </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationResourceIdentificationModes">
              <xsd:sequence>
                     <xsd:element name="mode" type="IntegrationConfigurationResourceIdentificationMode" minOccurs="1" maxOccurs="unbounded"/>
              </xsd:sequence>
              <xsd:attribute name="default" type="ResourceIdentificationType" use="optional" />
              <xsd:attribute name="forceInterfaceMode" type="xsd:boolean" use="required" />
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationResourceIdentificationMode">
             <xsd:attribute name="name" type="ResourceIdentificationType" use="required" />
             <xsd:attribute name="onlyAdvancedMode" type="xsd:boolean" use="optional" default="false" />
       </xsd:complexType>
       <xsd:complexType name="IntegrationConfigurationResourceIdentificationSpecificResource">
              <xsd:sequence>
                     <xsd:element name="name" type="IntegrationConfigurationName" />
              </xsd:sequence>
       </xsd:complexType>



  
       <!-- Integration Error -->
       
       <xsd:complexType name="IntegrationErrorConfiguration">
              <xsd:sequence>
                     <xsd:element name="internal" type="IntegrationErrorCollection" />
                     <xsd:element name="external" type="IntegrationErrorCollection" />
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="IntegrationErrorCollection">
              <xsd:sequence>
                     <xsd:element name="authentication" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="authorization" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="notFound" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="badRequest" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="tooManyRequests" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="internalError" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="default" type="DefaultIntegrationError" />
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="IntegrationError">
              <xsd:attribute name="httpReturnCode" type="xsd:int" use="required" />
              <xsd:attribute name="messageType" type="IntegrationErrorMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="DefaultIntegrationError">
              <xsd:attribute name="httpReturnCode" type="xsd:int" use="required" />
              <xsd:attribute name="messageType" type="DefaultIntegrationErrorMessageType" use="required" />
       </xsd:complexType>
       
       
       
       
       <!-- Interface Configuration -->
       
       <xsd:complexType name="InterfacesConfiguration">
              <xsd:sequence>
                     <xsd:element minOccurs="1" maxOccurs="unbounded" name="specification" type="InterfaceConfiguration" />
              </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="InterfaceConfiguration">
              <xsd:attribute name="type" type="InterfaceType" use="required"/>
              <xsd:attribute name="schema" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="conversations" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="implementation" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       
       
       <!-- Collaboration and Functionality Configuration -->
       
       <xsd:complexType name="CollaborationProfile">
              <xsd:attribute name="oneway" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="inputOutput" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="asyncInputOutput" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="polledInputOutput" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       <xsd:complexType name="Functionality">
              <xsd:attribute name="duplicateFilter" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="acknowledgement" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="conversationIdentifier" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="referenceToRequestIdentifier" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="deliveryOrder" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="expiration" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="manifestAttachments" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
 
 
       <!-- Soap Configuration -->
       
       <xsd:complexType name="SoapConfiguration">
              <xsd:sequence>
                     <xsd:element name="integration" type="Integration" />
                     <xsd:element name="integrationError" type="IntegrationErrorConfiguration" />
                     <xsd:element name="mediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="interfaces" type="InterfacesConfiguration" minOccurs="0"/>
                     <xsd:element name="profile" type="CollaborationProfile" minOccurs="0"/>
                     <xsd:element name="functionality" type="Functionality" minOccurs="0"/>
                     <xsd:element name="soapHeaderBypassMustUnderstand" type="SoapHeaderBypassMustUnderstand" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="soap11" type="xsd:boolean" use="required" />
              <xsd:attribute name="soap11_withAttachments" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap11_mtom" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap12" type="xsd:boolean" use="required" />
              <xsd:attribute name="soap12_withAttachments" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap12_mtom" type="xsd:boolean" use="optional" default="true" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeCollection">
              <xsd:sequence>
                     <xsd:element name="mediaType" type="SoapMediaTypeMapping" minOccurs="0" maxOccurs="unbounded" />
                     <xsd:element name="default" type="SoapMediaTypeDefaultMapping" minOccurs="0" maxOccurs="1" />
                     <xsd:element name="undefined" type="SoapMediaTypeUndefinedMapping" minOccurs="0" maxOccurs="1" />
              </xsd:sequence>
       </xsd:complexType>   
       
       <xsd:complexType name="SoapMediaTypeMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
                            <xsd:attribute name="regExpr" type="xsd:boolean" use="optional" default="false" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeDefaultMapping">
              <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeUndefinedMapping">
              <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapHeaderBypassMustUnderstand">
              <xsd:sequence>
                     <xsd:element name="header" type="SoapHeaderBypassMustUnderstandHeader" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="SoapHeaderBypassMustUnderstandHeader">
              <xsd:sequence>
                     <xsd:element name="localName" type="xsd:string"/>
                     <xsd:element name="namespace" type="xsd:string"/>
              </xsd:sequence>
       </xsd:complexType>



       <!-- Rest Configuration -->
      
       <!-- Indicazione se le comunicazioni REST devono essere gestite in modalità oneway o inputOutput (Fa differenza per le tracce) -->
       <xsd:complexType name="RestCollaborationProfile">
              <xsd:attribute name="oneway" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
      
       <xsd:complexType name="RestConfiguration">
              <xsd:sequence>
                     <xsd:element name="integration" type="Integration" />
                     <xsd:element name="integrationError" type="IntegrationErrorConfiguration" />
                     <xsd:element name="mediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="interfaces" type="InterfacesConfiguration" minOccurs="0"/>
                     <xsd:element name="profile" type="RestCollaborationProfile" minOccurs="0"/>
                     <xsd:element name="functionality" type="Functionality" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="xml" type="xsd:boolean" use="required" />
              <xsd:attribute name="json" type="xsd:boolean" use="required" />
              <xsd:attribute name="binary" type="xsd:boolean" use="required" />
              <xsd:attribute name="mimeMultipart" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeCollection">
              <xsd:sequence>
                     <xsd:element name="mediaType" type="RestMediaTypeMapping" minOccurs="0" maxOccurs="unbounded" />
                     <xsd:element name="default" type="RestMediaTypeDefaultMapping" minOccurs="0" maxOccurs="1" />
                     <xsd:element name="undefined" type="RestMediaTypeUndefinedMapping" minOccurs="0" maxOccurs="1" />
              </xsd:sequence>
       </xsd:complexType>     
       
       <xsd:complexType name="RestMediaTypeMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="messageType" type="RestMessageType" use="required" />
                            <xsd:attribute name="regExpr" type="xsd:boolean" use="optional" default="false" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeDefaultMapping">
              <xsd:attribute name="messageType" type="RestMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeUndefinedMapping">
              <xsd:attribute name="messageType" type="RestMessageType" use="required" />
       </xsd:complexType>

       
      

       <!-- Context Configuration -->

       <xsd:complexType name="Context">
              <xsd:sequence>
                     <xsd:element name="subContext" type="SubContextMapping" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="emptySubContext" type="EmptySubContextMapping" minOccurs="0" />
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:string" use="required" />
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       <xsd:complexType name="WebEmptyContext">
              <xsd:sequence>
                     <xsd:element name="subContext" type="SubContextMapping" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="emptySubContext" type="EmptySubContextMapping" minOccurs="0" />
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="enabled" type="xsd:boolean" use="required"/>
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       <xsd:complexType name="SubContextMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="function" type="FunctionType" use="optional" />
                            <xsd:attribute name="messageType" type="MessageType" use="required" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       <xsd:complexType name="EmptySubContextMapping">
              <xsd:attribute name="function" type="FunctionType" use="optional" />
              <xsd:attribute name="messageType" type="MessageType" use="required" />
       </xsd:complexType>



       <!-- Organization Configuration -->
       
       <xsd:complexType name="Organization">
              <xsd:sequence>
                     <xsd:element name="types" type="OrganizationTypes"/>
              </xsd:sequence>
              <xsd:attribute name="authentication" type="xsd:boolean" use="optional" default="true"/>
	      <xsd:attribute name="codeDomain" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="codeIPA" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="replyToAddress" type="xsd:boolean" use="optional" default="false"/> <!-- replyToAddress -->
       </xsd:complexType>

       <xsd:complexType name="OrganizationTypes">
              <xsd:sequence>
                     <xsd:element name="type" type="OrganizationType" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="OrganizationType">
              <xsd:attribute name="name" type="xsd:string" use="required" />
              <xsd:attribute name="protocol" type="xsd:string" use="optional" /> <!-- Se il tipo serializzato nel protocollo risulta differente -->
       </xsd:complexType>
       
       
       
       <!-- Service Configuration -->
       
       <xsd:complexType name="Service">
              <xsd:sequence>
                     <xsd:element name="types" type="ServiceTypes"/>
              </xsd:sequence>
              <xsd:attribute name="apiReferent" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="version" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="protocolEnvelopeManagement" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="faultChoice" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="correlationReuseProtocolId" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="trace" type="xsd:boolean" use="optional" default="true"/>
       </xsd:complexType>
       
       <xsd:complexType name="ServiceTypes">
              <xsd:sequence>
                     <xsd:element name="type" type="ServiceType" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="ServiceType">
              <xsd:sequence>
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:string" use="required" />
              <xsd:attribute name="protocol" type="xsd:string" use="optional" /> <!-- Se il tipo serializzato nel protocollo risulta differente -->
              <xsd:attribute name="messageType" type="MessageType" use="optional"  />
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       
       
       <!-- Version Configuration -->
       
       <xsd:complexType name="Versions">
              <xsd:sequence>
                     <xsd:element name="version" type="Version" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="Version">
              <xsd:attribute name="name" type="xsd:string" use="required" />
       </xsd:complexType>


       <!-- Enumeration -->
       
       <xsd:simpleType name="ServiceBinding">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap"/>
                     <xsd:enumeration value="rest"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="SoapMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap11"/>
                     <xsd:enumeration value="soap12"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="RestMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="binary"/>
                     <xsd:enumeration value="mimeMultipart"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="MessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap11"/>
                     <xsd:enumeration value="soap12"/>
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="binary"/>
                     <xsd:enumeration value="mimeMultipart"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="IntegrationErrorMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soapAsRequest"/>
                     <xsd:enumeration value="soap11"/>
                     <xsd:enumeration value="soap12"/>
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="none"/>
                     <xsd:enumeration value="sameAsRequest"/>
              </xsd:restriction>
       </xsd:simpleType>
       <xsd:simpleType name="DefaultIntegrationErrorMessageType">
              <xsd:restriction base="xsd:string">
                     <!-- I tipi default devono essere tipi primitivi -->
                     <xsd:enumeration value="soap11"/>
                     <xsd:enumeration value="soap12"/>
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="none"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="FunctionType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="PD"/>
                     <xsd:enumeration value="PA"/>
                     <xsd:enumeration value="PDtoSOAP"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="urlMappingSourceType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="PROPERTIES"/>
                     <xsd:enumeration value="XML"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="InterfaceType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="wsdl11"/>
                     <xsd:enumeration value="wadl"/>
                     <xsd:enumeration value="swagger2"/>
                     <xsd:enumeration value="openApi3"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="ActorType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="subscriberType"/>
                     <xsd:enumeration value="subscriberName"/>
                     <xsd:enumeration value="providerType"/>
                     <xsd:enumeration value="providerName"/>
                     <xsd:enumeration value="serviceType"/>
                     <xsd:enumeration value="serviceName"/>
                     <xsd:enumeration value="serviceVersion"/>
                     <xsd:enumeration value="name"/> <!-- Nome Porta di Default -->
                     <xsd:enumeration value="ruleName"/> <!-- Nome Regola Specifica per un set di azioni -->
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="ResourceIdentificationType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="protocol"/>
                     <!-- non sembra avere senso: <xsd:enumeration value="registry"/> -->
                     <xsd:enumeration value="interface"/>
                     <xsd:enumeration value="header"/>
                     <xsd:enumeration value="url"/>
                     <xsd:enumeration value="content"/>
                     <xsd:enumeration value="input"/>
                     <xsd:enumeration value="soapAction"/>
              </xsd:restriction>
       </xsd:simpleType>
     
</xsd:schema>
