protocolli/modipa/example/soap/nonBlocking/pull/src/schemi/soap-nonblocking.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	name="SOAPPullService"
	targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
	<wsdl:types>
		<xs:schema 
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
			
			<xs:element name="MProcessingStatus" type="tns:MProcessingStatus" />
			<xs:element name="MProcessingStatusResponse" type="tns:MProcessingStatusResponse" />
			
			<xs:element name="MRequest" type="tns:MRequest" />
			<xs:element name="MRequestResponse" type="tns:MRequestResponse" />
			
			<xs:element name="MResponse" type="tns:MResponse" />
			<xs:element name="MResponseResponse" type="tns:MResponseResponse" />
			
			<xs:element name="ErrorMessageFault" nillable="true" type="tns:errorMessageFault" />
			<xs:element name="X-Correlation-ID" nillable="true" type="xs:string" />
			
			
			<xs:complexType name="MProcessingStatus"/>
			<xs:complexType name="MProcessingStatusResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:processingStatus" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="MRequest">
				<xs:sequence>
					<xs:element name="M" type="tns:mType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MRequestResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"	type="tns:processingStatus" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="MResponse"/>
			<xs:complexType name="MResponseResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:mResponseType" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="mType">
				<xs:sequence>
					<xs:element minOccurs="0" name="o_id" type="xs:int" />
					<xs:element minOccurs="0" name="a" type="tns:aComplexType" />
					<xs:element minOccurs="0" name="b" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="aComplexType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"	name="a1s" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="a2" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			
			
			
			<xs:complexType name="processingStatus">
				<xs:sequence>
					<xs:element name="status" type="xs:string" />
					<xs:element name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="mResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" name="c" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="errorMessageFault">
				<xs:sequence>
					<xs:element name="customFaultCode" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="MProcessingStatus">
		<wsdl:part element="tns:MProcessingStatus" name="parameters"/>
		<wsdl:part element="tns:X-Correlation-ID" name="X-Correlation-ID"/>
	</wsdl:message>
	
	<wsdl:message name="MProcessingStatusResponse">
		<wsdl:part element="tns:MProcessingStatusResponse"	name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="MRequest">
		<wsdl:part element="tns:MRequest" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="MRequestResponse">
		<wsdl:part element="tns:MRequestResponse" name="result"/>
		<wsdl:part element="tns:X-Correlation-ID" name="X-Correlation-ID"/>
	</wsdl:message>
	
	<wsdl:message name="MResponse">
		<wsdl:part element="tns:MResponse" name="parameters"/>
		<wsdl:part element="tns:X-Correlation-ID" name="X-Correlation-ID"/>
	</wsdl:message>
	
	<wsdl:message name="MResponseResponse">
		<wsdl:part element="tns:MResponseResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="ErrorMessageException">
		<wsdl:part element="tns:ErrorMessageFault" name="ErrorMessageException"/>
	</wsdl:message>
	
	<wsdl:portType name="SOAPPull">
		
		<wsdl:operation name="MRequest">
			<wsdl:input message="tns:MRequest" name="MRequest"/>
			<wsdl:output message="tns:MRequestResponse" name="MRequestResponse"/>
			<wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException"/>
		</wsdl:operation>
		
		<wsdl:operation name="MProcessingStatus">
			<wsdl:input message="tns:MProcessingStatus"	name="MProcessingStatus"/>
			<wsdl:output message="tns:MProcessingStatusResponse" name="MProcessingStatusResponse"/>
			<wsdl:fault message="tns:ErrorMessageException"	name="ErrorMessageException"/>
		</wsdl:operation>
		
		<wsdl:operation name="MResponse">
			<wsdl:input message="tns:MResponse" name="MResponse"/>
			<wsdl:output message="tns:MResponseResponse" name="MResponseResponse"/>
			<wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException"/>
		</wsdl:operation>
		
	</wsdl:portType>
	<wsdl:binding name="SOAPPullServiceSoapBinding" type="tns:SOAPPull">
		<soap:binding style="document"	transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="MRequest">
			<soap:operation soapAction="" style="document" />
			
			<wsdl:input name="MRequest">
				<soap:body use="literal" />
			</wsdl:input>
			
			<wsdl:output name="MRequestResponse">
				<soap:header message="tns:MRequestResponse"	part="X-Correlation-ID" use="literal"/>
				<soap:body parts="result" use="literal" />
			</wsdl:output>
			
			<wsdl:fault name="ErrorMessageException">
				<soap:fault name="ErrorMessageException" use="literal" />
			</wsdl:fault>
			
		</wsdl:operation>
		
		<wsdl:operation name="MProcessingStatus">
			<soap:operation soapAction="" style="document" />
			
			<wsdl:input name="MProcessingStatus">
				<soap:header message="tns:MProcessingStatus" part="X-Correlation-ID" use="literal"/>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			
			<wsdl:output name="MProcessingStatusResponse">
				<soap:body use="literal" />
			</wsdl:output>
			
			<wsdl:fault name="ErrorMessageException">
				<soap:fault name="ErrorMessageException" use="literal" />
			</wsdl:fault>
			
		</wsdl:operation>
		
		<wsdl:operation name="MResponse">
			<soap:operation soapAction="" style="document" />
			
			<wsdl:input name="MResponse">
				<soap:header message="tns:MResponse" part="X-Correlation-ID" use="literal"/>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			
			<wsdl:output name="MResponseResponse">
				<soap:body use="literal" />
			</wsdl:output>
			
			<wsdl:fault name="ErrorMessageException">
				<soap:fault name="ErrorMessageException" use="literal" />
			</wsdl:fault>
		
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="SOAPPullService">
		<wsdl:port binding="tns:SOAPPullServiceSoapBinding" name="SOAPPullPort">
			<soap:address location="https://api.amministrazioneesempio.it/soap/nomeinterfacciaservizio/v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>