tools/ws/transazioni/server/deploy/wsdl/TransazioneApplicativoServerSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://www.openspcoop2.org/core/transazioni/management" 
			xmlns:api="http://www.openspcoop2.org/core/transazioni" 
			attributeFormDefault="unqualified" 
			elementFormDefault="qualified" 
			targetNamespace="http://www.openspcoop2.org/core/transazioni/management">
			
 	<xsd:import schemaLocation="openspcoopTransazioni.xsd" namespace="http://www.openspcoop2.org/core/transazioni"/>

	<!-- FILTRI -->

	<xsd:element name="search-filter-transazione-applicativo-server" type="tns:search-filter-transazione-applicativo-server" />
	<xsd:complexType name="search-filter-transazione-applicativo-server">
		<xsd:sequence>
 			<xsd:element name="id-transazione" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="servizio-applicativo-erogatore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="connettore-nome" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-registrazione-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-registrazione-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="protocollo" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="consegna-terminata" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-messaggio-scaduto-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-messaggio-scaduto-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="dettaglio-esito" type="xsd:int" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="consegna-trasparente" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="consegna-integration-manager" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="identificativo-messaggio" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-accettazione-richiesta-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-accettazione-richiesta-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-uscita-richiesta-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-uscita-richiesta-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-accettazione-risposta-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-accettazione-risposta-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-ingresso-risposta-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-ingresso-risposta-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="richiesta-uscita-bytes-min" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="richiesta-uscita-bytes-max" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="risposta-ingresso-bytes-min" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="risposta-ingresso-bytes-max" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="location-connettore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="codice-risposta" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="formato-fault" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-primo-tentativo-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-primo-tentativo-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="cluster-id-presa-in-carico" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="cluster-id-consegna" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-ultimo-errore-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-ultimo-errore-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="dettaglio-esito-ultimo-errore" type="xsd:int" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="codice-risposta-ultimo-errore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="ultimo-errore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="location-ultimo-errore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="cluster-id-ultimo-errore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="formato-fault-ultimo-errore" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-primo-prelievo-im-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-primo-prelievo-im-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-prelievo-im-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-prelievo-im-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-eliminazione-im-min" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="data-eliminazione-im-max" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="cluster-id-prelievo-im" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="cluster-id-eliminazione-im" type="xsd:string" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
 			<xsd:element name="descOrder" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>




	<!-- EXCEPTION -->
	<xsd:element name="transazioni-service-exception" type="tns:transazioni-service-exception"/>
	<xsd:complexType name="transazioni-service-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="transazioni-not-found-exception" type="tns:transazioni-not-found-exception"/>
	<xsd:complexType name="transazioni-not-found-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="transazioni-multiple-result-exception" type="tns:transazioni-multiple-result-exception"/>
	<xsd:complexType name="transazioni-multiple-result-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="transazioni-not-implemented-exception" type="tns:transazioni-not-implemented-exception"/>
	<xsd:complexType name="transazioni-not-implemented-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="transazioni-not-authorized-exception" type="tns:transazioni-not-authorized-exception"/>
	<xsd:complexType name="transazioni-not-authorized-exception">
		<xsd:sequence>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="objectId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorStackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>



	<!-- WRAPPED ELEMENT -->

	<xsd:element name="findAll" type="tns:findAll" />
	<xsd:complexType name="findAll">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findAllResponse" type="tns:findAllResponse" />
	<xsd:complexType name="findAllResponse">
		<xsd:sequence>
			<xsd:element ref="api:transazione-applicativo-server" minOccurs="0" maxOccurs="unbounded"  />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="find" type="tns:find" />
	<xsd:complexType name="find">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findResponse" type="tns:findResponse" />
	<xsd:complexType name="findResponse">
		<xsd:sequence>
			<xsd:element ref="api:transazione-applicativo-server" minOccurs="1" maxOccurs="1"  />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="count" type="tns:count" />
	<xsd:complexType name="count">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="countResponse" type="tns:countResponse" />
	<xsd:complexType name="countResponse">
		<xsd:sequence>
			<xsd:element name="count" type="xsd:long" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="get" type="tns:get" />
	<xsd:complexType name="get">
		<xsd:sequence>
			<xsd:element name="idTransazioneApplicativoServer" type="api:id-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="getResponse" type="tns:getResponse" />
	<xsd:complexType name="getResponse">
		<xsd:sequence>
			<xsd:element ref="api:transazione-applicativo-server" minOccurs="1" maxOccurs="1"  />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="exists" type="tns:exists" />
	<xsd:complexType name="exists">
		<xsd:sequence>
			<xsd:element name="idTransazioneApplicativoServer" type="api:id-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="existsResponse" type="tns:existsResponse" />
	<xsd:complexType name="existsResponse">
		<xsd:sequence>
			<xsd:element name="exists" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="findAllIds" type="tns:findAllIds" />
	<xsd:complexType name="findAllIds">
		<xsd:sequence>
			<xsd:element name="filter" type="tns:search-filter-transazione-applicativo-server" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findAllIdsResponse" type="tns:findAllIdsResponse" />
	<xsd:complexType name="findAllIdsResponse">
		<xsd:sequence>
			<xsd:element name="idTransazioneApplicativoServer" type="api:id-transazione-applicativo-server" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>