tools/web_interfaces/lib/queue/deploy/sql/xsd/Operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/queue" targetNamespace="http://www.openspcoop2.org/queue"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="Operations">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Operations ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="operations" object-type="operations"/>
                                <linkit:sql-table object-name="parameters" object-type="parameters"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="operations">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="operations" sequence-cycle="true"
                                              comment="Storico delle operazioni propagate dalla console di configurazione remota">
                        <linkit:sql-table-index name="operations_superuser">
                            <linkit:sql-table-index-field name="superuser"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="operations_precedenti">
                            <linkit:sql-table-index-column name="id"/>
                            <linkit:sql-table-index-field name="deleted"/>
                            <linkit:sql-table-index-field name="hostname"/>
                            <linkit:sql-table-index-field name="timereq" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="operations_gdo">
                            <linkit:sql-table-index-field name="timereq" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="operation" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="operation"/>
                                <linkit:sql-ddl-column-comment>Tipo di operazione (add/change/del)</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo"/>
                                <linkit:sql-ddl-column-comment>Tipo dell'oggetto per cui è stata richiesta l'operazione definita nella colonna 'operation'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="superuser" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="superuser"/>
                                <linkit:sql-ddl-column-comment>Utente che ha richiesta l'operazione definita nella colonna 'operation'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="hostname" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="hostname"/>
                                <linkit:sql-ddl-column-comment>Hostname verso cui l'operazione è stata propagata</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="status" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="status"/>
                                <linkit:sql-ddl-column-comment>Stato dell'operazione (indica se l'operazione è andata a buon fine o meno)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="details" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="details" text="true"/>
                                <linkit:sql-ddl-column-comment>Dettaglio sull'esito dell'operazione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="timereq" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="timereq"/>
                                <linkit:sql-ddl-column-comment>Data in cui l'operazione è stata richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="timexecute" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="timexecute"/>
                                <linkit:sql-ddl-column-comment>Data in cui l'operazione è stata eseguita</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="deleted" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="deleted"/>
                                <linkit:sql-ddl-column-comment>Indica che l'operazione è eliminabile poichè completata</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="parameters">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="parameters" sequence-cycle="true"
                                               comment="Parametri delle operazioni propagate dalla console di configurazione remota">
                        <linkit:sql-table-foreign-key
                            reference-object-name="operations"
                            reference-object-type="operations"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_operations"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="parameters_index">
                            <linkit:sql-table-index-field name="name"/>
                            <linkit:sql-table-index-field name="value"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_operations" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_operations"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'operazione [FK verso tabella operations(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                                <linkit:sql-ddl-column-comment>Nome del parametro</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value"/>
                                <linkit:sql-ddl-column-comment>Valore del parametro</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
