tools/ws/monitor/server/deploy/wsdl/MessaggioAll.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/pdd/monitor/management" 
				  name="MessaggioService"
				  targetNamespace="http://www.openspcoop2.org/pdd/monitor/management">

	<!-- TYPES -->
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.openspcoop2.org/pdd/monitor/management"
						schemaLocation="MessaggioAll.xsd"/>
		</xs:schema>
	</wsdl:types>
  
	<!-- MESSAGES -->
	  
	<wsdl:message name="findAll">
		<wsdl:part element="tns:findAll" name="findAll"/>
	</wsdl:message>
	<wsdl:message name="findAllResponse">
		<wsdl:part element="tns:findAllResponse" name="findAllResponse"/>
	</wsdl:message>


	<wsdl:message name="count">
		<wsdl:part element="tns:count" name="count"/>
	</wsdl:message>
	<wsdl:message name="countResponse">
		<wsdl:part element="tns:countResponse" name="countResponse"/>
	</wsdl:message>


		

	<wsdl:message name="deleteAllByFilter">
		<wsdl:part element="tns:deleteAllByFilter" name="deleteAllByFilter"/>
	</wsdl:message>
	<wsdl:message name="deleteAllByFilterResponse">
		<wsdl:part element="tns:deleteAllByFilterResponse" name="deleteAllByFilterResponse"/>
	</wsdl:message>
	
    

	<wsdl:message name="monitor-service-exception">
		<wsdl:part element="tns:monitor-service-exception" name="monitor-service-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-found-exception">
		<wsdl:part element="tns:monitor-not-found-exception" name="monitor-not-found-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-multiple-result-exception">
		<wsdl:part element="tns:monitor-multiple-result-exception" name="monitor-multiple-result-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-implemented-exception">
		<wsdl:part element="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-authorized-exception">
		<wsdl:part element="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
	</wsdl:message>


	<!-- INTERFACE --> 
	 
	<wsdl:portType name="Messaggio">

		<wsdl:operation name="findAll">
			<wsdl:input message="tns:findAll" name="findAll"/>
			<wsdl:output message="tns:findAllResponse" name="findAllResponse"/>
			<wsdl:fault message="tns:monitor-service-exception" name="monitor-service-exception"/>
			<wsdl:fault message="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
			<wsdl:fault message="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
		</wsdl:operation>


		<wsdl:operation name="count">
			<wsdl:input message="tns:count" name="count"/>
			<wsdl:output message="tns:countResponse" name="countResponse"/>
			<wsdl:fault message="tns:monitor-service-exception" name="monitor-service-exception"/>
			<wsdl:fault message="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
			<wsdl:fault message="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
		</wsdl:operation>


		

		<wsdl:operation name="deleteAllByFilter">
			<wsdl:input message="tns:deleteAllByFilter" name="deleteAllByFilter"/>
			<wsdl:output message="tns:deleteAllByFilterResponse" name="deleteAllByFilterResponse"/>
			<wsdl:fault message="tns:monitor-service-exception" name="monitor-service-exception"/>
			<wsdl:fault message="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
			<wsdl:fault message="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
		</wsdl:operation>
	
    

	</wsdl:portType>
	
</wsdl:definitions>
