tools/ws/monitor/server/deploy/wsdl/StatoPddAll.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/pdd/monitor/management" 
				  name="StatoPddService"
				  targetNamespace="http://www.openspcoop2.org/pdd/monitor/management">

	<!-- TYPES -->
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.openspcoop2.org/pdd/monitor/management"
						schemaLocation="StatoPddAll.xsd"/>
		</xs:schema>
	</wsdl:types>
  
	<!-- MESSAGES -->
	  

	<wsdl:message name="find">
		<wsdl:part element="tns:find" name="find"/>
	</wsdl:message>
	<wsdl:message name="findResponse">
		<wsdl:part element="tns:findResponse" name="findResponse"/>
	</wsdl:message>



		

	
    

	<wsdl:message name="monitor-service-exception">
		<wsdl:part element="tns:monitor-service-exception" name="monitor-service-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-found-exception">
		<wsdl:part element="tns:monitor-not-found-exception" name="monitor-not-found-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-multiple-result-exception">
		<wsdl:part element="tns:monitor-multiple-result-exception" name="monitor-multiple-result-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-implemented-exception">
		<wsdl:part element="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
	</wsdl:message>

	<wsdl:message name="monitor-not-authorized-exception">
		<wsdl:part element="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
	</wsdl:message>


	<!-- INTERFACE --> 
	 
	<wsdl:portType name="StatoPdd">


		<wsdl:operation name="find">
			<wsdl:input message="tns:find" name="find"/>
			<wsdl:output message="tns:findResponse" name="findResponse"/>
			<wsdl:fault message="tns:monitor-service-exception" name="monitor-service-exception"/>
			<wsdl:fault message="tns:monitor-not-found-exception" name="monitor-not-found-exception"/>
			<wsdl:fault message="tns:monitor-multiple-result-exception" name="monitor-multiple-result-exception"/>
			<wsdl:fault message="tns:monitor-not-implemented-exception" name="monitor-not-implemented-exception"/>
			<wsdl:fault message="tns:monitor-not-authorized-exception" name="monitor-not-authorized-exception"/>
		</wsdl:operation>



		

	
    

	</wsdl:portType>
	
</wsdl:definitions>
