tools/ws/registry/server/deploy/wsdl/AccordoServizioParteSpecificaCRUD_PortSoap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/registry/management" 
				  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				  name="AccordoServizioParteSpecificaService"
				  targetNamespace="http://www.openspcoop2.org/core/registry/management">

	<wsdl:import namespace="http://www.openspcoop2.org/core/registry/management" 
				 location="AccordoServizioParteSpecificaCRUD.wsdl"/>
	
	<!-- BINDING (SOAP12) --> 
	
	<wsdl:binding name="AccordoServizioParteSpecificaServiceSoap12Binding" type="tns:AccordoServizioParteSpecifica">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>



		<wsdl:operation name="create">
			<soap12:operation soapAction="create" soapActionRequired="true" style="document"/>
			<wsdl:input name="create">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="update">
			<soap12:operation soapAction="update" soapActionRequired="true" style="document"/>
			<wsdl:input name="update">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-found-exception">
				<soap12:fault name="registry-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="updateOrCreate">
			<soap12:operation soapAction="updateOrCreate" soapActionRequired="true" style="document"/>
			<wsdl:input name="updateOrCreate">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateOrCreateResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="deleteById">
			<soap12:operation soapAction="deleteById" soapActionRequired="true" style="document"/>
			<wsdl:input name="deleteById">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteByIdResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="deleteAll">
			<soap12:operation soapAction="deleteAll" soapActionRequired="true" style="document"/>
			<wsdl:input name="deleteAll">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteAllResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="deleteAllByFilter">
			<soap12:operation soapAction="deleteAllByFilter" soapActionRequired="true" style="document"/>
			<wsdl:input name="deleteAllByFilter">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteAllByFilterResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	
		<wsdl:operation name="delete">
			<soap12:operation soapAction="delete" soapActionRequired="true" style="document"/>
			<wsdl:input name="delete">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap12:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap12:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap12:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
    

	</wsdl:binding>

	<!-- SERVICE -->	
	<wsdl:service name="AccordoServizioParteSpecificaSoap12Service">	
	
		<wsdl:port binding="tns:AccordoServizioParteSpecificaServiceSoap12Binding" name="AccordoServizioParteSpecificaPortSoap12">
			<soap12:address location="http://localhost:8080/registry/AccordoServizioParteSpecifica/Soap12"/>
		</wsdl:port>
					
	</wsdl:service>
	
</wsdl:definitions>
