tools/ws/registry/server/deploy/wsdl/AccordoCooperazioneSearch_PortSoap11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/registry/management" 
				  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
				  name="AccordoCooperazioneService"
				  targetNamespace="http://www.openspcoop2.org/core/registry/management">

	<wsdl:import namespace="http://www.openspcoop2.org/core/registry/management" 
				 location="AccordoCooperazioneSearch.wsdl"/>
	
	<!-- BINDING (SOAP11) --> 
	
	<wsdl:binding name="AccordoCooperazioneServiceSoap11Binding" type="tns:AccordoCooperazione">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="findAll">
			<soap11:operation soapAction="findAll" style="document"/>
			<wsdl:input name="findAll">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="find">
			<soap11:operation soapAction="find" style="document"/>
			<wsdl:input name="find">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-found-exception">
				<soap11:fault name="registry-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-multiple-result-exception">
				<soap11:fault name="registry-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="count">
			<soap11:operation soapAction="count" style="document"/>
			<wsdl:input name="count">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="countResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="get">
			<soap11:operation soapAction="get" style="document"/>
			<wsdl:input name="get">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-found-exception">
				<soap11:fault name="registry-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-multiple-result-exception">
				<soap11:fault name="registry-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="exists">
			<soap11:operation soapAction="exists" style="document"/>
			<wsdl:input name="exists">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="existsResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-multiple-result-exception">
				<soap11:fault name="registry-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="findAllIds">
			<soap11:operation soapAction="findAllIds" style="document"/>
			<wsdl:input name="findAllIds">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllIdsResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="inUse">
			<soap11:operation soapAction="inUse" style="document"/>
			<wsdl:input name="inUse">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="inUseResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="registry-service-exception">
				<soap11:fault name="registry-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-found-exception">
				<soap11:fault name="registry-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-implemented-exception">
				<soap11:fault name="registry-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="registry-not-authorized-exception">
				<soap11:fault name="registry-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>


	</wsdl:binding>

	<!-- SERVICE -->	
	<wsdl:service name="AccordoCooperazioneSoap11Service">	

		<wsdl:port binding="tns:AccordoCooperazioneServiceSoap11Binding" name="AccordoCooperazionePortSoap11">
			<soap11:address location="http://localhost:8080/registry/AccordoCooperazione/Soap11"/>
		</wsdl:port>	
			
	</wsdl:service>
	
</wsdl:definitions>
