tools/ws/registry/server/deploy/wsdl/registroServizi.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openspcoop2.org/core/registry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openspcoop2.org/core/registry">
	
	
	
	
	
	
	
	
	
	<!-- il registro Servizi contiene la definizione dei vari soggetti 
		e di possibili connettori associati ai soggetti oltre alla definizione degli accordi di servizio -->
	<xsd:element name="registro-servizi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="accordo-cooperazione"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="accordo-servizio-parte-comune"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="porta-dominio"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ruolo"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="scope"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="gruppo"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="soggetto"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="connettore"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	
	<!-- Accordi di Cooperazione -->
	<xsd:element name="accordo-cooperazione" type="accordo-cooperazione"/>
	<xsd:complexType name="accordo-cooperazione">
		
		<xsd:sequence>
			<!-- start-extensions -->
			<!-- URI Accordi -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="uri-servizi-composti" type="xsd:string"/>
			<!-- end-extensions -->
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto-referente" type="id-soggetto"/>
			<!-- Elenco Partecipanti -->
			<xsd:element maxOccurs="1" minOccurs="0" name="elenco-partecipanti" type="accordo-cooperazione-partecipanti"/>
			<!-- Allegati -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="allegato" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-semiformale" type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="stato-package" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="privato" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="accordo-cooperazione-partecipanti">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="soggetto-partecipante" type="id-soggetto"/>
			<!-- minOccurs="2"/> Altrimenti non e' utilizzabile durante una esportazione per un accordo senza soggetti -->
			<!-- Il check che ne esistano 2 e' stato spostato a livello semantico di stato 'finale' -->
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Accordo di Servizio (Parte Comune) -->
	<xsd:element name="accordo-servizio-parte-comune" type="accordo-servizio-parte-comune"/>
	<xsd:complexType name="accordo-servizio-parte-comune">
		
		<xsd:sequence>
			<!-- Soggetto Referente dell'accordo -->
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto-referente" type="id-soggetto"/>
			<!-- Indicazione che l'accordo di servizio rappresenta un servizio composto (utilizzato in un accordo di cooperazione) -->
			<xsd:element maxOccurs="1" minOccurs="0" name="servizio-composto" type="accordo-servizio-parte-comune-servizio-composto"/>
			<!-- Azioni incluse nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione" type="azione"/>
			<!-- Port-Type inclusi nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="port-type" type="port-type"/>
			<!-- Risorse definite nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="resource" type="resource"/>
			<!-- Allegati -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="allegato" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-semiformale" type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
			<!-- Gruppi -->
			<xsd:element maxOccurs="1" minOccurs="0" name="gruppi" type="gruppi-accordo"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="stato-package" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="privato" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-definitorio" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-concettuale" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-logico-erogatore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-logico-fruitore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-specifica-conversazione-concettuale" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-specifica-conversazione-erogatore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-specifica-conversazione-fruitore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="service-binding" type="ServiceBinding" use="required"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="formato-specifica" type="FormatoSpecifica" use="optional"/>
		<xsd:attribute name="wsdl-definitorio" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="wsdl-concettuale" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="wsdl-logico-erogatore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="wsdl-logico-fruitore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="specifica-conversazione-concettuale" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="specifica-conversazione-erogatore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="specifica-conversazione-fruitore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute default="false" name="utilizzo-senza-azione" type="xsd:boolean">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="filtro-duplicati" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="conferma-ricezione" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="id-collaborazione" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="id-riferimento-richiesta" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="consegna-in-ordine" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="scadenza" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="canale" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="accordo-servizio-parte-comune-servizio-composto">
		<xsd:sequence>
			<!-- Servizi componenti -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="servizio-componente" type="accordo-servizio-parte-comune-servizio-composto-servizio-componente"/>
				<!-- minOccurs="2"/> Altrimenti non e' utilizzabile durante una esportazione per un accordo senza servizi componenti -->
				<!-- Il check che ne esistano 2 e' stato spostato a livello semantico di stato 'finale' -->
			<!-- Specifiche Coordinamento -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-coordinamento" type="documento"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-accordo-cooperazione" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="accordo-cooperazione" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="accordo-servizio-parte-comune-servizio-composto-servizio-componente">
		<!-- start-extensions -->
		<xsd:attribute name="id-servizio-componente" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo-soggetto" type="xsd:string" use="required"/>
		<xsd:attribute name="nome-soggetto" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="azione" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- port-type -->
	<xsd:complexType name="port-type">
		<xsd:sequence>
			<!-- Operations indicate per il port-type -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione" type="operation"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="profilo-p-t" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="document" name="style" type="BindingStyle"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
	</xsd:complexType>
	
	<!-- azione -->
	<xsd:complexType name="azione">
		<xsd:sequence>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="prof-azione" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="correlata" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- operation -->
	<xsd:complexType name="operation">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="message-input" type="message"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="message-output" type="message"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="prof-azione" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-port-type" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="style" type="BindingStyle"/>
		<xsd:attribute name="soap-action" type="xsd:string"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="correlata-servizio" type="xsd:string"/>
		<xsd:attribute name="correlata" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Definizione di un messaggio per una operation -->
	<xsd:complexType name="message">
		<xsd:sequence>
			<!-- Modificato in minOccurs=0 per gestire la possibile configurazione incrementale via WS -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="part" type="message-part"/>			
		</xsd:sequence>
		<xsd:attribute default="literal" name="use" type="BindingUse"/>
		<xsd:attribute name="soap-namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="message-part">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="element-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="element-namespace" type="xsd:string" use="optional"/>
		<xsd:attribute name="type-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="type-namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- Risorsa REST -->
	<xsd:complexType name="resource">
		<xsd:sequence>
			<!-- Reqeust -->
			<xsd:element maxOccurs="1" minOccurs="0" name="request" type="resource-request"/>
			<!-- Response -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="response" type="resource-response"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="prof-azione" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="path" type="xsd:string" use="optional"/>
		<xsd:attribute name="method" type="HttpMethod" use="optional"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="request-message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="response-message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Definizione di una richiesta per una risorsa REST -->
	<xsd:complexType name="resource-request">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="resource-parameter"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="representation" type="resource-representation"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-resource" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	
	<!-- Definizione di una risposta per una risorsa REST -->
	<xsd:complexType name="resource-response">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="resource-parameter"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="representation" type="resource-representation"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-resource" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="status" type="xsd:int" use="required"/>
	</xsd:complexType>
	
	<!-- Definizione di una rappresentazione per una richiesta/risposta della risorsa REST -->
	<xsd:complexType name="resource-parameter">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="parameter-type" type="ParameterType" use="required"/>
		<xsd:attribute default="false" name="required" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="restrizioni" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="resource-representation">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="xml" type="resource-representation-xml"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="json" type="resource-representation-json"/>
		</xsd:sequence>
		<xsd:attribute name="media-type" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="optional"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="representation-type" type="RepresentationType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="resource-representation-xml">
		<xsd:attribute name="xml-type" type="RepresentationXmlType" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="resource-representation-json">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Gruppi di un Accordo -->
	<xsd:complexType name="gruppi-accordo">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="gruppo" type="gruppo-accordo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gruppo-accordo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	
	
	<!-- Porta di Dominio -->
	<xsd:element name="porta-dominio" type="porta-dominio"/>
	<xsd:complexType name="porta-dominio">
		
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="standard" name="implementazione" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="subject" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="client-auth" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>
	



	
	
	<!-- Ruoli -->

	<xsd:element name="ruolo" type="ruolo"/>
	<xsd:complexType name="ruolo">
		
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute default="qualsiasi" name="tipologia" type="RuoloTipologia" use="optional"/>
		<xsd:attribute name="nome-esterno" type="xsd:string" use="optional"/>
		<xsd:attribute default="qualsiasi" name="contesto-utilizzo" type="RuoloContesto" use="optional"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>	
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	
	
	
	
	
	
	
	
	
	
	<!-- Scope -->
	
	<xsd:element name="scope" type="scope"/>
	<xsd:complexType name="scope">
		
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia" type="xsd:string" use="optional"/> <!-- caratteristica dello scope (es. policy di gestione) -->
		<xsd:attribute name="nome-esterno" type="xsd:string" use="optional"/>
		<xsd:attribute default="qualsiasi" name="contesto-utilizzo" type="ScopeContesto" use="optional"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>	
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	

	
	
	
	
	



	<!-- Gruppi -->
	<xsd:element name="gruppo" type="gruppo"/>
	<xsd:complexType name="gruppo">
		
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="service-binding" type="ServiceBinding" use="optional"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>	
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>

	
	
	<!-- un Soggetto contiene: un connettore su cui viene gestito (punto di accesso della sua porta di dominio)
		e la definizione dei servizi -->
	<xsd:element name="soggetto" type="soggetto"/>
	<xsd:complexType name="soggetto">
		
		<xsd:sequence>
			<!-- Connettore -->
			<xsd:element maxOccurs="1" minOccurs="0" ref="connettore"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
			<!-- Accordi Servizio Parte Specifica -->
			<xsd:element maxOccurs="1" minOccurs="0" name="credenziali" type="credenziali-soggetto"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ruoli" type="ruoli-soggetto"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="accordo-servizio-parte-specifica"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="false" name="privato" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="identificativo-porta" type="xsd:string"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="porta-dominio" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
		<xsd:attribute name="versione-protocollo" type="xsd:string"/>
		<xsd:attribute name="codice-ipa" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Ruoli di un Soggetto -->
	<xsd:complexType name="ruoli-soggetto">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="ruolo" type="ruolo-soggetto"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ruolo-soggetto">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Credenziali di un Soggetto -->
	<xsd:complexType name="credenziali-soggetto">
		<xsd:attribute default="ssl" name="tipo" type="CredenzialeTipo">
			
		</xsd:attribute>
		<xsd:attribute name="user" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
		<xsd:attribute default="false" name="app-id" type="xsd:boolean">
			
		</xsd:attribute>
		<xsd:attribute name="subject" type="xsd:string"/>
		<xsd:attribute name="cn-subject" type="xsd:string"/>
		<xsd:attribute name="issuer" type="xsd:string"/>
		<xsd:attribute name="cn-issuer" type="xsd:string"/>
		<xsd:attribute name="certificate" type="xsd:base64Binary"/>
		<xsd:attribute default="false" name="certificate-strict-verification" type="xsd:boolean">
			
		</xsd:attribute>
	</xsd:complexType>
	
	
	
	
	<!-- Connettore -->
	<xsd:element name="connettore" type="connettore"/>
	<xsd:complexType name="connettore">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="Property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute default="false" name="custom" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	
	
	
	<!-- AccordoServizioParteSpecifica -->
	<xsd:element name="accordo-servizio-parte-specifica" type="accordo-servizio-parte-specifica"/>
	<xsd:complexType name="accordo-servizio-parte-specifica">
		
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="configurazione-servizio" type="configurazione-servizio"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="fruitore"/>
			<!-- Allegati -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="allegato" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-semiformale" type="documento"/>
			<!-- Specifiche Livelli Servizio -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-livello-servizio" type="documento"/>
			<!-- Specifiche Sicurezza -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="specifica-sicurezza" type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="stato-package" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="privato" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-implementativo-erogatore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-implementativo-fruitore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-soggetto-erogatore" type="xsd:string" use="optional"/>
		<xsd:attribute name="nome-soggetto-erogatore" type="xsd:string" use="optional"/>		
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="accordo-servizio-parte-comune" type="xsd:string" use="required"/>
		<xsd:attribute default="normale" name="tipologia-servizio" type="TipologiaServizio">
			
		</xsd:attribute>
		<!-- Eventuale precisazione del port-type dell'accordo da utilizzare -->
		<xsd:attribute name="port-type" type="xsd:string"/>
		<xsd:attribute name="wsdl-implementativo-erogatore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="wsdl-implementativo-fruitore" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="scadenza" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
		<xsd:attribute name="versione-protocollo" type="xsd:string"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
	</xsd:complexType>
	
	<!-- Servizio/ServizioCorrelato -->
	<xsd:complexType name="configurazione-servizio">
		<xsd:sequence>
			<!-- dati del servizio -->
			<xsd:element maxOccurs="1" minOccurs="0" ref="connettore"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="configurazione-azione" type="configurazione-servizio-azione"/>			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="configurazione-servizio-azione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" ref="connettore"/>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="azione" type="xsd:string"/>		
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Fruitore -->
	<xsd:element name="fruitore" type="fruitore"/>
	<xsd:complexType name="fruitore">
		<xsd:sequence>
			<!-- start-extensions -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="servizio-applicativo" type="xsd:string"/>
			<!-- end-extensions -->
			<!-- Connettore -->
			<xsd:element maxOccurs="1" minOccurs="0" ref="connettore"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="configurazione-azione" type="configurazione-servizio-azione"/>		
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="stato-package" type="xsd:string" use="optional"/>
		<xsd:attribute name="byte-wsdl-implementativo-erogatore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="byte-wsdl-implementativo-fruitore" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-servizio" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="wsdl-implementativo-erogatore" type="xsd:string"/>
		<xsd:attribute name="wsdl-implementativo-fruitore" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>
	
	
	<!-- Documenti -->
	<xsd:complexType name="documento">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="byte-contenuto" type="xsd:base64Binary"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="ruolo" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipo-proprietario-documento" type="xsd:string" use="optional"/>
		<xsd:attribute name="id-proprietario-documento" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="file" type="xsd:string" use="required"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>
	
	
	<!-- ProtocolProperty -->
	<xsd:complexType name="protocol-property">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<!-- Uno dei 3 campi sottostanti e' obbligatorio -->
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
		<xsd:attribute name="number-value" type="xsd:unsignedLong" use="optional"/>
		<xsd:attribute name="boolean-value">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="file" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- start-extensions -->
		<xsd:attribute name="byte-file" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="id-proprietario" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	
	

	
	<!-- Enumeration -->
	<xsd:simpleType name="ServiceBinding">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap"/>
			<xsd:enumeration value="rest"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap11"/>
			<xsd:enumeration value="soap12"/>
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="json"/>
			<xsd:enumeration value="binary"/>
			<xsd:enumeration value="mimeMultipart"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HttpMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GET"/>
			<xsd:enumeration value="POST"/>
			<xsd:enumeration value="PUT"/>
			<xsd:enumeration value="DELETE"/>
			<xsd:enumeration value="OPTIONS"/>
			<xsd:enumeration value="HEAD"/>
			<xsd:enumeration value="TRACE"/>
			<xsd:enumeration value="PATCH"/>
			<xsd:enumeration value="LINK"/>
			<xsd:enumeration value="UNLINK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormatoSpecifica">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="wsdl11"/>
			<xsd:enumeration value="swagger2"/>
			<xsd:enumeration value="openApi3"/>
			<xsd:enumeration value="wadl"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RepresentationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="json"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RepresentationXmlType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="element"/>
			<xsd:enumeration value="type"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParameterType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="header"/>
			<xsd:enumeration value="query"/>
			<xsd:enumeration value="dynamicPath"/>
			<xsd:enumeration value="form"/>
			<xsd:enumeration value="cookie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProfiloCollaborazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="oneway"/>
			<xsd:enumeration value="sincrono"/>
			<xsd:enumeration value="asincronoSimmetrico"/>
			<xsd:enumeration value="asincronoAsimmetrico"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatoFunzionalita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BindingUse">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="literal"/>
			<xsd:enumeration value="encoded"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BindingStyle">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="document"/>
			<xsd:enumeration value="rpc"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Property">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="TipologiaServizio">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normale"/>
			<xsd:enumeration value="correlato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RuoloTipologia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="interno"/>
			<xsd:enumeration value="esterno"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RuoloContesto">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="portaDelegata"/>
			<xsd:enumeration value="portaApplicativa"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeContesto">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="portaDelegata"/>
			<xsd:enumeration value="portaApplicativa"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CredenzialeTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="basic"/>
			<xsd:enumeration value="ssl"/>
			<xsd:enumeration value="principal"/>
			<xsd:enumeration value="apikey"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Altre costanti utilizzate poi nel core 
	<xsd:simpleType name="TipiDocumentoConversazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WSBL"/>
			<xsd:enumeration value="BPEL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoCoordinamento">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BPEL"/>
			<xsd:enumeration value="WS-CDL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoInterfaccia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WSDL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoLivelloServizio">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS-Agreement"/>
			<xsd:enumeration value="WSLA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoSemiformale">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UML"/>
			<xsd:enumeration value="HTML"/>
			<xsd:enumeration value="XML"/>
			<xsd:enumeration value="Linguaggio Naturale"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoSicurezza">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS-Policy"/>
			<xsd:enumeration value="Linguaggio Naturale"/>
		</xsd:restriction>
	</xsd:simpleType>
	-->
	
	
	<!-- Identiticativi WS -->
	<xsd:complexType name="id-porta-dominio">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-soggetto">
		<!-- start-extensions -->
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-cooperazione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto-referente" type="id-soggetto"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-servizio-parte-comune">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto-referente" type="id-soggetto"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-servizio-parte-specifica">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="soggetto-erogatore" type="id-soggetto"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="id-ruolo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-scope">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-gruppo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
</xsd:schema>