protocolli/modipa/example/soap/nonBlocking/push/src/schemi/soap-callback-client.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	name="SOAPCallbackClientInterfaceService" 
	targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
	<wsdl:types>
		<xs:schema 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" 
			attributeFormDefault="unqualified" elementFormDefault="unqualified" 
			targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
			
			<xs:element name="MRequestResponse" type="tns:MRequestResponse"/>
			<xs:element name="MRequestResponseResponse" type="tns:MRequestResponseResponse"/>

			<xs:element name="ErrorMessageFault" nillable="true" type="tns:errorMessageFault"/>
			<xs:element name="X-Correlation-ID" nillable="true" type="xs:string"/>
			
			<xs:complexType name="MRequestResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:mResponseType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="mResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" name="c" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="MRequestResponseResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:ackMessage"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ackMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="outcome" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="errorMessageFault">
				<xs:sequence>
					<xs:element minOccurs="0" name="customFaultCode" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="MRequestResponse">
		<wsdl:part element="tns:MRequestResponse" name="parameters"/>
		<wsdl:part element="tns:X-Correlation-ID" name="X-Correlation-ID"/>
	</wsdl:message>
	
	<wsdl:message name="MRequestResponseResponse">
		<wsdl:part element="tns:MRequestResponseResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="ErrorMessageException">
		<wsdl:part element="tns:ErrorMessageFault" name="ErrorMessageException"/>
	</wsdl:message>
	
	<wsdl:portType name="SOAPCallbackClient">
		<wsdl:operation name="MRequestResponse">
			<wsdl:input message="tns:MRequestResponse" name="MRequestResponse"/>
			<wsdl:output message="tns:MRequestResponseResponse" name="MRequestResponseResponse"/>
			<wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="SOAPCallbackClientServiceSoapBinding" type="tns:SOAPCallbackClient">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MRequestResponse">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="MRequestResponse">
				<soap:header message="tns:MRequestResponse" part="X-Correlation-ID" use="literal"/>
				<soap:body   parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output name="MRequestResponseResponse">
				<soap:body parts="result" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorMessageException">
				<soap:fault name="ErrorMessageException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SOAPCallbackClientService">
		<wsdl:port binding="tns:SOAPCallbackClientServiceSoapBinding" name="SOAPCallbackClientPort">
			<soap:address location="https://api.indirizzoclient.it/soap/nomeinterfacciaservizio/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
