protocolli/spcoop/example/registroServizi/registroServiziXML/accordiServizio/EsempioAccordoServizioParteComune/specificaSemiformale/specificaSemiformaleIncludeFromDefinitorio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">

        <xs:element name="esempioSpecificaSemiformaleInclude1">
           <xs:complexType>
              <xs:sequence>
                 <xs:element name="nome" type="xs:string" minOccurs="1" maxOccurs="1"/>
              </xs:sequence>
           </xs:complexType>
        </xs:element>

        <xs:element name="esempioSpecificaSemiformaleInclude2">
           <xs:complexType>
              <xs:sequence>
                 <xs:element name="nome" type="xs:string" minOccurs="1" maxOccurs="1"/>
              </xs:sequence>
           </xs:complexType>
        </xs:element>
         
</xs:schema>
