protocolli/spcoop/example/registroServizi/wsdl/test_files/test3/specificaInterfaccia/InterfacciaLogicaErogatore.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.openspcoop2.org/example" xmlns:specificasemiformaleimportwsdl="http://www.openspcoop2.org/example/specificasemiformale/importwsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:allegatoimportwsdl="http://www.openspcoop2.org/example/allegato/importwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spc="http://www.openspcoop2.org/example" xmlns:spc3="http://www.openspcoop2.org/example3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="http://www.openspcoop2.org/example/types">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.openspcoop2.org/example/types"><xsd:include schemaLocation="../allegati/InterfacciaDefinitoria.xsd"/></xsd:schema>
    <xsd:schema targetNamespace="http://www.openspcoop2.org/example">
	<xsd:import namespace="http://www.openspcoop2.org/example3" schemaLocation="../allegati/InterfacciaDefinitoria_1.xsd"/> 
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.openspcoop2.org/example">
         <xsd:import namespace="http://www.openspcoop2.org/example/types" schemaLocation="../allegati/SchemaDatiImportato.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.openspcoop2.org/example">
    	 <xsd:include schemaLocation="../allegati/SchemaDatiIncluso.xsd"/>
     </xsd:schema>
  </wsdl:types>
  <wsdl:import namespace="http://www.openspcoop2.org/example/specificasemiformale/importwsdl" location="../specificaInterfaccia/import.wsdl"/>
  <wsdl:message name="notificaRequest">
    <wsdl:part name="notificaRequestPart" element="types:notificaRequest">
    </wsdl:part>
    <wsdl:part name="notificaRequestPart2" element="spc3:notificaRequest2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificaRequestImportato">
    <wsdl:part name="notificaRequestPartImportato" element="types:notificaRequestImportato">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificaRequestIncluso">
    <wsdl:part name="notificaRequestPartIncluso" element="spc:notificaRequestIncluso">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Oneway">
    <wsdl:operation name="notifica">
      <wsdl:input name="notificaRequest" message="spc:notificaRequest">
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="notifica2">
       <wsdl:input name="notificaRequestImportato" message="spc:notificaRequestImportato">
       </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Sincrono">
     <wsdl:operation name="echo">
        <wsdl:input name="notificaRequestIncluso" message="spc:notificaRequestIncluso">
        </wsdl:input>
     </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
