core/deploy/sql/xsd/ArchivioMessaggiDiagnostici.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/msgdiagnostici" targetNamespace="http://www.openspcoop2.org/msgdiagnostici"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ArchivioMessaggiDiagnostici">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-table object-name="msgdiagnostici" object-type="msgdiagnostici"/>
                                <linkit:sql-table object-name="msgdiag-correlazione" object-type="msgdiag-correlazione"/>
                                <linkit:sql-table object-name="msgdiag-correlazione-sa" object-type="msgdiag-correlazione-sa"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
   
   
    <xsd:element name="msgdiagnostici">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiagnostici" sequence-cycle="true">
                        <linkit:sql-table-index name="MSG_DIAG_ID">
                            <linkit:sql-table-index-field name="idmessaggio"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_DIAG_GDO">
                            <linkit:sql-table-index-field name="gdo"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idfunzione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idfunzione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="severita" type="TipoSeverita">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="severita"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="messaggio" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio"/>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della richiesta in gestione (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio_risposta"/>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della risposta correlata alla richiesta (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice"/>
                                <linkit:sql-column-comment><![CDATA[Codice del diagnostico emesso]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-column-comment><![CDATA[Protocollo (puo' non essere presente per i diagnostici di 'servizio' della porta)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
   
   
    
    
    <xsd:element name="msgdiag-correlazione">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiag_correlazione" sequence-cycle="true">
                        <linkit:sql-table-index name="MSG_CORR_INDEX">
                            <linkit:sql-table-index-field name="idmessaggio"/>
                            <linkit:sql-table-index-field name="delegata"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_CORR_GDO">
                            <linkit:sql-table-index-field name="gdo"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_CORR_APP">
                            <linkit:sql-table-index-field name="id_correlazione_applicativa"/>
                            <linkit:sql-table-index-field name="delegata"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idmessaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio"/>
                                <linkit:sql-column-comment><![CDATA[Dati di Correlazione con i messaggi diagnostici]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="porta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="porta"/>
                                <linkit:sql-column-comment><![CDATA[nome porta delegata/applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="delegata" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="delegata"/>
                                <linkit:sql-column-comment><![CDATA[(1/0 true/false) True se siamo in un contesto di porta delegata, False se in un contesto di porta applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_fruitore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_fruitore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fruitore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fruitore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_erogatore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="erogatore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_correlazione_applicativa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione_applicativa"/>
                                <linkit:sql-column-comment><![CDATA[Identificatore correlazione applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_correlazione_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione_risposta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-column-comment><![CDATA[Protocollo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    

    
    <xsd:element name="msgdiag-correlazione-sa">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiag_correlazione_sa" sequence-cycle="true">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_correlazione"/>
                            <linkit:sql-table-pk-field name="servizio_applicativo"/>
                        </linkit:sql-table-primary-key>
                       <linkit:sql-table-foreign-key
                           reference-object-name="msgdiag-correlazione"
                           reference-object-type="msgdiag-correlazione"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_correlazione"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_correlazione" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_applicativo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio_applicativo"/>
                                <linkit:sql-column-comment><![CDATA[Identita ServizioApplicativo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>      
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>






    <xsd:simpleType name="TipoSeverita">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
