core/deploy/sql/xsd/ArchivioTracce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/tracce" targetNamespace="http://www.openspcoop2.org/tracce"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ArchivioTracce">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-table object-name="tracce" object-type="tracce"/>
                                <linkit:sql-table object-name="tracce-riscontri" object-type="tracce-riscontri"/>
                                <linkit:sql-table object-name="tracce-trasmissioni" object-type="tracce-trasmissioni"/>
                                <linkit:sql-table object-name="tracce-eccezioni" object-type="tracce-eccezioni"/>
                                <linkit:sql-table object-name="tracce-allegati" object-type="tracce-allegati"/>
                                <linkit:sql-table object-name="tracce-ext-protocol-info" object-type="tracce-ext-protocol-info"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="tracce">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce" sequence-cycle="true"
                                              comment="Tracce che registrano lo scambio dei messaggi (richiesta o risposta) avvenuti all'interno di una transazione applicativa">
                        <linkit:sql-table-index name="TRACCE_TRANS">
                            <linkit:sql-table-index-field name="id_transazione"/>
                            <linkit:sql-table-index-field name="tipo_messaggio"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_codice"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_RIF">
                            <linkit:sql-table-index-field name="rif_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_codice"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID_SOGGETTO">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_tipo_soggetto"/>
                            <linkit:sql-table-index-field name="pdd_nome_soggetto"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_RIF_SOGGETTO">
                            <linkit:sql-table-index-field name="rif_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_tipo_soggetto"/>
                            <linkit:sql-table-index-field name="pdd_nome_soggetto"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID_APPL">
                            <linkit:sql-table-index-field name="correlazione_applicativa"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID_APPL_RISP">
                            <linkit:sql-table-index-field name="correlazione_risposta"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_GDO">
                            <linkit:sql-table-index-field name="gdo" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione della traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo_int" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo_int"/>
                                <linkit:sql-ddl-column-comment>Data di emissione della traccia in formato Unix Timestamp</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del Soggetto che ha emesso la traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del Soggetto che ha emesso la traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Nome' del Soggetto che ha emesso la traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_ruolo" type="PddRuoloType">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sul ruolo della PdD rispetto alla gestione del messaggio:
- delegata: la PdD si occupa di gestire una richiesta di fruizione di servizio, richiesta pervenuta su di una PortaDelegata da un applicativo interno al dominio gestito
- applicativa: la PdD si occupa di consegnare ad un applicativo interno al dominio una richiesta di erogazione di servizio ricevuta su una PortaApplicativa
- integrationManager: un applicativo sta utilizzando il servizio di 'MessageBox' della PdD per recuperare i messaggi che sono rimasti in carico sula porta
- router: la PdD funge da router applicativo]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_messaggio" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_messaggio"/>
                                <linkit:sql-ddl-column-comment>Tipo del messaggio per cui è stata emessa la traccia (Richiesta/Risposta)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="esito_elaborazione" type="EsitoElaborazioneType">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="esito_elaborazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sull'esito dell'elaborazione del messaggio da parte della PdD:
- INVIATO: il messaggio, generato da un applicativo interno al dominio, è stato inoltrato verso un'altra PdD
- RICEVUTO: il messaggio proveniente da un dominio esterno viene consegnato ad un applicativo interno al dominio gestito
- ERRORE: durante la gestione di un messaggio è avvenuto un errore]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dettaglio_esito_elaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dettaglio_esito_elaborazione" text="true"/>
                                <linkit:sql-ddl-column-comment>Fornisce una informazione di dettaglio riguardante l'elaborazione del messaggio (ad es. nel caso di elaborazione con errore viene indicata la problematica emersa)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mittente"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto mittente che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_mittente"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto mittente che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_mittente"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto mittente che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_mittente"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto mittente che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="destinatario"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario a cui è destinato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_destinatario"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario a cui è destinato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_destinatario"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto destinatario a cui è destinato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_destinatario"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto destinatario a cui è destinato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Profilo di collaborazione, utilizzato dal protocollo per il flusso di gestione del messaggio. 
Il valore presente in questo campo contiene la rappresentazione del profilo di collaborazione nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Profilo di collaborazione, utilizzato dal protocollo per il flusso di gestione del messaggio. 
Il valore presente in questo campo contiene la rappresentazione del profilo di collaborazione nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio_correlato"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio correlato alla richiesta descritta dalla traccia (utilizzato nei profili di collaborazione Asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio_correlato"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio correlato alla richiesta descritta dalla traccia (utilizzato nei profili di collaborazione Asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio_correlato" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio_correlato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="collaborazione"/>
                                <linkit:sql-ddl-column-comment>Identificativo di messaggio che permette di correlare diverse tracce tra di loro poichè sono parte di un'unica gestione (es. i vari messaggi scambiati nei profili asincroni conterranno lo stesso identificativo in questo campo)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                                <linkit:sql-ddl-column-comment>Versione del servizio (informazione che rappresenta insieme al tipo ed al nome l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio (informazione che rappresenta insieme al tipo ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio (informazione che rappresenta insieme al nome ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                                <linkit:sql-ddl-column-comment>Identificativo univoco dell'azione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_messaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_messaggio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                                <linkit:sql-ddl-column-comment>Data di produzione del messaggio presente all'interno delle informazioni di protocollo veicolate nel messaggio stesso</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data presente all'interno delle informazioni di protocollo veicolate nel messaggio (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data presente all'interno delle informazioni di protocollo veicolate nel messaggio (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rif_messaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rif_messaggio"/>
                                <linkit:sql-ddl-column-comment>Riferimento ad un'altra traccia che contiene il messaggio che ha scaturito la richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                                <linkit:sql-ddl-column-comment>Data di scadenza della validità del messaggio associato alla traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="inoltro" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="inoltro"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di gestione dei duplicati presente all'interno delle informazioni di protocollo veicolate nel messaggio (indicazione se i duplicati devono essere filtrati o meno)
Il valore presente in questo campo contiene la rappresentazione della modalità di filtro nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="inoltro_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="inoltro_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di gestione dei duplicati presente all'interno delle informazioni di protocollo veicolate nel messaggio (indicazione se i duplicati devono essere filtrati o meno)
Il valore presente in questo campo contiene la rappresentazione della modalità di filtro nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il protocollo prevede la generazione di una ricevuta di conferma (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sequenza" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sequenza"/>
                                <linkit:sql-ddl-column-comment>Se il protocollo supporta la consegna in ordine di un flusso di messaggi, questo campo contiene la posizione relativa alla consegna del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="location" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="location"/>
                                <linkit:sql-ddl-column-comment>Indirizzo da cui un messaggio è stato ricevuto o verso cui un messaggio è stato inoltrato</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Dati di integrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_applicativa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlazione_applicativa"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlazione_risposta"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di risposta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sa_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sa_fruitore"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'applicativo che ha generato una richiesta di fruizione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sa_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sa_erogatore"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'applicativo a cui è destinata una richiesta di erogazione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo utilizzato nella transazione applicativa</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Protocollo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="is_arrived" type="xsd:int" default="0" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="is_arrived"/>
                                <linkit:sql-ddl-column-comment>Informazione utilizzata dalla testsuite di OpenSPCoop per aggiungere alla traccia l'informazione che l'applicativo erogatore ha ricevuto il messaggio</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Testsuite]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_element" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_element" text="true"/>
                                <linkit:sql-ddl-column-comment>Contiene la rappresentazione binaria delle informazioni di protocollo presenti all'interno del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="digest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="digest" text="true"/>
                                <linkit:sql-ddl-column-comment>Se il protocollo supporta questa funzionalità, il campo contiene il digest delle informazioni presenti all'interno del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_transazione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_transazione"/>
                                <linkit:sql-ddl-column-comment>Identificativo della transazione in cui sono state emesse le informazioni</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:simpleType name="PddRuoloType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="delegata"/>
            <xsd:enumeration value="applicativa"/>
            <xsd:enumeration value="integrationManager"/>
            <xsd:enumeration value="router"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
    <xsd:element name="tracce-riscontri">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_riscontri" sequence-cycle="true"
                                               comment="Un riscontro definisce una ricevuta relativa ad un messaggio precedentemente transitato sulla PdD">
                       <linkit:sql-table-foreign-key
                           reference-object-name="tracce"
                           reference-object-type="tracce"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_RIS">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                                <linkit:sql-ddl-column-comment>Identificativo della traccia [FK verso tabella tracce(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="riscontro" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="riscontro"/>
                                <linkit:sql-ddl-column-comment>Riferimento ad un'altra traccia che contiene il messaggio che ha scaturito la richiesta a cui questa ricevuta si correla</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricevuta" long-text="true"/>
                                <linkit:sql-ddl-column-comment>Contiene una eventuale ricevuta del protocollo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                                <linkit:sql-ddl-column-comment>Data di generazione della ricevuta presente all'interno delle informazioni di protocollo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data relativa alla ricevuta (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data relativa alla ricevuta (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="tracce-trasmissioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_trasmissioni" sequence-cycle="true"
                                              comment="Una trasmissione definisce il flusso di interazione tra i soggetti che sono coinvolti nella transazione applicativa">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_TR">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                                <linkit:sql-ddl-column-comment>Identificativo della traccia [FK verso tabella tracce(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="origine"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_origine"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_origine"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_origine"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto che ha generato il messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="destinazione"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario del messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_destinazione"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario del messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_destinazione"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto destinatario del messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_destinazione"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto destinatario del messaggio a cui la traccia si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                                <linkit:sql-ddl-column-comment>Data di produzione della trasmissione presente all'interno delle informazioni di protocollo veicolate nel messaggio stesso</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data relativa alla trasmissione (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia di sorgente della data relativa alla trasmissione (es. sincronizzata tramite ntp server, locale alla macchina ...)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="tracce-eccezioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_eccezioni" sequence-cycle="true"
                                              comment="Eccezione rilevate dalla PdD durante la validazione o il processamento di un messaggio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_ECC">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                                <linkit:sql-ddl-column-comment>Identificativo della traccia [FK verso tabella tracce(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contesto_codifica" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="contesto_codifica"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Contesto di codifica dell'eccezione (es. validazione o processamento)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contesto_codifica_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="contesto_codifica_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Contesto di codifica dell'eccezione (es. validazione o processamento)
Il valore presente in questo campo contiene la rappresentazione della sorgente nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice_eccezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice_eccezione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Codice univoco dell'eccezione rivelata.
Il valore presente in questo campo contiene la rappresentazione nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice_eccezione_meta" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice_eccezione_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Codice univoco dell'eccezione rivelata.
Il valore presente in questo campo contiene la rappresentazione nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
		        <xsd:element name="subcodice_eccezione_meta" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="subcodice_eccezione_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Codice di secondo livello che permette di identificare delle sotto-categorie di eccezioni differenti all'interno di una categoria principale.
Il valore presente in questo campo contiene la rappresentazione nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rilevanza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rilevanza"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Livello di importanza dell'eccezione.
Il valore presente in questo campo contiene la rappresentazione nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rilevanza_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rilevanza_meta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Livello di importanza dell'eccezione.
Il valore presente in questo campo contiene la rappresentazione nel formato proprietario di OpenSPCoop.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="posizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="posizione" text="true"/>
                                <linkit:sql-ddl-column-comment>Indicazione sulla posizione all'interno del messaggio dove è stata rilevata l'eccezione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="tracce-allegati">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_allegati" sequence-cycle="true"
                                              comment="Informazioni sugli allegati presenti nel messaggio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_ALLEGATI_INDEX">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                                <linkit:sql-ddl-column-comment>Identificativo della traccia [FK verso tabella tracce(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_id" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_id"/>
                                <linkit:sql-ddl-column-comment>Identificativo univoco dell'allegato (es. Content-Id di un attachment nel formato SWA/MTOM)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_location" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_location"/>
                                <linkit:sql-ddl-column-comment>Eventuale header 'Content-Location' presente in un attachment nel formato SWA/MTOM</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_type" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_type"/>
                                <linkit:sql-ddl-column-comment>MimeType dell'allegato (es. Content-Type di un attachment nel formato SWA/MTOM)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="digest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="digest" text="true"/>
                                <linkit:sql-ddl-column-comment>Se il protocollo lo prevede, questo campo contiene il digest dell'allegato</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="tracce-ext-protocol-info">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_ext_protocol_info" sequence-cycle="true"
                                              comment="Informazioni specifiche del protocollo (non generalizzabili) utilizzate per la gestione del messaggio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_EXT_INFO">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_EXT_SEARCH">
                            <linkit:sql-table-index-field name="name"/>
                            <linkit:sql-table-index-field name="value"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                                <linkit:sql-ddl-column-comment>Identificativo della traccia [FK verso tabella tracce(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                                <linkit:sql-ddl-column-comment>Identificativo della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value" varchar="4000" />
                                <linkit:sql-ddl-column-comment>Valore della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ext_value" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ext_value" text="true" />
                                <linkit:sql-ddl-column-comment>Colonna valorizza se la proprietà ha un valore maggiore di 4000</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    
    
    
    
    <xsd:simpleType name="EsitoElaborazioneType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INVIATO"/>
            <xsd:enumeration value="RICEVUTO"/>
            <xsd:enumeration value="ERRORE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TipoMessaggio">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Richiesta"/>
            <xsd:enumeration value="Risposta"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
