core/deploy/sql/xsd/ArchivioMessaggiDiagnostici.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/msgdiagnostici" targetNamespace="http://www.openspcoop2.org/msgdiagnostici"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ArchivioMessaggiDiagnostici">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-table object-name="msgdiagnostici" object-type="msgdiagnostici"/>
                                <linkit:sql-table object-name="msgdiag-correlazione" object-type="msgdiag-correlazione"/>
                                <linkit:sql-table object-name="msgdiag-correlazione-sa" object-type="msgdiag-correlazione-sa"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
   
   
    <xsd:element name="msgdiagnostici">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiagnostici" sequence-cycle="true"
                                              comment="Messaggi diagnostici emessi dalla PdD durante la gestione di una transazione applicativa">
                        <linkit:sql-table-index name="MSG_DIAG_ID">
                            <linkit:sql-table-index-field name="idmessaggio"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_DIAG_GDO">
                            <linkit:sql-table-index-field name="gdo" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione del messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Nome' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idfunzione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idfunzione"/>
                                <linkit:sql-ddl-column-comment>Identificativo del modulo funzionale che ha emesso il messaggio diagnostico (es. InoltroBuste, ConsegnaContenutiApplicativi, ...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="severita" type="TipoSeverita">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="severita"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Livello di severità del messaggio diagnostico:
- 0: (fatal) rappresenta un errore che ha compromesso il funzionamento della PdD (es. connessione database non disponibile)
- 1: (errorProtocol) rappresenta un errore avvenuto durante la gestione del protocollo di cooperazione tra le PdD
- 2: (errorIntegration) rappresenta un errore avvenuto durante la gestione dell'integrazione della PdD con l'applicativo client o server
- 3: (infoProtocol) rappresenta una informazione su di un'azione avvenuta durante la gestione del protocollo di cooperazione tra le PdD
- 4: (infoIntegration) rappresenta una informazione su di un'azione avvenuta durante la gestione dell'integrazione della PdD con l'applicativo client o server
- 5: (lowDebug) rappresente una informazione di debug relativa ad un'azione funzionale di alto livello
- 6: (mediumDebug) rappresente una informazione di debug di media importanza
- 7: (lowDebug) rappresente una informazione di debug di livello trace, dove vengono registrati i singolo step di un'azione funzionale]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="messaggio" text="true"/>
                                <linkit:sql-ddl-column-comment>Contenuto del messaggio associato al diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di richiesta [FK logica verso tabella msgdiag_correlazione(idmessaggio)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della richiesta in gestione (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio_risposta"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di risposta</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della risposta correlata alla richiesta (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice"/>
                                <linkit:sql-ddl-column-comment>Codice identificativo del messaggio diagnostico</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Codice del diagnostico emesso]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo (tale informazione può non essere presente per i diagnostici di 'servizio' della porta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Protocollo (puo' non essere presente per i diagnostici di 'servizio' della porta)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
   
   
    
    
    <xsd:element name="msgdiag-correlazione">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiag_correlazione" sequence-cycle="true"
                                              comment="Contiene i dati di una transazione applicativa gestita dalla PdD (Informazioni sui soggetti coinvolti, sui dati del servizio e sugli identificativi unici dei messaggi)">
                        <linkit:sql-table-index name="MSG_CORR_INDEX">
                            <linkit:sql-table-index-field name="idmessaggio"/>
                            <linkit:sql-table-index-field name="delegata"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_CORR_GDO">
                            <linkit:sql-table-index-field name="gdo" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_CORR_APP">
                            <linkit:sql-table-index-field name="id_correlazione_applicativa"/>
                            <linkit:sql-table-index-field name="delegata"/>
                        </linkit:sql-table-index>
			<linkit:sql-table-index name="MSG_CORR_APP_RISP">
                            <linkit:sql-table-index-field name="id_correlazione_risposta"/>
			    <linkit:sql-table-index-field name="delegata"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idmessaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di richiesta [FK logica verso tabella msgdiagnostici(idmessaggio)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Dati di Correlazione con i messaggi diagnostici]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del Soggetto che ha gestito la transazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del Soggetto che ha gestito la transazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Nome' del Soggetto che ha gestito la transazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione delle informazioni riguardanti la transazione applicativa</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Data di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="porta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="porta"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Nome della porta delegata (in caso di fruizione) o della porta applicativa (in caso di erogazione)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[nome porta delegata/applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="delegata" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="delegata"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se la transazione applicativa riguarda una fruzione (porta delegata) od una erogazione (porta applicativa) (1=PortaDelegata, 0=PortaApplicativa)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[(1/0 true/false) True se siamo in un contesto di porta delegata, False se in un contesto di porta applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_fruitore"/>
                                <linkit:sql-ddl-column-comment>Tipo del soggetto fruitore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fruitore"/>
                                <linkit:sql-ddl-column-comment>Nome del soggetto fruitore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_erogatore"/>
                                <linkit:sql-ddl-column-comment>Tipo del soggetto erogatore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="erogatore"/>
                                <linkit:sql-ddl-column-comment>Nome del soggetto erogatore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio (informazione che rappresenta insieme al nome ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio (informazione che rappresenta insieme al tipo ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                                <linkit:sql-ddl-column-comment>Versione del servizio (informazione che rappresenta insieme al tipo ed al nome l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                                <linkit:sql-ddl-column-comment>Identificativo univoco dell'azione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_correlazione_applicativa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione_applicativa"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di richiesta</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Identificatore correlazione applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_correlazione_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione_risposta"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di risposta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo utilizzato nella transazione applicativa</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Protocollo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    

    
    <xsd:element name="msgdiag-correlazione-sa">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiag_correlazione_sa" sequence-cycle="true"
                                              comment="Contiene gli identificativi degli applicativi (fruitori e erogatori) con cui la PdD ha interagito durante la gestione di una transazione applicativa">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_correlazione"/>
                            <linkit:sql-table-pk-field name="servizio_applicativo"/>
                        </linkit:sql-table-primary-key>
                       <linkit:sql-table-foreign-key
                           reference-object-name="msgdiag-correlazione"
                           reference-object-type="msgdiag-correlazione"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_correlazione"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_correlazione" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_correlazione"/>
                                <linkit:sql-ddl-column-comment>Identificativo delle informazioni sulla transazione [FK verso tabella msgdiag_correlazione(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_applicativo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio_applicativo"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Identificativo del servizio applicativo coinvolto dalla PdD durante la transazione applicativa.
                                Identifica un servizio applicativo fruitore od erogatore a seconda se la transazione riguarda rispettivamente una fruizione od una erogazione di servizio]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Identita ServizioApplicativo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>      
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>






    <xsd:simpleType name="TipoSeverita">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
