core/deploy/sql/xsd/ArchivioMessaggiDiagnostici.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/msgdiagnostici" targetNamespace="http://www.openspcoop2.org/msgdiagnostici"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ArchivioMessaggiDiagnostici">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-table object-name="msgdiagnostici" object-type="msgdiagnostici"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
   
   
    <xsd:element name="msgdiagnostici">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="msgdiagnostici" sequence-cycle="true"
                                              comment="Messaggi diagnostici emessi dalla PdD durante la gestione di una transazione applicativa">
                        <linkit:sql-table-index name="MSG_DIAG_TRANS">
                            <linkit:sql-table-index-field name="id_transazione"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_DIAG_ID">
                            <linkit:sql-table-index-field name="idmessaggio"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_DIAG_GDO">
                            <linkit:sql-table-index-field name="gdo" order="DESC" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                                <linkit:sql-ddl-column-comment>Data di emissione del messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                                <linkit:sql-ddl-column-comment>'Nome' del Soggetto che ha emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idfunzione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idfunzione"/>
                                <linkit:sql-ddl-column-comment>Identificativo del modulo funzionale che ha emesso il messaggio diagnostico (es. InoltroBuste, ConsegnaContenutiApplicativi, ...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="severita" type="TipoSeverita">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="severita"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Livello di severità del messaggio diagnostico:
- 0: (fatal) rappresenta un errore che ha compromesso il funzionamento della PdD (es. connessione database non disponibile)
- 1: (errorProtocol) rappresenta un errore avvenuto durante la gestione del protocollo di cooperazione tra le PdD
- 2: (errorIntegration) rappresenta un errore avvenuto durante la gestione dell'integrazione della PdD con l'applicativo client o server
- 3: (infoProtocol) rappresenta una informazione su di un'azione avvenuta durante la gestione del protocollo di cooperazione tra le PdD
- 4: (infoIntegration) rappresenta una informazione su di un'azione avvenuta durante la gestione dell'integrazione della PdD con l'applicativo client o server
- 5: (lowDebug) rappresente una informazione di debug relativa ad un'azione funzionale di alto livello
- 6: (mediumDebug) rappresente una informazione di debug di media importanza
- 7: (lowDebug) rappresente una informazione di debug di livello trace, dove vengono registrati i singolo step di un'azione funzionale]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="messaggio" text="true"/>
                                <linkit:sql-ddl-column-comment>Contenuto del messaggio associato al diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di richiesta [FK logica verso tabella msgdiag_correlazione(idmessaggio)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della richiesta in gestione (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idmessaggio_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idmessaggio_risposta"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di risposta</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Eventuale id della risposta correlata alla richiesta (informazione non definita dalla specifica)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice"/>
                                <linkit:sql-ddl-column-comment>Codice identificativo del messaggio diagnostico</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Codice del diagnostico emesso]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo (tale informazione può non essere presente per i diagnostici di 'servizio' della porta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Protocollo (puo' non essere presente per i diagnostici di 'servizio' della porta)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_transazione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_transazione"/>
                                <linkit:sql-ddl-column-comment>Identificativo della transazione in cui è stato emesso il messaggio diagnostico</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="applicativo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="applicativo" varchar="2000"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'applicativo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    


    <xsd:simpleType name="TipoSeverita">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
