core/deploy/sql/xsd/ArchivioTracce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/tracce" targetNamespace="http://www.openspcoop2.org/tracce"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ArchivioTracce">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-table object-name="tracce" object-type="tracce"/>
                                <linkit:sql-table object-name="tracce-riscontri" object-type="tracce-riscontri"/>
                                <linkit:sql-table object-name="tracce-trasmissioni" object-type="tracce-trasmissioni"/>
                                <linkit:sql-table object-name="tracce-eccezioni" object-type="tracce-eccezioni"/>
                                <linkit:sql-table object-name="tracce-allegati" object-type="tracce-allegati"/>
                                <linkit:sql-table object-name="tracce-ext-protocol-info" object-type="tracce-ext-protocol-info"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="tracce">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce" sequence-cycle="true">
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_codice"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_RIF">
                            <linkit:sql-table-index-field name="rif_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_codice"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_ID_SOGGETTO">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_tipo_soggetto"/>
                            <linkit:sql-table-index-field name="pdd_nome_soggetto"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="TRACCE_SEARCH_RIF_SOGGETTO">
                            <linkit:sql-table-index-field name="rif_messaggio"/>
                            <linkit:sql-table-index-field name="pdd_tipo_soggetto"/>
                            <linkit:sql-table-index-field name="pdd_nome_soggetto"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="gdo" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gdo_int" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gdo_int"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_codice" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_codice"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_tipo_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_nome_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd_ruolo" type="PddRuoloType">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pdd_ruolo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_messaggio" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_messaggio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="esito_elaborazione" type="EsitoElaborazioneType">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="esito_elaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dettaglio_esito_elaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dettaglio_esito_elaborazione" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mittente"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_mittente"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_mittente"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_mittente"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="destinatario"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_destinatario"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_destinatario"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_destinatario"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio_correlato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio_correlato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_messaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_messaggio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rif_messaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rif_messaggio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="inoltro" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="inoltro"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="inoltro_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="inoltro_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sequenza" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sequenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="location" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="location"/>
                                <linkit:sql-column-comment><![CDATA[Dati di integrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_applicativa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlazione_applicativa"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlazione_risposta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sa_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sa_fruitore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sa_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sa_erogatore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo"/>
                                <linkit:sql-column-comment><![CDATA[Protocollo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="is_arrived" type="xsd:int" default="0" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="is_arrived"/>
                                <linkit:sql-column-comment><![CDATA[Testsuite]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_element" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_element" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="digest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="digest" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:simpleType name="PddRuoloType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="delegata"/>
            <xsd:enumeration value="applicativa"/>
            <xsd:enumeration value="integrationManager"/>
            <xsd:enumeration value="router"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
    <xsd:element name="tracce-riscontri">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_riscontri" sequence-cycle="true">
                       <linkit:sql-table-foreign-key
                           reference-object-name="tracce"
                           reference-object-type="tracce"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_RIS">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="riscontro" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="riscontro"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="tracce-trasmissioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_trasmissioni" sequence-cycle="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_TR">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="origine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_origine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_origine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_origine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="destinazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_destinazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="indirizzo_destinazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="idporta_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idporta_destinazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_reg_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_ora_reg_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="tracce-eccezioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_eccezioni" sequence-cycle="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_ECC">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contesto_codifica" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="contesto_codifica"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contesto_codifica_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="contesto_codifica_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice_eccezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice_eccezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice_eccezione_meta" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="codice_eccezione_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
		        <xsd:element name="subcodice_eccezione_meta" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="subcodice_eccezione_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rilevanza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rilevanza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rilevanza_meta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="rilevanza_meta"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="posizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="posizione" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="tracce-allegati">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_allegati" sequence-cycle="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_ALLEGATI_INDEX">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_id" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_id"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_location" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_location"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_type" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="content_type"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="digest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="digest" text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="tracce-ext-protocol-info">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="tracce_ext_protocol_info" sequence-cycle="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="tracce"
                            reference-object-type="tracce"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="idtraccia"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="TRACCE_EXT_INFO">
                            <linkit:sql-table-index-field name="idtraccia"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idtraccia" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="idtraccia"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value" text="true" />
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    
    
    
    
    <xsd:simpleType name="EsitoElaborazioneType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INVIATO"/>
            <xsd:enumeration value="RICEVUTO"/>
            <xsd:enumeration value="ERRORE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TipoMessaggio">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Richiesta"/>
            <xsd:enumeration value="Risposta"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
