core/deploy/sql/xsd/ConfigurazionePorteDelegate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/config/pd" targetNamespace="http://www.openspcoop2.org/config/pd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ConfigurazionePorteDelegate">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Porte Delegate ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="porte-delegate" object-type="porte-delegate"/>
                                <linkit:sql-table object-name="porte-delegate-sa" object-type="porte-delegate-sa"/>
                                <linkit:sql-table object-name="porte-applicative-prop" object-type="NomeValore"/>
                                <linkit:sql-table object-name="porte-delegate-mtom-request" object-type="MtomFlowParameter"/>
                                <linkit:sql-table object-name="porte-delegate-mtom-response" object-type="MtomFlowParameter"/>
                                <linkit:sql-table object-name="porte-delegate-security-request" object-type="NomeValoreAsText"/>
                                <linkit:sql-table object-name="porte-delegate-security-response" object-type="NomeValoreAsText"/>
                                <linkit:sql-table object-name="porte-delegate-correlazione" object-type="porte-delegate-correlazione"/>
                                <linkit:sql-table object-name="porte-delegate-correlazione-risposta" object-type="porte-delegate-correlazione-risposta"/>
                                <linkit:sql-table object-name="porte-delegate-ruoli" object-type="porte-delegate-ruoli"/>
                                <linkit:sql-table object-name="porte-delegate-azioni" object-type="porte-delegate-azioni"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="porte-delegate">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="porte_delegate"
                                              comment="Interfacce che permettono la fruizione dei servizi erogati da soggetti esterni al dominio">
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_porta"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_porta" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_porta" varchar="4000"/>
                                <linkit:sql-ddl-column-comment>Identificativo della Porta Delegata</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                                <linkit:sql-ddl-column-comment>Descrizione generica del servizio esposto dalla porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto_erogatore" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto_erogatore"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto erogatore [FK logica verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Soggetto Erogatore *
tipo/nome per le modalita static
id utilizzato in caso di registryInput]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_soggetto_erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_soggetto_erogatore"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto erogatore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_soggetto_erogatore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_soggetto_erogatore"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto erogatore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio erogato tramite la porta [FK logica verso tabella servizi(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Servizio *
tipo/nome/versione per le modalita static
id utilizzato in caso di registryInput]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_servizio"/>
                                <linkit:sql-ddl-column-comment>'Nome' del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di identificazione del servizio:
- 'static': il servizio viene associato staticamente alla porta indicandolo tramite le colonne 'tipo_servizio' e 'nome_servizio'
- 'contentBased': il servizio viene identificato attraverso l'estrazione del nome all'interno della richiesta tramite una regola xpath definita nella colonna 'pattern_servizio'
- 'urlBased': il servizio viene identificato attraverso l'estrazione del nome dalla url di richiesta tramite una espressione regolare definita nella colonna 'pattern_servizio'
- 'inputBased': il servizio viene identificato tramite gli header di integrazione standard forniti con la porta]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_accordo" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'accordo di servizio parte comune implementato dal servizio erogato tramite la porta [FK logica verso tabella accordi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_port_type" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_port_type"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio interno all'accordo di servizio parte comune implementato dal servizio erogato tramite la porta [FK logica verso tabella port_type(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_azione" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_azione"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'azione del servizio interno all'accordo di servizio parte comune implementato dal servizio erogato tramite la porta [FK logica verso tabella port_type_azioni(id) o accordi_azioni(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Azione *
tipo/nome per le modalita static
tipo/pattern per la modalita contentBased/urlBased
id utilizzato in caso di registryInput]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_azione"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'azione del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di identificazione dell'azione:
- 'static': l'azione viene associata staticamente alla porta indicandola tramite la colonna 'nome_azione'
- 'contentBased': l'azione viene identificata attraverso l'estrazione del nome all'interno della richiesta tramite una regola xpath definita nella colonna 'pattern_azione'
- 'urlBased': l'azione viene identificata attraverso l'estrazione del nome dalla url di richiesta tramite una espressione regolare definita nella colonna 'pattern_azione'
- 'inputBased': l'azione viene identificata tramite gli header di integrazione standard forniti con la porta
- 'soapActionBased': l'azione viene identificata tramite la soapAction
- 'headerBased': l'azione viene identificata tramite l'header http indicato nella colonna 'pattern_azione'
- 'protocolBased': l'azione viene identificata tramite il protocollo del messaggio
- 'interfaceBased': l'azione viene identificata relazionando il messaggio di richiesta con quelli registrati nella specifica del servizio
- 'delegatedBy': l'azione viene indicata attraverso l'invocazione delegata da parte della porta delegante indicata nella colonna 'delegante_azione']]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_azione':
- 'contentBased': la colonna 'pattern_azione' definisce una regola xpath
- 'urlBased': la colonna 'pattern_azione' definisce una espressione regolare
- 'headerBased': la colonna 'pattern_azione' definisce un header http
]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_porta_delegante_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_porta_delegante_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Nome della porta delegante nel caso la modalità di riconoscimento dell'azione indicata nella colonna 'mode_azione' sia 'delegatedBy']]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="force_interface_based_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="force_interface_based_azione"/>
                                <linkit:sql-ddl-column-comment>Indicazione se attuare un riconoscimento interfaceBased dell'azione, in caso di riconoscimento fallito tramite la modalità indicata nella colonna 'mode_azione' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autenticazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autenticazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di identificazione dei servizi applicativi che desiderano fruire del servizio tramite la porta delegata.
Il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'. Di seguito alcune implementazioni di default:
- 'disabilitato': autenticazione non attiva sulla porta
- 'basic': autenticazione http basic composta da username e password
- 'ssl': autenticazione ssl dove viene utilizzato il subject del certificato client
- 'principal': autenticazione implementata sul container e dove l'identità dell'utente autenticato viaggia attraverso una credenzial principal via HttpServlet]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Controllo Accessi]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autenticazione_opzionale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autenticazione_opzionale"/>
                                <linkit:sql-ddl-column-comment>Indicazione se l'eventuale autenticazione indicata nella colonna 'autenticazione' deve obbligatoriamente identificare il chiamante (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_policy" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_policy"/>
                                <linkit:sql-ddl-column-comment>Identificativo della policy di gestione dei token</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Gestione Token]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_validazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_validazione"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la validazione dei token è attiva durante il trattamento della policy (abilitato/disabilitato/warningOnly)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_introspection" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_introspection"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la validazione dei token tramite servizio di introspection è attiva durante il trattamento della policy (abilitato/disabilitato/warningOnly)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_user_info" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_user_info"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la raccolta dati utenti, tramite il servizio user_info,n è attiva durante il trattamento della policy (abilitato/disabilitato/warningOnly)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_forward" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_forward"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il forward del token è attivo (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_options" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_options"/>
                                <linkit:sql-ddl-column-comment>Opzioni di configurazione ulteriori per la gestione del token</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autorizzazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autorizzazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di autorizzazione a fruire del servizio tramite la porta delegata.
Il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'. Di seguito alcune implementazioni di default:
- 'disabilitato': nessuna autorizzazione attiva sulla porta
- 'authenticated': solo i servizi applicativi autenticati ed associati alla porta (tramite la tabella 'porte_delegate_sa') sono autorizzati.
- 'roles': solo i servizi applicativi che possiedono i ruoli associati alla porta delegata (tramite tabella pd_ruoli) vengono autorizzati
- 'xacmlPolicy': solo i servizi applicativi che soddisfano la policy associata al servizio possono fruirlo]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Autorizzazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autorizzazione_contenuto" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autorizzazione_contenuto"/>
                                <linkit:sql-ddl-column-comment>Tipo di autorizzazione del contenuto effettuata dalla PdD; il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mtom_request_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mtom_request_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione dei messaggi di richiesta per quanto concerne il formato MTOM:
- 'disable': il messaggio non viene in alcun modo modificato
- 'packaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_request', per effettuare la conversione degli elementi identificati in riferimenti xop + attachment corrispondente
- 'unpackaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_request', per effettuare l'operazione inversa al packaging, ripristinando il contenuto originale (presente come attach) al posto del riferimento xop
- 'verify': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_request', per verificare la presenza dei riferimenti xop (con attach) attesi]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[disable/packaging/unpackaging/verify]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mtom_response_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mtom_response_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione dei messaggi di risposta per quanto concerne il formato MTOM:
- 'disable': il messaggio non viene in alcun modo modificato
- 'packaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_response', per effettuare la conversione degli elementi identificati in riferimenti xop + attachment corrispondente
- 'unpackaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_response', per effettuare l'operazione inversa al packaging, ripristinando il contenuto originale (presente come attach) al posto del riferimento xop
- 'verify': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pd_mtom_response', per verificare la presenza dei riferimenti xop (con attach) attesi]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[disable/packaging/unpackaging/verify]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="security" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="security"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se è attivo o meno un trattamento del messaggio tramite WSSecurity (abilitato/disabilitato). 
Se attivo le regole specifiche di trattamento della richiesta e/o della risposta sono definite rispettivamente nella tabella 'pd_security_request' e 'pd_security_response' ]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato (se abilitato le WSSproperties sono presenti nelle tabelle ...._security_request/response)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="security_mtom_req" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="security_mtom_req"/>
                                <linkit:sql-ddl-column-comment>Indicazione se prima di attuare un processamento WSSecurity sulla richiesta deve essere effettuato il trattamento mtom (se abilitato tramite la colonna 'mtom_request_mode') (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="security_mtom_res" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="security_mtom_res"/>
                                <linkit:sql-ddl-column-comment>Indicazione se prima di attuare un processamento WSSecurity sulla risposta deve essere effettuato il trattamento mtom (se abilitato tramite la colonna 'mtom_response_mode') (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="security_request_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="security_request_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione della sicurezza per il messaggio di richiesta]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="security_response_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="security_response_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione della sicurezza per il messaggio di risposta]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_asincrona_sim" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricevuta_asincrona_sim"/>
                                <linkit:sql-ddl-column-comment>Indicazione se è prevista una ricevuta nell'http reply per il profilo asincrono simmetrico (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_asincrona_asim" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricevuta_asincrona_asim"/>
                                <linkit:sql-ddl-column-comment>Indicazione se è prevista una ricevuta nell'http reply per il profilo asincrono asimmetrico (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_stato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_stato"/>
                                <linkit:sql-ddl-column-comment>Modalità di validazione del contenuto applicativo (abilitato/disabilitato/warningOnly)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato/warningOnly]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_tipo"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di validazione del contenuto applicativo nel caso in cui la validazione (vedi colonna 'validazione_contenuti_stato') non è disabilitata
- 'xsd': il messaggio viene validato rispetto agli schemi XSD registrati nell'accordo di servizio
- 'wsdl': si tratta di una validazione più rigida rispetto a quella xsd, poichè oltre a verificare che il messaggio sia valido verifica anche che sia quello atteso per l'operazione in corso
- 'openspcoop': validazione equivalente a quella 'wsdl' dove tutte le informazioni prelevate tipicamente in un wsdl (style,use,soapAction,...) sono invece state indicate direttamente sul registro dei servizi della PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[wsdl/openspcoop/xsd]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_mtom" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_mtom"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di validazione del contenuto applicativo nel caso in cui la validazione (vedi colonna 'validazione_contenuti_stato') non è disabilitata ed il messaggio è nel formato MTOM.
Indicazione se prima di procedere con la validazione tramite schemi xsd si deve effettuare una trasformazione temporanea degli elementi MTOM/XOP-Message in modo da poter superare una validazione xsd (abilitato/disabilitato)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="integrazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="integrazione"/>
                                <linkit:sql-ddl-column-comment>Lista di interfacce (tipi separati da virgola) per l'integrazione verso l'applicativo fruitore. I tipi indicati devono essere stati registrati nel file 'openspcoop2.classRegistry.properties'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[lista di tipi separati dalla virgola]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza_correlazione_appl" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza_correlazione_appl"/>
                                <linkit:sql-ddl-column-comment>Indicazione (in minuti) sull'intervallo di validità di una regola di correlazione applicativa che deve preservare l'associazione id-applicativo e id-protocollo</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[scadenza correlazione applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="allega_body" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="allega_body"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'allega body' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scarta_body" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scarta_body"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'scarta body' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gestione_manifest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gestione_manifest"/>
                                <linkit:sql-ddl-column-comment>Modalità di gestione del manifest degli attachments, se il protocollo lo supporta (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stateless" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stateless"/>
                                <linkit:sql-ddl-column-comment>Modalità di gestione delle comunicazioni; per i profili di comunicazione che lo supportano, tramite questa impostazione viene abilitata o meno la presa in carico da parte della PdD (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="local_forward" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="local_forward"/>
                                <linkit:sql-ddl-column-comment>Se viene abilitata questa funzionalità la richiesta ricevuta sulla porta delegata viene cortocircuitata alla porta applicativa (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="local_forward_pa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="local_forward_pa"/>
                                <linkit:sql-column-comment><![CDATA[Nome della PortaApplicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ruoli_match" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruoli_match"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indica quali ruoli sono richiesti alla fruizione, se nella porta è stata impostata una autorizzazione basata sui ruoli (vedi colonna 'autorizzazione'):
- 'all': tutti i ruoli associati alla porta delegata (tramite tabella pd_ruoli) devono essere posseduti dal chiamante
- 'any': per essere autorizzati ad invocare il servizio è sufficente per il chiamante possedere uno dei ruoli definiti sulla porta delegata]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[all/any]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricerca_porta_azione_delegata" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricerca_porta_azione_delegata"/>
                                <linkit:sql-ddl-column-comment>Indicazione se identificata l'azione con la modalità configurata tramite la colonna 'mode_azione' deve essere cercata una porta più specifica (contenente tale azione come delega) o deve essere utilizzata quella individuata da questa riga della tabella (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la porta è abilitata (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto che possiede la porta delegata [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[proprietario porta delegata (Soggetto fruitore)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di ultima modifica dei dati della porta delegata, modifica attuata tipicamente attraverso la console di gestione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="porte-delegate-sa">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="porte_delegate_sa"
                        comment="Elenco di servizi applicativi che sono autorizzati a fruire della porta delegata, se nella porta è stata impostata una autorizzazione 'authenticated' (vedi colonna 'autorizzazione')">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="servizi_applicativi">
                            <linkit:sql-table-fk-field name="id_servizio_applicativo"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_porta"/>
                            <linkit:sql-table-unique-field name="id_servizio_applicativo"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_PD_SA">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio_applicativo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_applicativo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio applicativo associato alla porta [FK verso tabella servizi_applicativi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="porte-delegate-prop" type="NomeValore">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_properties" 
                        comment="Elenco di proprieta associate alla porta">
                        <linkit:sql-table-constraint unique="uniq_pd_properties" index="idx_pd_properties"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_porta"/>
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="valore"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_PD_PROP">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    
    <xsd:element name="porte-delegate-mtom-request" type="MtomFlowParameter">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_mtom_request"
                                              comment="Elenco dei campi (nome,regolaXPath) interni al messaggio di richiesta che saranno gestiti tramite la modalità di elaborazione del messaggio MTOM impostato sulla porta">
                        <linkit:sql-table-constraint unique="uniq_pd_mtom_request" index="idx_pd_mtom_request"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PD_MTOMTREQ">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-delegate-mtom-response" type="MtomFlowParameter">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_mtom_response"
                                                    comment="Elenco dei campi (nome,regolaXPath) interni al messaggio di risposta che saranno gestiti tramite la modalità di elaborazione del messaggio MTOM impostato sulla porta">
                        <linkit:sql-table-constraint unique="uniq_pd_mtom_response" index="idx_pd_mtom_response"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PD_MTOMTRES">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    
    <xsd:element name="porte-delegate-security-request" type="NomeValoreAsText">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_security_request"
                                              comment="Elenco di proprietà nome/valore che permettono di configurare la gestione della sicurezza attuata sul messaggio di richiesta">
                        <linkit:sql-table-constraint unique="uniq_pd_sec_request" index="idx_pd_sec_request"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PD_WSSREQ">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-delegate-security-response" type="NomeValoreAsText">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_security_response"
                                              comment="Elenco di proprietà nome/valore che permettono di configurare la gestione della sicurezza attuata sul messaggio di risposta">
                        <linkit:sql-table-constraint unique="uniq_pd_sec_response" index="idx_pd_sec_response"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PD_WSSRES">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:complexType name="NomeValore">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valore" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="valore"/>
                            <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="NomeValoreAsText">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valore" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="valore" text="true"/>
                            <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="MtomFlowParameter">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della risorsa gestita tramite MTOM</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pattern" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="pattern" text="true"/>
                            <linkit:sql-ddl-column-comment>Regola XPath</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="content-type" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="content_type"/>
                            <linkit:sql-ddl-column-comment>MediaType della risorsa gestita tramite MTOM</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="required" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="required"/>
                            <linkit:sql-ddl-column-comment>Indicazione se la risorsa gestita tramite MTOM deve essere obbligatoriamente presente nel messaggio (1:true, 0:false)</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    
    <xsd:element name="porte-delegate-correlazione">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_correlazione">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_elemento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_elemento"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'elemento su cui deve essere attuata la regola di correlazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_correlazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_correlazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di estrazione dell'informazione applicativa dal messaggio:
- 'disabilitato': funzionalità di correlazione applicativa disabilitata
- 'content-based': l'informazione applicativa viene estratta attraverso una regola xpath indicata nella colonna 'pattern'
- 'url-based': l'informazione applicativa viene estratta attraverso una espressione regolare indicata nella colonna 'pattern'
- 'input-based' l'informazione applicativa viene estratta tramite i meccanismi standard di integrazione supportati dalla PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[modalita di scelta user input, content-based, url-based, disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern" text="true"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_correlazione':
- 'content-based': la colonna 'pattern' definisce una regola xpath
- 'url-based': la colonna 'pattern' definisce una espressione regolare]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[pattern utilizzato solo per content/url based]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificazione_fallita" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificazione_fallita"/>
                                <linkit:sql-ddl-column-comment>Indicazione se, nel caso di estrazione fallita dell'informazione applicativa, la transazione deve essere terminata con errore o meno (blocca/accetta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[blocca/accetta]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="riuso_id" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="riuso_id"/>
                                <linkit:sql-ddl-column-comment>Indicazione se deve essere creata una associazione id-applicativo con id-protocollo in modo da riusare lo stesso id-protocollo se viene rilevato lo stesso id-applicativo (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="porte-delegate-correlazione-risposta">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_correlazione_risposta">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_elemento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_elemento"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'elemento su cui deve essere attuata la regola di correlazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_correlazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_correlazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di estrazione dell'informazione applicativa dal messaggio:
- 'disabilitato': funzionalità di correlazione applicativa disabilitata
- 'content-based': l'informazione applicativa viene estratta attraverso una regola xpath indicata nella colonna 'pattern'
- 'url-based': l'informazione applicativa viene estratta attraverso una espressione regolare indicata nella colonna 'pattern'
- 'input-based' l'informazione applicativa viene estratta tramite i meccanismi standard di integrazione supportati dalla PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[modalita di scelta user input, content-based, url-based, disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern" text="true" />
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_correlazione':
- 'content-based': la colonna 'pattern' definisce una regola xpath
- 'url-based': la colonna 'pattern' definisce una espressione regolare]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[pattern utilizzato solo per content/url based]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificazione_fallita" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificazione_fallita"/>
                                <linkit:sql-ddl-column-comment>Indicazione se, nel caso di estrazione fallita dell'informazione applicativa, la transazione deve essere terminata con errore o meno (blocca/accetta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[blocca/accetta]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <xsd:element name="porte-delegate-ruoli">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_ruoli"
                                              comment="Elenco di ruoli richiesti per la fruizione del servizio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_porta" />
                            <linkit:sql-table-unique-column name="ruolo" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_delegate(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ruolo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruolo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del ruolo associato alla porta [FK logica verso tabella ruoli(nome)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <xsd:element name="porte-delegate-azioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pd_azioni"
                        comment="Elenco di azioni delegate associate alla porta">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-delegate"
                            reference-object-type="porte-delegate"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_porta" />
                            <linkit:sql-table-unique-column name="azione" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta delegata [FK verso tabella porte_porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                                <linkit:sql-ddl-column-comment>Azione delegata associata alla porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    <xsd:element name="servizi-applicativi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi_applicativi">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
</xsd:schema>
