core/deploy/sql/xsd/ConfigurazionePorteApplicative.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/config/pa" targetNamespace="http://www.openspcoop2.org/config/pa"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ConfigurazionePorteapplicative">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Porte Applicative ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="porte-applicative" object-type="porte-applicative"/>
                                <linkit:sql-table object-name="porte-applicative-sa" object-type="porte-applicative-sa"/>
                                <linkit:sql-table object-name="porte-applicative-prop" object-type="NomeValore"/>
                                <linkit:sql-table object-name="porte-applicative-mtom-request" object-type="MtomFlowParameter"/>
                                <linkit:sql-table object-name="porte-applicative-mtom-response" object-type="MtomFlowParameter"/>
                                <linkit:sql-table object-name="porte-applicative-ws-request" object-type="NomeValoreAsText"/>
                                <linkit:sql-table object-name="porte-applicative-ws-response" object-type="NomeValoreAsText"/>
                                <linkit:sql-table object-name="porte-applicative-correlazione" object-type="porte-applicative-correlazione"/>
                                <linkit:sql-table object-name="porte-applicative-correlazione-risposta" object-type="porte-applicative-correlazione-risposta"/>
                                <linkit:sql-table object-name="porte-applicative-ruoli" object-type="porte-applicative-ruoli"/>
                                <linkit:sql-table object-name="porte-applicative-soggetti" object-type="porte-applicative-soggetti"/>
                                <linkit:sql-table object-name="porte-applicative-azioni" object-type="porte-applicative-azioni"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="porte-applicative">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="porte_applicative"
                                              comment="Interfacce che permettono la fruizione dei servizi erogati dagli applicativi erogatori interni al dominio">
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_porta"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_porta" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della Porta Applicativa</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                                <linkit:sql-ddl-column-comment>Descrizione generica del servizio esposto dalla porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto_virtuale" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto_virtuale"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto virtuale attivato tramite la porta [FK logica verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Soggetto Virtuale]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_soggetto_virtuale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_soggetto_virtuale"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto virtuale attivato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_soggetto_virtuale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_soggetto_virtuale"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto virtuale attivato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio erogato tramite la porta [FK logica verso tabella servizi(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Servizio]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio"/>
                                <linkit:sql-ddl-column-comment>'Nome' del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_accordo" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'accordo di servizio parte comune implementato dal servizio erogato tramite la porta [FK logica verso tabella accordi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_port_type" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_port_type"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio interno all'accordo di servizio parte comune implementato dal servizio erogato tramite la porta [FK logica verso tabella port_type(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'azione del servizio erogato tramite la porta</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[azione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di identificazione dell'azione:
- 'static': l'azione viene associata staticamente alla porta indicandola tramite la colonna 'nome_azione'
- 'contentBased': l'azione viene identificata attraverso l'estrazione del nome all'interno della richiesta tramite una regola xpath definita nella colonna 'pattern_azione'
- 'urlBased': l'azione viene identificata attraverso l'estrazione del nome dalla url di richiesta tramite una espressione regolare definita nella colonna 'pattern_azione'
- 'inputBased': l'azione viene identificata tramite gli header di integrazione standard forniti con la porta
- 'soapActionBased': l'azione viene identificata tramite la soapAction
- 'headerBased': l'azione viene identificata tramite l'header http indicato nella colonna 'pattern_azione'
- 'protocolBased': l'azione viene identificata tramite il protocollo del messaggio
- 'interfaceBased': l'azione viene identificata relazionando il messaggio di richiesta con quelli registrati nella specifica del servizio
- 'delegatedBy': l'azione viene indicata attraverso l'invocazione delegata da parte della porta delegante indicata nella colonna 'delegante_azione']]></linkit:sql-ddl-column-comment>                                
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_azione':
- 'contentBased': la colonna 'pattern_azione' definisce una regola xpath
- 'urlBased': la colonna 'pattern_azione' definisce una espressione regolare
- 'headerBased': la colonna 'pattern_azione' definisce un header http
]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_porta_delegante_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_porta_delegante_azione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Nome della porta delegante nel caso la modalità di riconoscimento dell'azione indicata nella colonna 'mode_azione' sia 'delegatedBy']]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="force_interface_based_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="force_interface_based_azione"/>
                                <linkit:sql-ddl-column-comment>Indicazione se attuare un riconoscimento interfaceBased dell'azione, in caso di riconoscimento fallito tramite la modalità indicata nella colonna 'mode_azione' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mtom_request_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mtom_request_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione dei messaggi di richiesta per quanto concerne il formato MTOM:
- 'disable': il messaggio non viene in alcun modo modificato
- 'packaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_request', per effettuare la conversione degli elementi identificati in riferimenti xop + attachment corrispondente
- 'unpackaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_request', per effettuare l'operazione inversa al packaging, ripristinando il contenuto originale (presente come attach) al posto del riferimento xop
- 'verify': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_request', per verificare la presenza dei riferimenti xop (con attach) attesi]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[disable/packaging/unpackaging/verify]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mtom_response_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mtom_response_mode"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di gestione dei messaggi di risposta per quanto concerne il formato MTOM:
- 'disable': il messaggio non viene in alcun modo modificato
- 'packaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_response', per effettuare la conversione degli elementi identificati in riferimenti xop + attachment corrispondente
- 'unpackaging': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_response', per effettuare l'operazione inversa al packaging, ripristinando il contenuto originale (presente come attach) al posto del riferimento xop
- 'verify': verranno utilizzate le regole associato alla porta, all'interno della tabella 'pa_mtom_response', per verificare la presenza dei riferimenti xop (con attach) attesi]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[disable/packaging/unpackaging/verify]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ws_security" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ws_security"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se è attivo o meno un trattamento del messaggio tramite WSSecurity (abilitato/disabilitato). 
Se attivo le regole specifiche di trattamento della richiesta e/o della risposta sono definite rispettivamente nella tabella 'pa_ws_request' e 'pa_ws_response' ]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato (se abilitato le WSSproperties sono presenti nelle tabelle ...._ws_request/response)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ws_security_mtom_req" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ws_security_mtom_req"/>
                                <linkit:sql-ddl-column-comment>Indicazione se prima di attuare un processamento WSSecurity sulla richiesta deve essere effettuato il trattamento mtom (se abilitato tramite la colonna 'mtom_request_mode') (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ws_security_mtom_res" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ws_security_mtom_res"/>
                                <linkit:sql-ddl-column-comment>Indicazione se prima di attuare un processamento WSSecurity sulla risposta deve essere effettuato il trattamento mtom (se abilitato tramite la colonna 'mtom_response_mode') (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_asincrona_sim" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricevuta_asincrona_sim"/>
                                <linkit:sql-ddl-column-comment>Indicazione se è prevista una ricevuta nell'http reply per il profilo asincrono simmetrico (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_asincrona_asim" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricevuta_asincrona_asim"/>
                                <linkit:sql-ddl-column-comment>Indicazione se è prevista una ricevuta nell'http reply per il profilo asincrono asimmetrico (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_stato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_stato"/>
                                <linkit:sql-ddl-column-comment>Modalità di validazione del contenuto applicativo (abilitato/disabilitato/warningOnly)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato/warningOnly]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_tipo"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di validazione del contenuto applicativo nel caso in cui la validazione (vedi colonna 'validazione_contenuti_stato') non è disabilitata
- 'xsd': il messaggio viene validato rispetto agli schemi XSD registrati nell'accordo di servizio
- 'wsdl': si tratta di una validazione più rigida rispetto a quella xsd, poichè oltre a verificare che il messaggio sia valido verifica anche che sia quello atteso per l'operazione in corso
- 'openspcoop': validazione equivalente a quella 'wsdl' dove tutte le informazioni prelevate tipicamente in un wsdl (style,use,soapAction,...) sono invece state indicate direttamente sul registro dei servizi della PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[wsdl/openspcoop/xsd]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione_contenuti_mtom" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="validazione_contenuti_mtom"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di validazione del contenuto applicativo nel caso in cui la validazione (vedi colonna 'validazione_contenuti_stato') non è disabilitata ed il messaggio è nel formato MTOM.
Indicazione se prima di procedere con la validazione tramite schemi xsd si deve effettuare una trasformazione temporanea degli elementi MTOM/XOP-Message in modo da poter superare una validazione xsd (abilitato/disabilitato)]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="integrazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="integrazione"/>
                                <linkit:sql-ddl-column-comment>Lista di interfacce (tipi separati da virgola) per l'integrazione verso l'applicativo erogatore. I tipi indicati devono essere stati registrati nel file 'openspcoop2.classRegistry.properties'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[lista di tipi separati dalla virgola]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza_correlazione_appl" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza_correlazione_appl"/>
                                <linkit:sql-ddl-column-comment>Indicazione (in minuti) sull'intervallo di validità di una regola di correlazione applicativa che deve preservare l'associazione id-applicativo e id-protocollo</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[scadenza correlazione applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="allega_body" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="allega_body"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'allega body' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scarta_body" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scarta_body"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'scarta body' (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gestione_manifest" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="gestione_manifest"/>
                                <linkit:sql-ddl-column-comment>Modalità di gestione del manifest degli attachments, se il protocollo lo supporta (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stateless" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stateless"/>
                                <linkit:sql-ddl-column-comment>Modalità di gestione delle comunicazioni; per i profili di comunicazione che lo supportano, tramite questa impostazione viene abilitata o meno la presa in carico da parte della PdD (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="behaviour" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment>Implementazione di una gestione ad hoc della consegna da parte della PdD verso l'applicativo erogatore. Il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="behaviour"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autenticazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autenticazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di identificazione dei soggetti che desiderano fruire del servizio tramite la porta applicativa (non tutti i protocolli supportano l'autenticazione dei soggetti).
Il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'. Di seguito alcune implementazioni di default:
- 'disabilitato': autenticazione non attiva sulla porta
- 'basic': autenticazione http basic composta da username e password
- 'ssl': autenticazione ssl dove viene utilizzato il subject del certificato client
- 'principal': autenticazione implementata sul container e dove l'identità dell'utente autenticato viaggia attraverso una credenzial principal via HttpServlet]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Controllo Accessi]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autenticazione_opzionale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="autenticazione_opzionale"/>
                                <linkit:sql-ddl-column-comment>Indicazione se l'eventuale autenticazione indicata nella colonna 'autenticazione' deve obbligatoriamente identificare il chiamante (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autorizzazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment><![CDATA[Modalità di autorizzazione a fruire del servizio tramite la porta applicativa.
Il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'. Di seguito alcune implementazioni di default:
- 'disabilitato': nessuna autorizzazione attiva sulla porta
- 'authenticated': solo i soggetti autenticati (identificati tramite autenticazione dove supportato dai protocolli, oppure attraverso l'identità indicata nell'header) e definiti come fruitori del servizio  sono autorizzati.
- 'roles': solo i soggetti che possiedono i ruoli associati alla porta applicativa (tramite tabella pa_ruoli) vengono autorizzati
- 'xacmlPolicy': solo i soggetti che soddisfano la policy associata al servizio possono fruirlo]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="autorizzazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="autorizzazione_contenuto" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment>Tipo di autorizzazione del contenuto effettuata dalla PdD; il tipo indicato deve essere stato registrato nel file 'openspcoop2.classRegistry.properties'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="autorizzazione_contenuto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ruoli_match" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruoli_match"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indica quali ruoli sono richiesti alla fruizione, se nella porta è stata impostata una autorizzazione basata sui ruoli (vedi colonna 'autorizzazione'):
- 'all': tutti i ruoli associati alla porta applicativa (tramite tabella pa_ruoli) devono essere posseduti dal chiamante
- 'any': per essere autorizzati ad invocare il servizio è sufficente per il chiamante possedere uno dei ruoli definiti sulla porta applicativa]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[all/any]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricerca_porta_azione_delegata" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ricerca_porta_azione_delegata"/>
                                <linkit:sql-ddl-column-comment>Indicazione se identificata l'azione con la modalità configurata tramite la colonna 'mode_azione' deve essere cercata una porta più specifica (contenente tale azione come delega) o deve essere utilizzata quella individuata da questa riga della tabella (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la porta è abilitata (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[abilitato/disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto che possiede la porta applicativa [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[proprietario porta applicativa]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di ultima modifica dei dati della porta applicativa, modifica attuata tipicamente attraverso la console di gestione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="porte-applicative-sa">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="porte_applicative_sa"
                                              comment="Elenco di applicativi erogatori associati alla porta applicativa (a seconda dei profili è consentito solamente l'associazione di un singolo applicativo)">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="servizi_applicativi">
                            <linkit:sql-table-fk-field name="id_servizio_applicativo"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_porta"/>
                            <linkit:sql-table-unique-field name="id_servizio_applicativo"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_PA_SA">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio_applicativo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_applicativo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio applicativo associato alla porta [FK verso tabella servizi_applicativi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="porte-applicative-prop" type="NomeValore">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_properties" 
                                              comment="Elenco delle informazioni che devono essere veicolate verso l'applicativo erogatore tramite dei nomi personalizzati">
                        <linkit:sql-table-constraint unique="uniq_pa_properties" index="idx_pa_properties"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_porta"/>
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="valore"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_PA_PROP">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-applicative-mtom-request" type="MtomFlowParameter">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_mtom_request"
                                              comment="Elenco dei campi (nome,regolaXPath) interni al messaggio di richiesta che saranno gestiti tramite la modalità di elaborazione del messaggio MTOM impostato sulla porta">
                        <linkit:sql-table-constraint unique="uniq_pa_mtom_request" index="idx_pa_mtom_request"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PA_MTOMTREQ">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-applicative-mtom-response" type="MtomFlowParameter">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_mtom_response"
                                              comment="Elenco dei campi (nome,regolaXPath) interni al messaggio di risposta che saranno gestiti tramite la modalità di elaborazione del messaggio MTOM impostato sulla porta">
                        <linkit:sql-table-constraint unique="uniq_pa_mtom_response" index="idx_pa_mtom_response"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PA_MTOMTRES">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-applicative-ws-request" type="NomeValoreAsText">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_ws_request"
                                              comment="Elenco di proprietà nome/valore che permettono di configurare la gestione della sicurezza attuata sul messaggio di richiesta (es. ws-security)">
                        <linkit:sql-table-constraint unique="uniq_pa_ws_request" index="idx_pa_ws_request"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PA_WSSREQ">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:element name="porte-applicative-ws-response" type="NomeValoreAsText">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_ws_response"
                                              comment="Elenco di proprietà nome/valore che permettono di configurare la gestione della sicurezza attuata sul messaggio di risposta (es. ws-security)">
                        <linkit:sql-table-constraint unique="uniq_pa_ws_response" index="idx_pa_ws_response"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_PA_WSSRES">
                            <linkit:sql-table-index-field name="id_porta"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    
    <xsd:complexType name="NomeValore">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valore" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="valore"/>
                            <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="NomeValoreAsText">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valore" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="valore" text="true"/>
                            <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MtomFlowParameter">
        <xsd:sequence>
            <xsd:element name="id_porta" type="xsd:long">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="id_porta"/>
                            <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nome" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="nome"/>
                            <linkit:sql-ddl-column-comment>Nome della risorsa gestita tramite MTOM</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pattern" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="pattern" text="true"/>
                            <linkit:sql-ddl-column-comment>Regola XPath</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="content-type" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="content_type"/>
                            <linkit:sql-ddl-column-comment>MediaType della risorsa gestita tramite MTOM</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="required" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="required"/>
                            <linkit:sql-ddl-column-comment>Indicazione se la risorsa gestita tramite MTOM deve essere obbligatoriamente presente nel messaggio (1:true, 0:false)</linkit:sql-ddl-column-comment>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    
    <xsd:element name="porte-applicative-correlazione">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_correlazione">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_elemento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_elemento"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'elemento su cui deve essere attuata la regola di correlazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_correlazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_correlazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di estrazione dell'informazione applicativa dal messaggio:
- 'disabilitato': funzionalità di correlazione applicativa disabilitata
- 'content-based': l'informazione applicativa viene estratta attraverso una regola xpath indicata nella colonna 'pattern'
- 'url-based': l'informazione applicativa viene estratta attraverso una espressione regolare indicata nella colonna 'pattern'
- 'input-based' l'informazione applicativa viene estratta tramite i meccanismi standard di integrazione supportati dalla PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[modalita di scelta user input, content-based, url-based, disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern" text="true"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_correlazione':
- 'content-based': la colonna 'pattern' definisce una regola xpath
- 'url-based': la colonna 'pattern' definisce una espressione regolare]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[pattern utilizzato solo per content/url based]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificazione_fallita" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificazione_fallita"/>
                                <linkit:sql-ddl-column-comment>Indicazione se, nel caso di estrazione fallita dell'informazione applicativa, la transazione deve essere terminata con errore o meno (blocca/accetta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[blocca/accetta]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="porte-applicative-correlazione-risposta">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_correlazione_risposta">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_elemento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_elemento"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'elemento su cui deve essere attuata la regola di correlazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mode_correlazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="mode_correlazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di estrazione dell'informazione applicativa dal messaggio:
- 'disabilitato': funzionalità di correlazione applicativa disabilitata
- 'content-based': l'informazione applicativa viene estratta attraverso una regola xpath indicata nella colonna 'pattern'
- 'url-based': l'informazione applicativa viene estratta attraverso una espressione regolare indicata nella colonna 'pattern'
- 'input-based' l'informazione applicativa viene estratta tramite i meccanismi standard di integrazione supportati dalla PdD]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[modalita di scelta user input, content-based, url-based, disabilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pattern" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="pattern" text="true"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Lo scopo del valore indicato in questa colonna varia a seconda della modalità impostata nella colonna 'mode_correlazione':
- 'content-based': la colonna 'pattern' definisce una regola xpath
- 'url-based': la colonna 'pattern' definisce una espressione regolare]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[pattern utilizzato solo per content/url based]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificazione_fallita" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificazione_fallita"/>
                                <linkit:sql-ddl-column-comment>Indicazione se, nel caso di estrazione fallita dell'informazione applicativa, la transazione deve essere terminata con errore o meno (blocca/accetta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[blocca/accetta]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="porte-applicative-ruoli">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_ruoli"
                                              comment="Elenco di ruoli richiesti per la fruizione del servizio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_porta" />
                            <linkit:sql-table-unique-column name="ruolo" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ruolo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruolo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del ruolo associato alla porta [FK logica verso tabella ruoli(nome)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="porte-applicative-soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_soggetti"
                        comment="Elenco di soggetti autorizzati ad invocare la porta">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_porta" />
                            <linkit:sql-table-unique-column name="tipo_soggetto" />
                            <linkit:sql-table-unique-column name="nome_soggetto" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_soggetto"/>
                                <linkit:sql-ddl-column-comment>Tipo del soggetto autorizzato (insieme alla colonna 'nome_soggetto' rappresenta l'identificativo del soggetto) [FK logica verso tabella soggetti(tipo_soggetto,nome_soggetto)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_soggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_soggetto"/>
                                <linkit:sql-ddl-column-comment>Nome del soggetto autorizzato (insieme alla colonna 'tipo_soggetto' rappresenta l'identificativo del soggetto) [FK logica verso tabella soggetti(tipo_soggetto,nome_soggetto)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <xsd:element name="porte-applicative-azioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="pa_azioni"
                        comment="Elenco di azioni delegate associate alla porta">
                        <linkit:sql-table-foreign-key
                            reference-object-name="porte-applicative"
                            reference-object-type="porte-applicative"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_porta"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_porta" />
                            <linkit:sql-table-unique-column name="azione" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_porta" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_porta"/>
                                <linkit:sql-ddl-column-comment>Identificativo della porta applicativa [FK verso tabella porte_applicative(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                                <linkit:sql-ddl-column-comment>Azione delegata associata alla porta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    <xsd:element name="servizi-applicativi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi_applicativi">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
</xsd:schema>
