core/deploy/sql/xsd/ConfigurazioneServiziApplicativi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/config/sa" targetNamespace="http://www.openspcoop2.org/config/sa"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ConfigurazioneServiziApplicativi">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Servizi Applicativi ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="servizi-applicativi" object-type="servizi-applicativi"/>
                                <linkit:sql-table object-name="servizi-applicativi-ruoli" object-type="servizi-applicativi-ruoli"/>
                                <linkit:sql-table object-name="servizi-applicativi-credenziali" object-type="servizi-applicativi-credenziali"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="servizi-applicativi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi_applicativi"
                                              comment="Elenco degli applicativi fruitori o erogatori di servizi">
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore_risp"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore_inv"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="id_soggetto"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index>
                            <linkit:sql-table-index-field name="id_soggetto"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome" varchar="2000"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'applicativo</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo" varchar="255"/>
                                <linkit:sql-ddl-column-comment>Tipo dell'applicativo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="as_client" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="as_client" />
                                <linkit:sql-ddl-column-comment>L'applicativo può anche essere utilizzato come client</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                                <linkit:sql-ddl-column-comment>Generica descrizione dell'applicativo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamentorisp" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sbustamentorisp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo che gestisce la risposta asincrona debba essere sbustato della parte soap (1:true, 0:false)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Risposta Asincrona *
valori 0/1 indicano rispettivamente FALSE/TRUE]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="getmsgrisp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="getmsgrisp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto riguardante la risposta asincrona deve essere salvato e mantenuto nella MessageBox della PdD (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_gestione_errore_risp" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_gestione_errore_risp"/>
                                <linkit:sql-ddl-column-comment>Identificativo della modalità di gestione errore attuata durante la gestione della risposta asincrona [FK verso tabella gestione_errore(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[FOREIGN KEY (id_gestione_errore_risp) REFERENCES gestione_errore(id) Nota: indica un eventuale tipologia di gestione dell'errore per la risposta asincrona]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipoauthrisp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipoauthrisp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se devono essere utilizzate delle credenziali di accesso durante l'invocazione del servizio di risposta asincrona (none/basic)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utenterisp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="utenterisp"/>
                                <linkit:sql-ddl-column-comment>Username inviato all'applicativo che gestisce la risposta asincrona, in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauthrisp')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="passwordrisp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="passwordrisp"/>
                                <linkit:sql-ddl-column-comment>Password inviata all'applicativo che gestisce la risposta asincrona, in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauthrisp')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="invio_x_rif_risp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="invio_x_rif_risp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'invio per riferimento' durante la gestione della risposta asincrona (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="risposta_x_rif_risp" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="risposta_x_rif_risp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'risposta per riferimento' durante la gestione della risposta asincrona (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore_risp" type="xsd:long" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore_risp"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore che definisce il servizio di risposta asincrona [FK verso tabella connettori(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamento_protocol_info_risp" type="xsd:int" minOccurs="0" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sbustamento_protocol_info_risp"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo che gestisce la risposta asincrona debba essere sbustato delle informazioni di protocollo (1:true, 0:false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamentoinv" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sbustamentoinv"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo debba essere sbustato della parte soap (1:true, 0:false)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Invocazione Servizio *
valori 0/1 indicano rispettivamente FALSE/TRUE]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="getmsginv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="getmsginv"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto per l'applicativo erogatore deve essere salvato e mantenuto nella MessageBox della PdD (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_gestione_errore_inv" type="xsd:long" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_gestione_errore_inv"/>
                                <linkit:sql-ddl-column-comment>Identificativo della modalità di gestione errore attuata durante l'invocazione dell'applicativo erogatore [FK verso tabella gestione_errore(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[FOREIGN KEY (id_gestione_errore_inv) REFERENCES gestione_errore(id) Nota: indica un eventuale tipologia di gestione dell'errore per l'invocazione servizio]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipoauthinv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipoauthinv"/>
                                <linkit:sql-ddl-column-comment>Indicazione se devono essere utilizzate delle credenziali di accesso durante l'invocazione del servizio (none/basic)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utenteinv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="utenteinv"/>
                                <linkit:sql-ddl-column-comment>Username inviato all'applicativo erogatore, in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauthinv')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="passwordinv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="passwordinv"/>
                                <linkit:sql-ddl-column-comment>Password inviata all'applicativo erogatore, in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauthinv')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="invio_x_rif_inv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="invio_x_rif_inv"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'invio per riferimento' durante l'invocazione dell'applicativo erogatore (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="risposta_x_rif_inv" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="risposta_x_rif_inv"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'risposta per riferimento' durante l'invocazione dell'applicativo erogatore (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore_inv" type="xsd:long" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore_inv"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore che definisce il servizio [FK verso tabella connettori(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamento_protocol_info_inv" type="xsd:int" minOccurs="0" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo erogatore debba essere sbustato delle informazioni di protocollo (1:true, 0:false)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="sbustamento_protocol_info_inv"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto che possiede l'applicativo [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* SoggettoErogatore *]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fault" type="xsd:string" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fault"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di gestione dell'errore ritornato all'applicativo fruitore:
- ''soap: la descrizione dell'errore viene inserito dalla PdD in un SOAPFault (detail)
- 'xml': l'intero contenuto applicativo ritornato al client contiene una descrizione dell'errore tramite una rappresentazione xml]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[* Invocazione Porta *]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fault_actor" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fault_actor"/>
                                <linkit:sql-ddl-column-comment>Indicazione sul fault-actor da utilizzare se la modalità di errore ritornata al client è impostata a 'fault' (vedi colonna 'fault')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="generic_fault_code" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="generic_fault_code"/>
                                <linkit:sql-ddl-column-comment>Indicazione codice di errore, se il codice debba essere anonimo (400/500) o specifico per l'errore avvenuto (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="prefix_fault_code" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="prefix_fault_code"/>
                                <linkit:sql-ddl-column-comment>Prefisso da associare al codice di errore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipoauth" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipoauth"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipo di credenziale associata all'applicativo, che lo identifica univocamente. Esempi di credenziali sono:
- 'basic': autenticazione http basic composta da username e password
- 'ssl': autenticazione ssl dove viene utilizzato il subject del certificato client
- 'principal': autenticazione implementata sul container e dove l'identità dell'utente autenticato viaggia attraverso una credenzial principal via HttpServlet]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il principal ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione.
                                    NOTA: il principal potrebbe corrispondere ad un subject
                                -->
                                <linkit:sql-column-mapping name="utente" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Username in caso di credenziali di tipo 'basic' o principal-user-id in caso di credenziali di tipo 'principal' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="password" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="password"/>
                                <linkit:sql-ddl-column-comment>Password in caso di credenziali di tipo 'basic' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="subject" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_subject"/>
                                <linkit:sql-ddl-column-comment>CommonName del Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="issuer" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_issuer"/>
                                <linkit:sql-ddl-column-comment>CommonName dell'Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="certificate" medium-binary="true"/>
                                <linkit:sql-ddl-column-comment>Certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate-strict-verification" type="xsd:integer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cert_strict_verification" />
                                <linkit:sql-ddl-column-comment>Indicazione se viene effettuata un confronto 'strict' su tutti i campi del certificato o solamente su Issuer e Subject, in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth') (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="invio_x_rif" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="invio_x_rif"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la PdD deve attuare la funzionalità 'invio per riferimento' durante l'invocazione dell'applicativo fruitore (abilitato/disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamento_protocol_info" type="xsd:int" minOccurs="0" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="sbustamento_protocol_info"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato come risposta all'applicativo fruitore debba essere sbustato delle informazioni di protocollo (1:true, 0:false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipologia_fruizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipologia_fruizione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia dell'applicativo per quanto concerne il ruolo di fruitore:
- 'disabilitato': l'applicativo non è utilizzabile come fruitore
- 'normale': l'applicativo è utilizzabile come fruitore dei servizi attraverso le porte delegate esposte dalla PdD
- 'asincrona_simmetrica': l'applicativo è utilizzabile per fruire di un servizio con profilo asincrono simmetrico; il profilo richiede che l'applicativo fruitore esponga anche un servizio per ricevere le risposte asincrone]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipologia_erogazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipologia_erogazione"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Tipologia dell'applicativo per quanto concerne il ruolo di erogatore:
- 'disabilitato': l'applicativo non è utilizzabile come erogatore
- 'trasparente': l'applicativo espone un servizio utilizzato dalla PdD per inoltre il pacchetto applicativo ricevuto attraverso una porta applicativa
- 'asincrona_asimmetrica': l'applicativo è utilizzabile come erogatore di un servizio con profilo asincrono asimmetrico; il profilo richiede che l'applicativo esponda un servizio per ricevere la richiesta ed un ulteriore servizio per richiedere la risposta
- 'message_box': il pacchetto applicativo ricevuto dalla PdD attraverso una porta applicativa non viene consegnato ad un servizio ma viene salvato nella MessageBox e l'applicativo potrà recuperarlo successivamente]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di ultima modifica dei dati del Servizio Applicativo, modifica attuata tipicamente attraverso la console di gestione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="servizi-applicativi-ruoli">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="sa_ruoli"
                                              comment="Ruoli associati ai servizi applicativi">
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi-applicativi"
                            reference-object-type="servizi-applicativi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio_applicativo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_servizio_applicativo" />
                            <linkit:sql-table-unique-column name="ruolo" />
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_SA_RUOLI">
                            <linkit:sql-table-index-column name="id_servizio_applicativo" />
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_servizio_applicativo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_applicativo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio applicativo che possiede il ruolo indicato nella colonna 'id_ruolo' [FK verso tabella servizi_applicativi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ruolo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruolo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del ruolo associato al servizio applicativo [FK logica verso tabella ruoli(nome)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="servizi-applicativi-credenziali">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="sa_credenziali"
                        comment="Credenziali ulteriori associate ai servizi applicativi">
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi-applicativi"
                            reference-object-type="servizi-applicativi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio_applicativo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_SA_CRED">
                            <linkit:sql-table-index-column name="id_servizio_applicativo" />
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_servizio_applicativo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_applicativo"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio applicativo che possiede la credenziale definita in questa riga [FK verso tabella servizi_applicativi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="subject" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-subject" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_subject"/>
                                <linkit:sql-ddl-column-comment>CommonName del Subject del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <!-- 
                                    Nella tabella 'credenziale-mittente' dove vengono tracciate le credenziali, il subject ha a disposizione 2900 caratteri,
                                    poichè può variare la lunghezza in funzione del formato e la conversione viene effettuata durante il salvataggio, si e' scelto di permettere meno caratteri per
                                    non incorrere in eventuali errori di conversione 
                                -->
                                <linkit:sql-column-mapping name="issuer" varchar="2800"/>
                                <linkit:sql-ddl-column-comment>Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
                <xsd:element name="cn-issuer" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cn_issuer"/>
                                <linkit:sql-ddl-column-comment>CommonName dell'Issuer del certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="certificate" medium-binary="true"/>
                                <linkit:sql-ddl-column-comment>Certificato in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="certificate-strict-verification" type="xsd:integer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cert_strict_verification" />
                                <linkit:sql-ddl-column-comment>Indicazione se viene effettuata un confronto 'strict' su tutti i campi del certificato o solamente su Issuer e Subject, in caso di credenziali di tipo 'ssl' (vedi colonna 'tipoauth') (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    <xsd:element name="connettori">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
</xsd:schema>
