core/deploy/sql/xsd/ConnettoriGestioneErrore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/connettori/gestione_errore" targetNamespace="http://www.openspcoop2.org/connettori/gestione_errore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="ConnettoriGestioneErrori">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Connettori Gestione Errore ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="gestione-errore" object-type="gestione-errore"/>
                                <linkit:sql-table object-name="gestione-errore-trasporto" object-type="gestione-errore-trasporto"/>
                                <linkit:sql-table object-name="gestione-errore-soap" object-type="gestione-errore-soap"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="gestione-errore">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="gestione_errore"
                                              comment="Contiene le modalità di riconsegna di un messaggio in caso di errore">
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="comportamento_default" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="comportamento_default"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Definisce il comportamento di default in caso di errore durante una consegna; 
- 'accetta': non viene rischedulata alcuna consegna del messaggio
- 'rispedisci': viene rischedulata una riconsegna del messaggio]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[accetta/rispedisci]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cadenza_rispedizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment>Indica l'intervallo temporale che deve trascorrere prima di una riconsegna</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="cadenza_rispedizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                                <linkit:sql-ddl-column-comment>Identifica la modalità di gestione dell'errore definita in questa riga della tabella</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>            
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="gestione-errore-trasporto">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="gestione_errore_trasporto"
                                               comment="Contiene la personalizzazione della gestione dell'errore a seconda del codice di trasporto ottenuto">
                        <linkit:sql-table-constraint index="idx_gest_err_trasporto"/>
                        <linkit:sql-table-foreign-key
                           reference-object-name="gestione-errore"
                           reference-object-type="gestione-errore"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_gestione_errore"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index>
                            <linkit:sql-table-index-field name="id_gestione_errore"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_gestione_errore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_gestione_errore"/>
                                <linkit:sql-ddl-column-comment>Identificativo della modalità di gestione dell'errore [FK verso tabella gestione_errore(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="valore_massimo" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="valore_massimo"/>
                                <linkit:sql-ddl-column-comment>Indica l'intervallo destro che definisce questa regola per quanto concerne il codice di trasporto. Per avere un match con questa riga, il codice di trasporto deve essere minore o uguale al valore indicato nella colonna.</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="valore_minimo" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="valore_minimo"/>
                                <linkit:sql-ddl-column-comment>Indica l'intervallo sinistro che definisce questa regola per quanto concerne il codice di trasporto. Per avere un match con questa riga, il codice di trasporto deve essere maggiore o uguale al valore indicato nella colonna.</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="comportamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="comportamento"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Definisce il comportamento in caso il codice di trasporto corrisponda alla regola definita in questa riga; 
- 'accetta': non viene rischedulata alcuna consegna del messaggio
- 'rispedisci': viene rischedulata una riconsegna del messaggio]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[accetta/rispedisci]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cadenza_rispedizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-ddl-column-comment>Indica l'intervallo temporale che deve trascorrere prima di una riconsegna, nel caso il codice di trasporto corrisponda alla regola definita in questa riga</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-mapping name="cadenza_rispedizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <xsd:element name="gestione-errore-soap">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="gestione_errore_soap"
                                              comment="Contiene la personalizzazione della gestione dell'errore in base al tipo di SOAPFault ricevuto come risposta">
                        <linkit:sql-table-constraint index="idx_gest_err_soap"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="gestione-errore"
                            reference-object-type="gestione-errore"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_gestione_errore"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index>
                            <linkit:sql-table-index-field name="id_gestione_errore"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_gestione_errore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_gestione_errore"/>
                                <linkit:sql-ddl-column-comment>Identificativo della modalità di gestione dell'errore [FK verso tabella gestione_errore(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fault_actor" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fault_actor"/>
                                <linkit:sql-ddl-column-comment>Per avere un match con questa riga, il messaggio ottenuto come risposta alla consegna deve contenere un SOAPFault con un actor equivalente al valore indicato in questa colonna.</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fault_code" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fault_code"/>
                                <linkit:sql-ddl-column-comment>Per avere un match con questa riga, il messaggio ottenuto come risposta alla consegna deve contenere un SOAPFault con un codice equivalente al valore indicato in questa colonna.</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fault_string" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="fault_string"/>
                                <linkit:sql-ddl-column-comment>Per avere un match con questa riga, il messaggio ottenuto come risposta alla consegna deve contenere un SOAPFault con un FaultString equivalente al valore indicato in questa colonna.</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="comportamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="comportamento"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Definisce il comportamento in caso la risposta contenga un SOAPFault compatibile alla regola definita in questa riga; 
- 'accetta': non viene rischedulata alcuna consegna del messaggio
- 'rispedisci': viene rischedulata una riconsegna del messaggio]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[accetta/rispedisci]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cadenza_rispedizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="cadenza_rispedizione"/>
                                <linkit:sql-ddl-column-comment>Indica l'intervallo temporale che deve trascorrere prima di una riconsegna, nel caso la risposta contenga un SOAPFault compatibile alla regola definita in questa riga</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    
    
</xsd:schema>
