core/deploy/sql/xsd/Connettori.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/connettori" targetNamespace="http://www.openspcoop2.org/connettori"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="Connettori">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Connettori ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="connettori" object-type="connettori"/>
                                <linkit:sql-table object-name="connettori-custom" object-type="connettori-custom"/>
                                <linkit:sql-table object-name="connettori-properties" object-type="connettori-properties"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="connettori">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori"
                                              comment="Definisce i connettori verso le altre PdD o gli applicativi interni al dominio (es. url,coda-jms,....)">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_connettore"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="endpointtype" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="endpointtype"/>
                                <linkit:sql-ddl-column-comment>Tipo di connettore utilizzato per l'integrazione con una PdD o l'applicativo erogatore. Il tipo deve essere stato registrato nel file 'govway.classRegistry.properties'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[(disabilitato,http,jms)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_connettore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_connettore" varchar="2000"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="url" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="url" varchar="4000"/>
                                <linkit:sql-ddl-column-comment>Definisce una url in caso di connettore di tipo 'http' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[url nel caso http]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="transfer_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="transfer_mode"/>
                                <linkit:sql-ddl-column-comment>Definisce la modalità di trasferimento dei dati in caso di connettore di tipo 'http' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[nel caso di http indicazione se usare chunking]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="transfer_mode_chunk_size" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="transfer_mode_chunk_size"/>
                                <linkit:sql-ddl-column-comment>Definisce la dimensione del chunk in caso di modalità di trasferimento dei dati 'chunked' (modalità indicata nella colonna 'transfer_mode')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="redirect_mode" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="redirect_mode"/>
                                <linkit:sql-ddl-column-comment>Indicazione se seguire o meno un'eventuale redirect in caso di connettore di tipo 'http' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[nel caso di http indicazione se seguire il redirect o meno]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="redirect_max_hop" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="redirect_max_hop"/>
                                <linkit:sql-ddl-column-comment>Definisce il massimo numero di volte che viene seguito un eventuale redirect in caso di connettore di tipo 'http' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                                <linkit:sql-ddl-column-comment>Nome della coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[nome coda jms]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo"/>
                                <linkit:sql-ddl-column-comment>Tipo della coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype') (queue/topic)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[tipo coda jms (queue,topic)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="utente"/>
                                <linkit:sql-ddl-column-comment>Username utilizzato come credenziale di accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[utente di una connessione jms]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="password" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="password"/>
                                <linkit:sql-ddl-column-comment>Password utilizzata come credenziale di accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[password per una connessione jms]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="initcont" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="initcont"/>
                                <linkit:sql-ddl-column-comment>Proprietà 'InitialContext' utilizzata per l'accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[context property: initial_content]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="urlpkg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="urlpkg"/>
                                <linkit:sql-ddl-column-comment>Proprietà 'UrlPackage' utilizzata per l'accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[context property: url_pkg]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="provurl" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="provurl"/>
                                <linkit:sql-ddl-column-comment>Proprietà 'ProviderURL' utilizzata per l'accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[context property: provider_url]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="connection_factory" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="connection_factory"/>
                                <linkit:sql-ddl-column-comment>'ConnectionFactory' utilizzata per l'accesso alla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[ConnectionFactory JMS]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="send_as" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="send_as"/>
                                <linkit:sql-ddl-column-comment>Tipo di messaggio pubblicato sulla coda jms in caso di connettore di tipo 'jms' (tipo indicato nella colonna 'endpointtype') (text/byte)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Messaggio JMS inviato come text/byte message]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="debug" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="debug"/>
                                <linkit:sql-ddl-column-comment>Se viene abilitato il debug, tutte le operazioni intraprese dal connettore (compresi i log dei messaggi inviati e ricevuti) vengono tracciati nel file log/openspcoop2_connettori.log (1:true, 0:false)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) abilita il debug tramite il connettore]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy"/>
                                <linkit:sql-ddl-column-comment>Indicazione se deve essere utilizzato un proxy in caso di connettore di tipo 'http' (tipo indicato nella colonna 'endpointtype') (1:true, 0:false)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) abilita l'utilizzo di un proxy tramite il connettore]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy_type" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy_type"/>
                                <linkit:sql-ddl-column-comment>Tipo del proxy se abilitato tramite la colonna 'proxy' (http/https)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy_hostname" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy_hostname"/>
                                <linkit:sql-ddl-column-comment>Hostname del proxy (per tipo di connettore 'http') se abilitato tramite la colonna 'proxy'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy_port" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy_port"/>
                                <linkit:sql-ddl-column-comment>Porta del proxy (per tipo di connettore 'http') se abilitato tramite la colonna 'proxy'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy_username" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy_username"/>
                                <linkit:sql-ddl-column-comment>Username da fornire al proxy (per tipo di connettore 'http') se abilitato tramite la colonna 'proxy'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proxy_password" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="proxy_password"/>
                                <linkit:sql-ddl-column-comment>Password da fornire al proxy (per tipo di connettore 'http') se abilitato tramite la colonna 'proxy'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="connection_timeout" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="connection_timeout"/>
                                <linkit:sql-ddl-column-comment>Indicazione sull'intervallo massimo di tempo necessario per instaurare una connessione (intervallo in ms)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Indicazione sull'intervallo massimo di tempo necessario per instaurare una connessione (intervallo in ms)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="read_timeout" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="read_timeout"/>
                                <linkit:sql-ddl-column-comment>Indicazione sull'intervallo massimo di tempo che può occorrere prima di ricevere una risposta (intervallo in ms)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Indicazione sull'intervallo massimo di tempo che può occorrere prima di ricevere una risposta (intervallo in ms)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="avg_response_time" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="avg_response_time"/>
                                <linkit:sql-ddl-column-comment>Indicazione sull'intervallo di tempo medio atteso prima di ricevere una risposta (intervallo in ms)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Indicazione sull'intervallo massimo di tempo medio atteso prima di ricevere una risposta (intervallo in ms)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="custom" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="custom"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il connettore è 'standard' (custom=0) o 'personalizzato' (custom=1). Nel caso di connettore personalizzato le proprietà vengono definite nella tabella associata 'connettori_custom'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) indica se il connettore e' gestito tramite le proprieta' custom]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="token_policy" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="token_policy"/>
                                <linkit:sql-ddl-column-comment>Identificativo della policy di gestione dei token</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Gestione Token]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="connettori-custom">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori_custom"
                                              comment="Elenco di proprietà nome/valore che definiscono un connettore personalizzato">
                        <linkit:sql-table-constraint index="idx_conn_custom"/>
                        <linkit:sql-table-foreign-key
                           reference-object-name="connettori"
                           reference-object-type="connettori"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_connettore"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_connettore"/>
                            <linkit:sql-table-unique-field name="name"/>
                            <linkit:sql-table-unique-field name="value"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index>
                            <linkit:sql-table-index-field name="id_connettore"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                                <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value" varchar="4000"/>
                                <linkit:sql-ddl-column-comment>Valore associato alla proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore [FK verso tabella connettori(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="connettori-properties">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori_properties"
                                              comment="Elenco di connettori personalizzati definiti tramite file di properties esterni">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_connettore"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_connettore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_connettore"/>
                                <linkit:sql-ddl-column-comment>Identificativo del connettore personalizzato</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[nome connettore personalizzato attraverso file properties]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="path" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="path"/>
                                <linkit:sql-ddl-column-comment>Path su filesystem del file di proprietà che definisce il connettore personalizzato</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[location del file properties]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    
    
</xsd:schema>
