core/deploy/sql/xsd/RegistroServiziAccordi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/registro/accordi" targetNamespace="http://www.openspcoop2.org/registro/accordi"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="RegistroServiziAccordi">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Documenti ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="documenti" object-type="documenti"/>
                                <linkit:sql-comment><![CDATA[**** Accordi di Servizio Parte Comune ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="accordi" object-type="accordi"/>
                                <linkit:sql-table object-name="accordi-azioni" object-type="accordi-azioni"/>
                                <linkit:sql-table object-name="port-type" object-type="port-type"/>
                                <linkit:sql-table object-name="port-type-azioni" object-type="port-type-azioni"/>
                                <linkit:sql-table object-name="operation-messages" object-type="operation-messages"/>
                                <linkit:sql-comment><![CDATA[**** Accordi di Cooperazione ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="accordi-cooperazione" object-type="accordi-cooperazione"/>
                                <linkit:sql-table object-name="accordi-coop-partecipanti" object-type="accordi-coop-partecipanti"/>
                                <linkit:sql-comment><![CDATA[**** Accordi di Servizio Parte Specifica ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="servizi" object-type="servizi"/>
                                <linkit:sql-table object-name="servizi-fruitori" object-type="servizi-fruitori"/>
                                <linkit:sql-table object-name="servizi-azioni" object-type="servizi-azioni"/>
                                <linkit:sql-comment><![CDATA[**** Accordi di Servizio Composti ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="acc-serv-composti" object-type="acc-serv-composti"/>
                                <linkit:sql-table object-name="acc-serv-componenti" object-type="acc-serv-componenti"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="documenti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="documenti">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="ruolo"/>
                            <linkit:sql-table-unique-field name="tipo"/>
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="id_proprietario"/>
                            <linkit:sql-table-unique-field name="tipo_proprietario"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_DOC_SEARCH">
                            <linkit:sql-table-index-field name="id_proprietario"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ruolo" type="Ruolo">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ruolo"/>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo"/>
                                <linkit:sql-column-comment><![CDATA[tipo (es. xsd,xml...)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                                <linkit:sql-column-comment><![CDATA[nome documento]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contenuto" type="xsd:hexBinary">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="contenuto"/>
                                <linkit:sql-column-comment><![CDATA[contenuto documento]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_proprietario" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_proprietario"/>
                                <linkit:sql-column-comment><![CDATA[idOggettoProprietarioDocumento]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_proprietario" type="TipoProprietario">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_proprietario"/>
                                <linkit:sql-column-comment><![CDATA[tipoProprietario]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="Ruolo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="allegato"/>
            <xsd:enumeration value="specificaSemiformale"/>
            <xsd:enumeration value="specificaLivelloServizio"/>
            <xsd:enumeration value="specificaSicurezza"/>
            <xsd:enumeration value="specificaCoordinamento"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TipoProprietario">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="accordoServizio"/>
            <xsd:enumeration value="accordoCooperazione"/>
            <xsd:enumeration value="servizio"/>
        </xsd:restriction>
    </xsd:simpleType>
    






    <xsd:element name="accordi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="accordi">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="id_referente"/>
                            <linkit:sql-table-unique-field name="versione"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_definitorio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_definitorio" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_concettuale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_concettuale" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_logico_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_logico_erogatore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_logico_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_logico_fruitore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="specifica_conversazione_concettuale" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="spec_conv_concettuale" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="specifica_conversazione_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="spec_conv_erogatore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="specifica_conversazione_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="spec_conv_fruitore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="filtro_duplicati" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="filtro_duplicati"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificativo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificativo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="consegna_in_ordine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="consegna_in_ordine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="superuser" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="superuser"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_referente" type="xsd:long" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_referente"/>
                                <linkit:sql-column-comment><![CDATA[id del soggetto referente]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione" type="xsd:string" minOccurs="0" default="">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="utilizzo_senza_azione" type="xsd:int" minOccurs="0" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="utilizzo_senza_azione"/>
                                <linkit:sql-column-comment><![CDATA[1/0 (vero/falso) indica se questo accordo di servizio e' utilizzabile in mancanza di azioni associate]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="privato" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="privato"/>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) indica se il soggetto e' privato/pubblico]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="TipoStato" default="finale">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="TipoStato">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="finale"/>
            <xsd:enumeration value="bozza"/>
            <xsd:enumeration value="operativo"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="accordi-azioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="accordi_azioni">
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi"
                            reference-object-type="accordi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="id_accordo"/>
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_accordo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="filtro_duplicati" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="filtro_duplicati"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificativo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificativo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="consegna_in_ordine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="consegna_in_ordine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlata" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlata"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_azione"/>
                                <linkit:sql-column-comment><![CDATA[ridefinito/default]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="port-type">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="port_type">
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi"
                            reference-object-type="accordi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="id_accordo"/>
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_accordo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="filtro_duplicati" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="filtro_duplicati"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificativo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificativo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="consegna_in_ordine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="consegna_in_ordine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_pt" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_pt"/>
                                <linkit:sql-column-comment><![CDATA[ridefinito/default]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_style" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_style"/>
                                <linkit:sql-column-comment><![CDATA[document/RPC]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>         
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="port-type-azioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="port_type_azioni">
                        <linkit:sql-table-foreign-key
                            reference-object-name="port-type"
                            reference-object-type="port-type"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_port_type"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="id_port_type"/>
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_port_type" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_port_type"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="filtro_duplicati" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="filtro_duplicati"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="conferma_ricezione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="identificativo_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="identificativo_collaborazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="consegna_in_ordine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="consegna_in_ordine"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="scadenza"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlata_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlata_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlata" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="correlata"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_pt_azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo_pt_azione"/>
                                <linkit:sql-column-comment><![CDATA[ridefinito/default]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_style" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_style"/>
                                <linkit:sql-column-comment><![CDATA[document/rpc]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_action" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_action"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_use_msg_input" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_use_msg_input"/>
                                <linkit:sql-column-comment><![CDATA[literal/encoded]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_namespace_msg_input" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_namespace_msg_input"/>
                                <linkit:sql-column-comment><![CDATA[namespace utilizzato per RPC]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_use_msg_output" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_use_msg_output"/>
                                <linkit:sql-column-comment><![CDATA[literal/encoded]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soap_namespace_msg_output" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="soap_namespace_msg_output"/>
                                <linkit:sql-column-comment><![CDATA[namespace utilizzato per RPC]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="operation-messages">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="operation_messages">
                        <linkit:sql-table-foreign-key
                            reference-object-name="port-type-azioni"
                            reference-object-type="port-type-azioni"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_port_type_azione"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_OP_MESSAGES">
                            <linkit:sql-table-index-field name="id_port_type_azione"/>
                            <linkit:sql-table-index-field name="input_message"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_port_type_azione" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_port_type_azione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="input_message" type="xsd:int" minOccurs="0" default="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="input_message"/>
                                <linkit:sql-column-comment><![CDATA[true(1)/false(0), true indica un input-message, false un output-message]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="name" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="element_name" type="xsd:string" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="element_name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="element_namespace" type="xsd:string" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="element_namespace"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="type_name" type="xsd:string" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="type_name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="type_namespace" type="xsd:string" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="type_namespace"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="accordi-cooperazione">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="accordi_cooperazione">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome"/>
                            <linkit:sql-table-unique-field name="versione"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_referente" type="xsd:long" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_referente"/>
                                <linkit:sql-column-comment><![CDATA[id del soggetto referente]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione" type="xsd:string" minOccurs="0" default="">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="versione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="TipoStato" default="finale">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="privato" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="privato"/>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) indica se il soggetto e' privato/pubblico]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="superuser" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="superuser"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    
    <xsd:element name="accordi-coop-partecipanti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="accordi_coop_partecipanti">
                        <linkit:sql-table-constraint unique="unique_acc_coop_part" index="idx_acc_coop_part"/>
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi-cooperazione"
                            reference-object-type="accordi-cooperazione"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo_cooperazione"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="id_accordo_cooperazione"/>
                            <linkit:sql-table-unique-field name="id_soggetto"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_AC_COOP_PAR">
                            <linkit:sql-table-index-field name="id_accordo_cooperazione"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_accordo_cooperazione" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo_cooperazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    <xsd:element name="servizi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi">
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi"
                            reference-object-type="accordi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_servizio"/>
                            <linkit:sql-table-unique-field name="tipo_servizio"/>
                            <linkit:sql-table-unique-field name="id_soggetto"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_APS">
                            <linkit:sql-table-index-field name="aps_nome"/>
                            <linkit:sql-table-index-field name="aps_versione"/>
                            <linkit:sql-table-index-field name="id_soggetto"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_accordo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="servizio_correlato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_implementativo_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_implementativo_erogatore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_implementativo_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_implementativo_fruitore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="superuser" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="superuser"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="privato" type="xsd:int" minOccurs="0" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="privato"/>
                                <linkit:sql-column-comment><![CDATA[1/0 (true/false) indica se il soggetto e' privato/pubblico]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="port_type" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="port_type"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="descrizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="descrizione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="TipoStato" default="finale">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="aps_nome" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="aps_nome"/>
                                <linkit:sql-column-comment><![CDATA[identificativi accordo di servizio parte specifica]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="aps_versione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="aps_versione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="servizi-fruitori">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi_fruitori">
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi"
                            reference-object-type="servizi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="soggetti">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="id_servizio"/>
                            <linkit:sql-table-unique-field name="id_soggetto"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_servizio" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_implementativo_erogatore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_implementativo_erogatore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wsdl_implementativo_fruitore" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="wsdl_implementativo_fruitore" medium-text="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="profilo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="client_auth" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="client_auth"/>
                                <linkit:sql-column-comment><![CDATA[client auth: disabilitato/abilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="TipoStato" default="finale">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="servizi-azioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi_azioni">
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi"
                            reference-object-type="servizi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key reference-table="connettori">
                            <linkit:sql-table-fk-field name="id_connettore"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome_azione"/>
                            <linkit:sql-table-unique-field name="id_servizio"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nome_azione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="nome_azione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_connettore" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_connettore"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    
    
    <xsd:element name="acc-serv-composti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="acc_serv_composti">
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi"
                            reference-object-type="accordi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key
                            reference-object-name="accordi-cooperazione"
                            reference-object-type="accordi-cooperazione"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_accordo_cooperazione"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="id_accordo"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="INDEX_AC_SC">
                            <linkit:sql-table-index-field name="id_accordo_cooperazione"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_accordo" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_accordo_cooperazione" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_accordo_cooperazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="acc-serv-componenti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="acc_serv_componenti">
                        <linkit:sql-table-foreign-key
                            reference-object-name="acc-serv-composti"
                            reference-object-type="acc-serv-composti"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio_composto"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi"
                            reference-object-type="servizi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio_componente"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="INDEX_AC_SC_SC">
                            <linkit:sql-table-index-field name="id_servizio_composto"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_servizio_composto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_composto"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio_componente" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio_componente"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="azione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    






    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    
    <xsd:element name="connettori">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="connettori">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    

    
</xsd:schema>
