core/deploy/sql/xsd/RepositoryBuste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/repository/buste" targetNamespace="http://www.openspcoop2.org/repository/buste"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="RepositoryBuste">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Repository Buste ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="repository-buste" object-type="repository-buste"/>
                                <linkit:sql-table object-name="lista-riscontri" object-type="lista-riscontri"/>
                                <linkit:sql-table object-name="lista-trasmissioni" object-type="lista-trasmissioni"/>
                                <linkit:sql-table object-name="lista-eccezioni" object-type="lista-eccezioni"/>
                                <linkit:sql-table object-name="lista-ext-protocol-info" object-type="lista-ext-protocol-info"/>
                                <linkit:sql-comment><![CDATA[**** Riscontri ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="riscontri" object-type="riscontri"/>
                                <linkit:sql-comment><![CDATA[**** Sequenze ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="sequenza-da-inviare" object-type="sequenza-da-inviare"/>
                                <linkit:sql-table object-name="sequenza-da-ricevere" object-type="sequenza-da-ricevere"/>
                                <linkit:sql-comment><![CDATA[**** Asincroni ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="asincrono" object-type="asincrono"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="repository-buste">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="REPOSITORY_BUSTE" sequence-cycle="true"
                                              comment="Buste (di richiesta o risposta) gestite dalla PdD all'interno di una transazione applicativa">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                            <linkit:sql-table-pk-field name="tipo"/>
                        </linkit:sql-table-primary-key>
                        <linkit:sql-table-index name="REP_BUSTE_SEARCH">
                            <linkit:sql-table-index-field name="scadenza_busta" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="history"/>
                            <linkit:sql-table-index-field name="profilo"/>
                            <linkit:sql-table-index-field name="pdd"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="REP_BUSTE_SEARCH_RA">
                            <linkit:sql-table-index-field name="scadenza_busta" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="repository_access"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="REP_BUSTE_SEARCH_TIPO">
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="history"/>
                            <linkit:sql-table-index-field name="profilo"/>
                            <linkit:sql-table-index-field name="pdd"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="REP_BUSTE_SEARCH_TIPO_RA">
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="repository_access"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="REP_BUSTE_DATAREG">
                            <linkit:sql-table-index-field name="data_registrazione" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="history"/>
                            <linkit:sql-table-index-field name="profilo"/>
                            <linkit:sql-table-index-field name="pdd"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="REP_BUSTE_DATAREG_RA">
                            <linkit:sql-table-index-field name="data_registrazione" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="repository_access"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme al tipo rappresenta l'identificativo univoco)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto mittente che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_porta_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="IDPORTA_MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto mittente che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto mittente che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_telematico_mittente" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="IND_TELEMATICO_MITT"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto mittente che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario a cui è destinato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_porta_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="IDPORTA_DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Identificativo Porta' del soggetto destinatario a cui è destinato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario a cui è destinato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="indirizzo_telematico_destinatario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="IND_TELEMATICO_DEST"/>
                                <linkit:sql-ddl-column-comment>Identifica l'indirizzo (URI) associato al soggetto destinatario a cui è destinato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="VERSIONE_SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Versione del servizio (informazione che rappresenta insieme al tipo ed al nome l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio (informazione che rappresenta insieme al tipo ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio (informazione che rappresenta insieme al nome ed alla versione l'identificatore univoco del servizio)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="AZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo univoco dell'azione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo_di_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROFILO_DI_COLLABORAZIONE"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Profilo di collaborazione, utilizzato dal protocollo per il flusso di gestione del messaggio. 
Il valore presente in questo campo contiene la rappresentazione del profilo di collaborazione nel formato previsto dal protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO_CORRELATO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio correlato alla richiesta descritta dalla busta (utilizzato nei profili di collaborazione Asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO_CORRELATO"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio correlato alla richiesta descritta dalla busta (utilizzato nei profili di collaborazione Asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="COLLABORAZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo di messaggio che permette di correlare diverse buste tra di loro poichè sono parte di un'unica gestione (es. i vari messaggi scambiati nei profili asincroni conterranno lo stesso identificativo in questo campo)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sequenza" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SEQUENZA"/>
                                <linkit:sql-ddl-column-comment>Se il protocollo supporta la consegna in ordine di un flusso di messaggi, questo campo contiene la posizione relativa alla consegna del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="inoltro_senza_duplicati" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="INOLTRO_SENZA_DUPLICATI"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di gestione dei duplicati presente all'interno delle informazioni di protocollo veicolate nel messaggio (indicazione se i duplicati devono essere filtrati o meno) (1:abilitato, 0:disabilitato)]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="conferma_ricezione" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CONFERMA_RICEZIONE"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il protocollo prevede la generazione di una ricevuta di conferma (1=true, 0=false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di produzione del messaggio presente all'interno delle informazioni di protocollo veicolate nel messaggio stesso</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_registrazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Tipologia di sorgente della data presente all'interno delle informazioni di protocollo veicolate nel messaggio (es. sincronizzata tramite ntp server, locale alla macchina ...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="riferimento_messaggio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RIFERIMENTO_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Riferimento ad un'altra busta che contiene il messaggio che ha scaturito la richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza_busta" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SCADENZA_BUSTA"/>
                                <linkit:sql-ddl-column-comment>Data di scadenza della validità del messaggio associato alla traccia</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="duplicati" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DUPLICATI"/>
                                <linkit:sql-ddl-column-comment>Numero di duplicati della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="location_pd" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="LOCATION_PD"/>
                                <linkit:sql-ddl-column-comment>Nome della porta delegata utilizzata per effettuare l'invocazione di servizio</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Dati di integrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_applicativo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO_APPLICATIVO"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio applicativo che ha effettuato l'invocazione di servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="modulo_in_attesa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MODULO_IN_ATTESA"/>
                                <linkit:sql-ddl-column-comment>Nome del modulo in attesa di una risposta (utilizzato nei profili asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scenario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SCENARIO"/>
                                <linkit:sql-ddl-column-comment>Indica lo scenario di gestione del messaggio (oneway,sincrono,asincroni ...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROTOCOLLO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo utilizzato nella transazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element> 
                <xsd:element name="history" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="HISTORY"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la busta memorizzata nel repository viene usata per funzionalita di confermaRicezione(OUTBOX)/FiltroDuplicati(INBOX)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Booleani che indicano l'attuali modalita' di utilizzo del repository:
 HISTORY: Busta usata per funzionalita di confermaRicezione(OUTBOX)/FiltroDuplicati(INBOX)
 PROFILI: Busta usata per funzionalita di profili di collaborazione
 PDD:     Busta usata eventualmente da un PdD
 
 DEFAULT CONTROLLER: 3 interi con semantica booleana (1->true, 0->false)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="profilo" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROFILO"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la busta memorizzata nel repository viene usata per funzionalita di stato nei profili di collaborazione (asincroni)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pdd" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PDD"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la busta memorizzata nel repository viene usata dalle funzionalità infrastrutturali della PdD</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="repository_access" type="xsd:byte" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="REPOSITORY_ACCESS"/>
                                <linkit:sql-ddl-column-comment>Raccoglie le informazioni descritte per le colonne 'history','profilo','pdd' in una forma compatta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="lista-riscontri">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="LISTA_RISCONTRI" sequence-cycle="true"
                                              comment="Un riscontro definisce una ricevuta relativa ad un messaggio precedentemente transitato sulla PdD">
                       <linkit:sql-table-foreign-key
                           reference-object-name="repository-buste"
                           reference-object-type="repository-buste"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_messaggio"/>
                                   <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="LISTA_RISC_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme al tipo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_riscontro" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_RISCONTRO"/>
                                <linkit:sql-ddl-column-comment>Riferimento ad un'altra busta che contiene il messaggio che ha scaturito la richiesta a cui questa ricevuta si correla</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RICEVUTA" long-text="true"/>
                                <linkit:sql-ddl-column-comment>Contiene una eventuale ricevuta del protocollo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di generazione della ricevuta presente all'interno delle informazioni di protocollo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_registrazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Tipologia di sorgente della data relativa alla ricevuta (es. sincronizzata tramite ntp server, locale alla macchina ...)</linkit:sql-ddl-column-comment></linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="lista-trasmissioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="LISTA_TRASMISSIONI" sequence-cycle="true"
                                              comment="Una trasmissione definisce il flusso di interazione tra i soggetti che sono coinvolti nella transazione applicativa">
                        <linkit:sql-table-foreign-key
                            reference-object-name="repository-buste"
                            reference-object-type="repository-buste"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_messaggio"/>
                            <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="LISTA_TRASM_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme al tipo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORIGINE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_origine" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_ORIGINE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto che ha generato il messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DESTINAZIONE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario del messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_DESTINAZIONE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario del messaggio a cui la busta si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di produzione della trasmissione presente all'interno delle informazioni di protocollo veicolate nel messaggio stesso</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_ora_registrazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>ipologia di sorgente della data relativa alla trasmissione (es. sincronizzata tramite ntp server, locale alla macchina ...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="lista-eccezioni">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="LISTA_ECCEZIONI" sequence-cycle="true"
                                               comment="Eccezione rilevate dalla PdD durante la validazione o il processamento di un messaggio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="repository-buste"
                            reference-object-type="repository-buste"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_messaggio"/>
                            <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="LISTA_ECC_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="LISTA_ECC_VALIDAZIONE">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="validazione"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme al tipo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="validazione" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="VALIDAZIONE"/>
                                <linkit:sql-ddl-column-comment>Indicazione sul tipo di eccezione (1:validazione, 0:processamento)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contesto" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CONTESTO"/>
                                <linkit:sql-ddl-column-comment>Contesto di codifica dell'eccezione (es. validazione o processamento)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="codice" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CODICE"/>
                                <linkit:sql-ddl-column-comment>Codice univoco dell'eccezione rivelata</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rilevanza" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RILEVANZA"/>
                                <linkit:sql-ddl-column-comment>Livello di importanza dell'eccezione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="posizione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="POSIZIONE" text="true"/>
                                <linkit:sql-ddl-column-comment>Indicazione sulla posizione all'interno del messaggio dove è stata rilevata l'eccezione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="lista-ext-protocol-info">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="LISTA_EXT_PROTOCOL_INFO" sequence-cycle="true"
                                              comment="Informazioni specifiche del protocollo (non generalizzabili) utilizzate per la gestione del messaggio">
                        <linkit:sql-table-foreign-key
                            reference-object-name="repository-buste"
                            reference-object-type="repository-buste"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_messaggio"/>
                            <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="LISTA_EXT_ID">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="NOME"/>
                                <linkit:sql-ddl-column-comment>Identificativo della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="valore" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="VALORE" text="true"/>
                                <linkit:sql-ddl-column-comment>Valore della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    

    
    <xsd:element name="riscontri">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="RISCONTRI_DA_RICEVERE" sequence-cycle="true"
                                             comment="Elenco dei riscontro attesi relativi a messaggi precedentemente inviati dalla PdD">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                        </linkit:sql-table-primary-key>
                        <linkit:sql-table-index name="RISCONTRI_NON_RICEVUTI">
                            <linkit:sql-table-index-field name="data_invio" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio di richiesta per cui la PdD è in attesa di un riscontro</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_invio" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_INVIO"/>
                                <linkit:sql-ddl-column-comment>Data di invio del messaggio di richiesta per cui la PdD è in attesa di un riscontro</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="sequenza-da-inviare">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="SEQUENZA_DA_INVIARE" sequence-cycle="true"
                                              comment="Se il protocollo supporta la consegna in ordine di un flusso di messaggi, questa tabella contiene la posizione relativa al prossimo messaggio da inoltrare alla PdD destinataria">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="mittente"/>
                            <linkit:sql-table-pk-field name="tipo_mittente"/>
                            <linkit:sql-table-pk-field name="destinatario"/>
                            <linkit:sql-table-pk-field name="tipo_destinatario"/>
                            <linkit:sql-table-pk-field name="servizio"/>
                            <linkit:sql-table-pk-field name="tipo_servizio"/>
                            <linkit:sql-table-pk-field name="azione"/>
                        </linkit:sql-table-primary-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto che ha generato il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto che ha generato il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" default="">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="AZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'azione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="prossima_sequenza" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROSSIMA_SEQUENZA"/>
                                <linkit:sql-ddl-column-comment>Prossima sequenza da utilizzare all'interno delle informazioni di protocollo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_collaborazione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_COLLABORAZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo del primo messaggio (capostipite) che ha iniziato la fase di consegna in ordine</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    <xsd:element name="sequenza-da-ricevere">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="SEQUENZA_DA_RICEVERE" sequence-cycle="true"
                        comment="Se il protocollo supporta la consegna in ordine di un flusso di messaggi, questa tabella contiene la posizione relativa al prossimo messaggio da consegnare all'applicativo erogatore">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_collaborazione"/>
                        </linkit:sql-table-primary-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_collaborazione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_COLLABORAZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo del primo messaggio (capostipite) che ha iniziato la fase di consegna in ordine</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sequenza_attesa" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SEQUENZA_ATTESA"/>
                                <linkit:sql-ddl-column-comment>Identificativo di posizione atteso per poter proseguire con la consegna</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto che ha generato il messaggio</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[le informazioni su mitt/dest/servizio/azione servono per un controllo di validazione sulla collaborazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto che ha generato il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="AZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'azione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="data_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DATA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della busta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <xsd:element name="asincrono">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="ASINCRONO" sequence-cycle="true"
                                              comment="Stato delle transazioni con profilo asincrono">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                            <linkit:sql-table-pk-field name="tipo"/>
                        </linkit:sql-table-primary-key>
                        <linkit:sql-table-index name="ASINCRONO_BACKUP_ID">
                            <linkit:sql-table-index-field name="backup_id_richiesta"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="ASINCRONO_IS_RICEVUTA">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="ricevuta_asincrona"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="ASINCRONO_NON_RICEVUTE">
                            <linkit:sql-table-index-field name="ora_registrazione" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="ricevuta_asincrona"/>
                            <linkit:sql-table-index-field name="ricevuta_applicativa"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta (insieme al tipo rappresenta l'identificativo univoco) [FK logica verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo della busta (insieme all'identificativo rappresenta l'identificativo univoco) [FK logica verso tabella REPOSITORY_BUSTE(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data dell'informazione asincrona</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_asincrona" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RICEVUTA_ASINCRONA"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la busta identificata dalle colonnne 'ID_MESSAGGIO' e 'TIPO' identificano una ricevuta (1:si, 0:no)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO_CORRELATO"/>
                                <linkit:sql-ddl-column-comment>Tipo del servizio correlato alla richiesta descritta da questa riga</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_correlato" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO_CORRELATO"/>
                                <linkit:sql-ddl-column-comment>Nome del servizio correlato alla richiesta descritta da questa riga</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio_correlato" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="VERSIONE_SERVIZIO_CORRELATO"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="is_richiesta" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="IS_RICHIESTA"/>
                                <linkit:sql-ddl-column-comment>Indicazione se la busta identificata dalle colonnne 'ID_MESSAGGIO' e 'TIPO' identificano una richiesta (1:richiesta, 0:risposta)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[per diversificare il flusso di richiesta/ricevuta da risposta(richiestaStato)/ricevuta(Risposta)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_asincrono" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_ASINCRONO"/>
                                <linkit:sql-ddl-column-comment>Identificativo di correlazione asincrono</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_collaborazione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_COLLABORAZIONE"/>
                                <linkit:sql-ddl-column-comment>Identificativo della busta capostipite che ha generato la richiesta asincrona</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ricevuta_applicativa" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RICEVUTA_APPLICATIVA"/>
                                <linkit:sql-ddl-column-comment>Indicazione se nel contenuto della ricevuta è presente un dato applicativo (1:ricevutaConDatiApplicativi, 0:inputOnly)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1 se la ricevuta applicativa e' abilitata, 0 se non lo e']]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="backup_id_richiesta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="BACKUP_ID_RICHIESTA"/>
                                <linkit:sql-ddl-column-comment>Identificativo della richiesta utilizzata durante la fase di re-spedizione dei messaggi asincroni per cui non è stata recepita la ricevuta dalla PdD</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[serve per la re-spedizione di una risposta asincrona]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    
    <xsd:simpleType name="TipoMessaggio">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INBOX"/>
            <xsd:enumeration value="OUTBOX"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
