core/deploy/sql/xsd/RepositoryMessaggi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/repository/messaggi" targetNamespace="http://www.openspcoop2.org/repository/messaggi"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="RepositoryMessaggi">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Messaggi ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="messaggi" object-type="messaggi"/>
                                <linkit:sql-table object-name="msg-servizi-applicativi" object-type="msg-servizi-applicativi"/>
                                <linkit:sql-table object-name="definizione-messaggi" object-type="definizione-messaggi"/>
                                <linkit:sql-comment><![CDATA[**** Correlazione Applicativa ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="correlazione-applicativa" object-type="correlazione-applicativa"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="true" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="messaggi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="MESSAGGI" sequence-cycle="true"
                                              comment="Messaggi presi in carico dalla Porta di Dominio">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                            <linkit:sql-table-pk-field name="tipo"/>
                        </linkit:sql-table-primary-key>
                        <linkit:sql-table-index name="MESSAGGI_TRANS">
                            <linkit:sql-table-index-field name="id_transazione"/>
                            <linkit:sql-table-index-field name="tipo"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MESSAGGI_SEARCH">
                            <linkit:sql-table-index-field name="ora_registrazione" ignoreTypeCompatibility="true"/>
                            <linkit:sql-table-index-field name="riferimento_msg"/>
                            <linkit:sql-table-index-field name="tipo"/>
                            <linkit:sql-table-index-field name="proprietario"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MESSAGGI_RIFMSG">
                            <linkit:sql-table-index-field name="riferimento_msg"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MESSAGGI_TESTSUITE">
                            <linkit:sql-table-index-field name="proprietario"/>
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="riferimento_msg"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio (insieme al tipo rappresenta l'identificativo univoco)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo del messaggio (insieme all'identificativo rappresenta l'identificativo univoco)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="riferimento_msg" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RIFERIMENTO_MSG"/>
                                <linkit:sql-ddl-column-comment>Riferimento ad un altro messaggio che contiene la richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="errore_processamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ERRORE_PROCESSAMENTO" medium-text="true"/>
                                <linkit:sql-ddl-column-comment>Eventuale dettaglio dell'errore avvenuto durante la gestione del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rispedizione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RISPEDIZIONE"/>
                                <linkit:sql-ddl-column-comment>Data dalla quale il msg può essere rispedito, in caso la precedente consegna non sia andata a buon fine</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[data dalla quale il msg puo' essere rispedito in caso di errori]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ORA_REGISTRAZIONE"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="proprietario" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROPRIETARIO"/>
                                <linkit:sql-ddl-column-comment>Modulo funzionale che possiede il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                 <xsd:element name="mod_ricez_cont_applicativi" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_RICEZ_CONT_APPLICATIVI"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'RicezioneContenutiApplicativi' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[le colonne seguenti servono per il servizio di TransactionManager]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_ricez_buste" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_RICEZ_BUSTE"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'RicezioneBuste' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_inoltro_buste" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_INOLTRO_BUSTE"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'InoltroBuste' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_inoltro_risposte" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_INOLTRO_RISPOSTE"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'InoltroRisposte' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_imbustamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_IMBUSTAMENTO"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'Imbustamento' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_imbustamento_risposte" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_IMBUSTAMENTO_RISPOSTE"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'ImbustamentoRisposte' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_sbustamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_SBUSTAMENTO"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'Sbustamento' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_sbustamento_risposte" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_SBUSTAMENTO_RISPOSTE"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'SbustamentoRisposte' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scheduling" type="xsd:int" default="0" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SCHEDULING"/>
                                <linkit:sql-ddl-column-comment>Utilizzato dal modulo 'Thread Pool' per impedire la gestione dei messaggi già schedulati</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Thread Pool:impedisce la gestione di messaggi gia schedulati]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="redelivery_delay" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="REDELIVERY_DELAY"/>
                                <linkit:sql-ddl-column-comment>Data di riconsegna del messaggio</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[permette la riconsegna del messaggio dopo tot tempo]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="redelivery_count" type="xsd:int" default="0" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="REDELIVERY_COUNT"/>
                                <linkit:sql-ddl-column-comment>Numero di riconsegne del messaggio effettuate</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[numero di riconsegne effettuate]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="cluster_id" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CLUSTER_ID"/>
                                <linkit:sql-ddl-column-comment>Id del nodo del cluster che deve gestire questo messaggio</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[id del nodo del cluster che deve gestire questo messaggio.]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scheduling_time" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SCHEDULING_TIME"/>
                                <linkit:sql-ddl-column-comment>Memorizza l'ora in cui il messaggio è stato schedulato la prima volta</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[memorizza l'ora in cui il messaggio e stato schedulato la prima volta]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="msg_bytes" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MSG_BYTES"/>
                                <linkit:sql-ddl-column-comment>Contenuto del messaggio serializzato</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[contiene un messaggio serializzato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_applicativa" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CORRELAZIONE_APPLICATIVA"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di richiesta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="correlazione_risposta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CORRELAZIONE_RISPOSTA"/>
                                <linkit:sql-ddl-column-comment>Informazione applicativa estratta dal messaggio di risposta</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="PROTOCOLLO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del protocollo utilizzato nella transazione applicativa</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_transazione" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_transazione"/>
                                <linkit:sql-ddl-column-comment>Identificativo della transazione in cui sono state emesse le informazioni</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="msg-servizi-applicativi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="MSG_SERVIZI_APPLICATIVI" sequence-cycle="true"
                                              comment="Identità dei Servizi Applicativi associati ai messaggi presi in carico dalla Porta di Dominio">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                            <linkit:sql-table-pk-field name="servizio_applicativo"/>
                        </linkit:sql-table-primary-key>
                       <linkit:sql-table-foreign-key
                           reference-object-name="messaggi"
                           reference-object-type="messaggi"
                           reference-primary-key="true">
                                   <linkit:sql-table-fk-field name="id_messaggio"/>
                                   <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="MSG_SERV_APPL_LIST">
                            <linkit:sql-table-index-field name="servizio_applicativo"/>
                            <linkit:sql-table-index-field name="integration_manager"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="MSG_SERV_APPL_TIMEOUT">
                            <linkit:sql-table-index-field name="id_messaggio"/>
                            <linkit:sql-table-index-field name="tipo_consegna"/>
                            <linkit:sql-table-index-field name="integration_manager"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio (insieme al tipo rappresenta l'identificativo univoco) [FK verso tabella MESSAGGI(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio" default="INBOX">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo del messaggio (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella MESSAGGI(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_applicativo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO_APPLICATIVO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio applicativo per cui è destinato il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamento_soap" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SBUSTAMENTO_SOAP"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo debba essere sbustato della parte soap (1:true, 0:false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sbustamento_info_protocollo" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SBUSTAMENTO_INFO_PROTOCOL"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto inviato all'applicativo debba essere sbustato delle informazioni di protocollo (1:true, 0:false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="integration_manager" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="INTEGRATION_MANAGER"/>
                                <linkit:sql-ddl-column-comment>Indicazione se il contenuto può essere prelevato dall'applicativo attraverso il servizio MessageBox di IntegrationManager (1:true, 0:false)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mod_consegna_cont_applicativi" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MOD_CONSEGNA_CONT_APPLICATIVI"/>
                                <linkit:sql-ddl-column-comment>Gestione della transazione relativa al modulo 'ConsegnaContenutiApplicativi' attuata dal componente 'TransactionManager'</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_consegna" type="TipoConsegna">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_CONSEGNA"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indica la modalità di consegna del messaggio al servizio applicativo:
- 'Connettore': indica una consegna effettuata tramite un connettore
- 'ConnectionReply': indica una consegna da attuare come connectionReply
- 'IntegrationManager': indica che il contenuto verrà prelevato dall'applicativo attraverso il servizio MessageBox di IntegrationManager]]></linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Assume il valore 'Connettore' se la consegna avviente tramite un connettore,
'ConnectionReply' se viene ritornato tramite connectionReply,
'IntegrationManager' se e' solo ottenibile tramite IntegrationManager]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="errore_processamento" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ERRORE_PROCESSAMENTO" text="true"/>
                                <linkit:sql-ddl-column-comment>Eventuale dettaglio dell'errore avvenuto durante la consegna del messaggio al servizio applicativo</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="rispedizione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="RISPEDIZIONE"/>
                                <linkit:sql-ddl-column-comment>Data dalla quale il msg può essere rispedito, in caso la precedente consegna non sia andata a buon fine</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[data dalla quale il msg puo' essere rispedito in caso di errori]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nome_porta" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="NOME_PORTA" />
                                <linkit:sql-ddl-column-comment>Nome della porta (delegata o applicativa) da utilizzare per la consegna in caso di profili asincroni</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="definizione-messaggi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="DEFINIZIONE_MESSAGGI" sequence-cycle="true"
                                              comment="Definisce il contenuto e gli header di trasporto di un messaggio">
                        <linkit:sql-table-primary-key generate-id="false">
                            <linkit:sql-table-pk-field name="id_messaggio"/>
                            <linkit:sql-table-pk-field name="tipo"/>
                        </linkit:sql-table-primary-key>
                        <linkit:sql-table-foreign-key
                            reference-object-name="messaggi"
                            reference-object-type="messaggi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_messaggio"/>
                            <linkit:sql-table-fk-field name="tipo"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo del messaggio (insieme al tipo rappresenta l'identificativo univoco) [FK verso tabella MESSAGGI(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="TipoMessaggio">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO"/>
                                <linkit:sql-ddl-column-comment>Tipo del messaggio (insieme all'identificativo rappresenta l'identificativo univoco) [FK verso tabella MESSAGGI(id_messaggio,tipo)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="content_type" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="CONTENT_TYPE"/>
                                <linkit:sql-ddl-column-comment>MimeType del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="msg_bytes" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MSG_BYTES"/>
                                <linkit:sql-ddl-column-comment>Bytes che definiscono il messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="msg_context" type="xsd:hexBinary" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MSG_CONTEXT"/>
                                <linkit:sql-ddl-column-comment>Bytes che definiscono il contesto del messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="correlazione-applicativa">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="CORRELAZIONE_APPLICATIVA" sequence-cycle="true"
                                               comment="Regole che permettono di generare uno stesso identificativo di protocollo a fronte di un medesimo id applicativo per un dato servizio"> 
                        <linkit:sql-table-index name="CORR_APPL_SCADUTE">
                            <linkit:sql-table-index-field name="scadenza" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                        <linkit:sql-table-index name="CORR_APPL_OLD">
                            <linkit:sql-table-index-field name="ora_registrazione" ignoreTypeCompatibility="true"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_messaggio" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_MESSAGGIO"/>
                                <linkit:sql-ddl-column-comment>Identificativo di protocollo associato al messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_applicativo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ID_APPLICATIVO"/>
                                <linkit:sql-ddl-column-comment>Identificativo applicativo associato al messaggio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio_applicativo" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO_APPLICATIVO"/>
                                <linkit:sql-ddl-column-comment>Identità del servizio applicativo che ha generato la richiesta di servizio</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto mittente che ha generato il messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="mittente" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="MITTENTE"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto mittente che ha generato il messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del soggetto destinatario a cui è destinato il messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="destinatario" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="DESTINATARIO"/>
                                <linkit:sql-ddl-column-comment>'Nome' del soggetto destinatario a cui è destinato il messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="TIPO_SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>'Tipo' del servizio associato al messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="servizio" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SERVIZIO"/>
                                <linkit:sql-ddl-column-comment>'Nome' del servizio associato al messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="versione_servizio" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="VERSIONE_SERVIZIO"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="azione" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="AZIONE"/>
                                <linkit:sql-ddl-column-comment>'Tipo' dell'azione associata al messaggio a cui la correlazione si riferisce</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="scadenza" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="SCADENZA"/>
                                <linkit:sql-ddl-column-comment>Data di scadenza della regola di correlazione definita in questa riga</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element> 
                <xsd:element name="ora_registrazione" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della regola di correlazione</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    
    
    
   
    
    
    
    <xsd:simpleType name="TipoMessaggio">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INBOX"/>
            <xsd:enumeration value="OUTBOX"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TipoConsegna">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Connettore"/>
            <xsd:enumeration value="ConnectionReply"/>
            <xsd:enumeration value="IntegrationManager"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
</xsd:schema>
