tools/web_interfaces/lib/audit/deploy/sql/xsd/Audit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/audit" targetNamespace="http://www.openspcoop2.org/audit"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="Audit">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Audit Configuration ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="audit-conf" object-type="audit-conf"/>
                                <linkit:sql-table object-name="audit-filters" object-type="audit-filters"/>
                                <linkit:sql-table object-name="audit-appender" object-type="audit-appender"/>
                                <linkit:sql-table object-name="audit-appender-prop" object-type="audit-appender-prop"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="audit-conf">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_conf"/>    
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="audit_engine" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="audit_engine"/>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="enabled" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="enabled"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_format" type="xsd:string" default="JSON" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_format"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="audit-filters">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_filters"/>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="username"/>
                                <linkit:sql-column-comment><![CDATA[Filter]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_operazione" type="TipoOperazione" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_operazione"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="Stato" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_search" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_search"/>
                                <linkit:sql-column-comment><![CDATA[Filtri basati su contenuto utilizzabili solo se il dump della configurazione generale e' abilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_expr" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_expr"/>
                                <linkit:sql-column-comment><![CDATA[1(espressione regolare)/0(semplice stringa da ricercare)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="enabled" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="enabled"/>
                                <linkit:sql-column-comment><![CDATA[Action]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-column-comment><![CDATA[Tempo di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:simpleType name="TipoOperazione">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD"/>
            <xsd:enumeration value="CHANGE"/>
            <xsd:enumeration value="DEL"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Stato">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="requesting"/>
            <xsd:enumeration value="error"/>
            <xsd:enumeration value="completed"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:element name="audit-appender">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_appender">
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="name"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="class" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="class"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>



    <xsd:element name="audit-appender-prop">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_appender_prop">
                        <linkit:sql-table-foreign-key
                            reference-object-name="audit-appender"
                            reference-object-type="audit-appender"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_audit_appender"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_audit_appender" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_audit_appender"/>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    

</xsd:schema>
