tools/web_interfaces/lib/audit/deploy/sql/xsd/Audit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/audit" targetNamespace="http://www.openspcoop2.org/audit"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="Audit">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Audit Configuration ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="audit-conf" object-type="audit-conf"/>
                                <linkit:sql-table object-name="audit-filters" object-type="audit-filters"/>
                                <linkit:sql-table object-name="audit-appender" object-type="audit-appender"/>
                                <linkit:sql-table object-name="audit-appender-prop" object-type="audit-appender-prop"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="audit-conf">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_conf"
                                              comment="Configurazione per la registrazione delle operazioni effettuate dagli utenti tramite la console"/>    
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="audit_engine" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="audit_engine"/>
                                <linkit:sql-ddl-column-comment>Indicazione se l'audit delle operazioni è abilitato (1:abilitato, 0:disabilitato)</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="enabled" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="enabled"/>
                                <linkit:sql-ddl-column-comment>Indicazione se l'audit la regola di default è abilitata (l'audit può essere abilitato/disabilitato anche in specifiche regole definite nella tabella 'audit_filters') (1:abilitato, 0:disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump"/>
                                <linkit:sql-ddl-column-comment>Indicazione se oltre a registrare l'operazione effettuata devono anche essere registrati tutti i dati che riguardano l'operazione (1:abilitato, 0:disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_format" type="xsd:string" default="JSON" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_format"/>
                                <linkit:sql-ddl-column-comment>Formato dei dati salvati (vedi colonna 'dump') (JSON/XML)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    <xsd:element name="audit-filters">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_filters"
                                              comment="Regole specifiche di abilitazione/disabilitazione dell'audit"/>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="username"/>
                                <linkit:sql-ddl-column-comment>Login dell'utente</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Filter]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_operazione" type="TipoOperazione" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_operazione"/>
                                <linkit:sql-ddl-column-comment>Definisce il tipo di operazione (ADD/DEL/CHANGE)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo"/>
                                <linkit:sql-ddl-column-comment>Definisce il tipo di oggetto gestito dall'utente (es. soggetto,accordo,...)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="Stato" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato"/>
                                <linkit:sql-ddl-column-comment>Definisce lo stato dell'operazione (requesting,error,completed)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_search" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_search"/>
                                <linkit:sql-ddl-column-comment>Stringa che viene ricercata tra i dati salvati dell'oggetto gestito durante l'operazione (richiede il dump abilitato nella tabella 'audit_conf')</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Filtri basati su contenuto utilizzabili solo se il dump della configurazione generale e' abilitato]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump_expr" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump_expr"/>
                                <linkit:sql-ddl-column-comment>Definisce se l'eventuale stringa di ricerca definita nella colonna 'dump_search' rappresenta una espressione regolare o una semplice stringa da cercare all'interno dei dati registrati (1:regularExpr, 0:contains)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[1(espressione regolare)/0(semplice stringa da ricercare)]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="enabled" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="enabled"/>
                                <linkit:sql-ddl-column-comment>Definisce se l'audit è abilitato per l'operazione che ha un match con i criteri definiti nelle colonne precedenti (1:abilitato, 0:disabilitato)</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Action]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="dump" type="xsd:int" default="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="dump"/>
                                <linkit:sql-ddl-column-comment>Definisce se oltre a registrare l'operazione effettuata devono anche essere registrati tutti i dati che riguardano l'operazione; indicazione che vale per l'operazione che ha un match con i criteri definiti nelle colonne precedenti (1:abilitato, 0:disabilitato)</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ora_registrazione" type="xsd:dateTime" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="ora_registrazione" default-current-time="true"/>
                                <linkit:sql-ddl-column-comment>Data di registrazione della regola</linkit:sql-ddl-column-comment>
                                <linkit:sql-column-comment><![CDATA[Tempo di registrazione]]></linkit:sql-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:simpleType name="TipoOperazione">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD"/>
            <xsd:enumeration value="CHANGE"/>
            <xsd:enumeration value="DEL"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Stato">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="requesting"/>
            <xsd:enumeration value="error"/>
            <xsd:enumeration value="completed"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:element name="audit-appender">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_appender"
                        comment="Registro degli appender. Ogni appender si occupa di rendere persistente le informazioni di audit nel formato e nelle risorse che gli competono (db, fileSystem, ...)">
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="name"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'appender</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="class" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="class"/>
                                <linkit:sql-ddl-column-comment>Classe che definisce l'appender</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>



    <xsd:element name="audit-appender-prop">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="audit_appender_prop"
                                              comment="Definisce le proprietà (nome/valore) che permettono all'appender associato di attivare e poter salvare le informazioni di audit sul backend di propria competenza">
                        <linkit:sql-table-foreign-key
                            reference-object-name="audit-appender"
                            reference-object-type="audit-appender"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_audit_appender"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="name"/>
                                <linkit:sql-ddl-column-comment>Nome della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="value" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="value"/>
                                <linkit:sql-ddl-column-comment>Valore della proprietà</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_audit_appender" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_audit_appender"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'appender (FK verso tabella audit_appender(id))</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    

</xsd:schema>
