tools/ws/config/server/deploy/wsdl/config.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openspcoop2.org/core/config" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openspcoop2.org/core/config">

	




	<!-- Soggetti e la Configurazione della porta di dominio OpenSPCoop2 -->
	<xsd:element name="openspcoop2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="1" ref="soggetto"/>
				<xsd:element maxOccurs="1" minOccurs="1" ref="configurazione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<!-- Oggetti di primo livello -->

	<!-- un Soggetto contiene : PorteDelegate,PorteApplicative,Servizi Applicativi e Connettori -->
	<xsd:element name="soggetto" type="soggetto"/>
	<xsd:complexType name="soggetto">
		
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="porta-delegata"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="porta-applicativa"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="servizio-applicativo"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="connettore"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="super-user" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="identificativo-porta" type="xsd:string"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="false" name="dominio-default" type="xsd:boolean"> <!-- non uso default poiche' e' una keyword riservata -->
			
		</xsd:attribute>
		<xsd:attribute default="false" name="router" type="xsd:boolean">
			
		</xsd:attribute>
		<xsd:attribute name="pd-url-prefix-rewriter">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Za-z]+:\/\/(.*)"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="pa-url-prefix-rewriter">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Za-z]+:\/\/(.*)"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>


	<!-- PortaDelegata -->
	<xsd:element name="porta-delegata" type="porta-delegata"/>
	<xsd:complexType name="porta-delegata">
		
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="soggetto-erogatore" type="porta-delegata-soggetto-erogatore"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="servizio" type="porta-delegata-servizio"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="azione" type="porta-delegata-azione"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autenticazione" type="proprieta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autorizzazione" type="proprieta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autorizzazione-contenuto" type="proprieta"/>
			<xsd:element minOccurs="0" name="xacml-policy" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="servizio-applicativo" type="porta-delegata-servizio-applicativo"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ruoli" type="autorizzazione-ruoli"/>	
			<xsd:element maxOccurs="1" minOccurs="0" name="scope" type="autorizzazione-scope"/>	
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-token" type="gestione-token"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="local-forward" type="porta-delegata-local-forward"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta" type="proprieta"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="mtom-processor" type="mtom-processor"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="message-security" type="message-security">
				
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="validazione-contenuti-applicativi" type="validazione-contenuti-applicativi"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="correlazione-applicativa" type="correlazione-applicativa">
				
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="correlazione-applicativa-risposta" type="correlazione-applicativa-risposta">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="dump" type="dump-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="tracciamento" type="porta-tracciamento">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="gestione-cors" type="cors-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="response-caching" type="response-caching-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="trasformazioni" type="trasformazioni">
				
			</xsd:element>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-port-type" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="nome-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="stato-message-security" type="xsd:string" use="optional"/>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="ssl" name="autenticazione" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="autenticazione-opzionale" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="authenticated" name="autorizzazione" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="autorizzazione-contenuto" type="xsd:string"/>
		<xsd:attribute default="abilitato" name="ricevuta-asincrona-simmetrica" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="ricevuta-asincrona-asimmetrica" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="integrazione" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="allega-body" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="scarta-body" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="gestione-manifest" type="StatoFunzionalita"/>
		<xsd:attribute name="stateless" type="StatoFunzionalita"/>
		<xsd:attribute default="disabilitato" name="ricerca-porta-azione-delegata" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
		<xsd:attribute name="options" type="xsd:string" use="optional"> <!-- altri parametri generici -->
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- PortaDelegata.SoggettoErogatore -->
	<xsd:complexType name="porta-delegata-soggetto-erogatore">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- PortaDelegata.Servizio -->
	<xsd:complexType name="porta-delegata-servizio">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>
	<!-- PortaDelegata.Azione -->
	<xsd:complexType name="porta-delegata-azione">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione-delegata" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute default="static" name="identificazione" type="PortaDelegataAzioneIdentificazione"/>
		<xsd:attribute name="pattern" type="xsd:string"/>
		<xsd:attribute name="nome" type="xsd:string"/>
		<xsd:attribute name="nome-porta-delegante" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="force-interface-based" type="StatoFunzionalita">
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- PortaDelegata.ServizioApplicativo -->
	<xsd:complexType name="porta-delegata-servizio-applicativo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- PortaDelegata.LocalForward -->
	<xsd:complexType name="porta-delegata-local-forward">
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="porta-applicativa" type="xsd:string" use="optional"/>
	</xsd:complexType>


	<!-- ** PortaApplicativa ** -->
	<xsd:element name="porta-applicativa" type="porta-applicativa"/>
	<xsd:complexType name="porta-applicativa">
		
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto-virtuale" type="porta-applicativa-soggetto-virtuale"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="servizio" type="porta-applicativa-servizio"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="azione" type="porta-applicativa-azione"/>
			<!-- Modificato in minOccurs=0 per gestire la possibile configurazione incrementale via WS -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="servizio-applicativo" type="porta-applicativa-servizio-applicativo"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autenticazione" type="proprieta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autorizzazione" type="proprieta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta-autorizzazione-contenuto" type="proprieta"/>
			<xsd:element minOccurs="0" name="xacml-policy" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetti" type="porta-applicativa-autorizzazione-soggetti"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="servizi-applicativi-autorizzati" type="porta-applicativa-autorizzazione-servizi-applicativi"/>	
			<xsd:element maxOccurs="1" minOccurs="0" name="ruoli" type="autorizzazione-ruoli"/>	
			<xsd:element maxOccurs="1" minOccurs="0" name="scope" type="autorizzazione-scope"/>	
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-token" type="gestione-token"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta" type="proprieta"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="mtom-processor" type="mtom-processor"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="message-security" type="message-security">
				
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="validazione-contenuti-applicativi" type="validazione-contenuti-applicativi"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="correlazione-applicativa" type="correlazione-applicativa">
				
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="correlazione-applicativa-risposta" type="correlazione-applicativa-risposta">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="dump" type="dump-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="tracciamento" type="porta-tracciamento">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="gestione-cors" type="cors-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="response-caching" type="response-caching-configurazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="trasformazioni" type="trasformazioni">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="behaviour" type="porta-applicativa-behaviour">
				
			</xsd:element>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-accordo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="id-port-type" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="nome-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="stato-message-security" type="xsd:string" use="optional"/>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute default="abilitato" name="ricevuta-asincrona-simmetrica" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="ricevuta-asincrona-asimmetrica" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="integrazione" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="allega-body" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="scarta-body" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="gestione-manifest" type="StatoFunzionalita"/>
		<xsd:attribute name="stateless" type="StatoFunzionalita"/>
		<xsd:attribute default="ssl" name="autenticazione" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="autenticazione-opzionale" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="authenticated" name="autorizzazione" type="xsd:string">
			
		</xsd:attribute>
		<xsd:attribute name="autorizzazione-contenuto" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="ricerca-porta-azione-delegata" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="servizio-applicativo-default" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
		<xsd:attribute name="options" type="xsd:string" use="optional"> <!-- altri parametri generici -->
			
		</xsd:attribute>		
	</xsd:complexType>
	<!-- PortaApplicativa.SoggettoVirtuale -->
	<xsd:complexType name="porta-applicativa-soggetto-virtuale">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- PortaApplicativa.Servizio -->
	<xsd:complexType name="porta-applicativa-servizio">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="1" name="versione" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>
	<!-- PortaApplicativa.Azione -->
	<xsd:complexType name="porta-applicativa-azione">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione-delegata" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute default="static" name="identificazione" type="PortaApplicativaAzioneIdentificazione"/>
		<xsd:attribute name="pattern" type="xsd:string"/>
		<xsd:attribute name="nome" type="xsd:string"/>
		<xsd:attribute name="nome-porta-delegante" type="xsd:string"/>
		<xsd:attribute default="disabilitato" name="force-interface-based" type="StatoFunzionalita">
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- PortaApplicativa.ServizioApplicativo -->
	<xsd:complexType name="porta-applicativa-servizio-applicativo">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="dati-connettore" type="porta-applicativa-servizio-applicativo-connettore">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>	
		<!-- start-extensions -->
		<xsd:attribute name="id-servizio-applicativo" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	<xsd:complexType name="porta-applicativa-servizio-applicativo-connettore">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filtro" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta" type="proprieta"/>
		</xsd:sequence>		
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="notifica" type="xsd:boolean" use="optional"/>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita"/>
	</xsd:complexType>
	<!-- PortaApplicativa Autorizzazione per Soggetti -->
	<xsd:complexType name="porta-applicativa-autorizzazione-soggetti">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="soggetto" type="porta-applicativa-autorizzazione-soggetto"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="porta-applicativa-autorizzazione-soggetto">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- PortaApplicativa Autorizzazione per Servizi Applicativi -->
	<xsd:complexType name="porta-applicativa-autorizzazione-servizi-applicativi">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="servizio-applicativo" type="porta-applicativa-autorizzazione-servizio-applicativo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="porta-applicativa-autorizzazione-servizio-applicativo">
		<xsd:attribute name="tipo-soggetto-proprietario" type="xsd:string" use="required"/>
		<xsd:attribute name="nome-soggetto-proprietario" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- PortaApplicativa Behaviour -->
	<xsd:complexType name="porta-applicativa-behaviour">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="proprieta" type="proprieta"/>
		</xsd:sequence>		
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>


	<!-- ** ServizioApplicativo ** -->
	<xsd:element name="servizio-applicativo" type="servizio-applicativo"/>
	<xsd:complexType name="servizio-applicativo">
		
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="invocazione-porta" type="invocazione-porta"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="invocazione-servizio" type="invocazione-servizio"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="risposta-asincrona" type="risposta-asincrona"/>
			<!-- Protocol Properties -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="protocol-property" type="protocol-property"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="id-soggetto" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="nome-soggetto-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia-fruizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia-erogazione" type="xsd:string" use="optional"/>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="use-as-client" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime">
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- ServizioApplicativo.InvocazionePorta -->
	<xsd:complexType name="invocazione-porta">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="credenziali" type="credenziali"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ruoli" type="servizio-applicativo-ruoli"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-errore" type="invocazione-porta-gestione-errore"/>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="invio-per-riferimento" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="sbustamento-informazioni-protocollo" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="invocazione-porta-gestione-errore">
		<xsd:attribute default="soap" name="fault" type="FaultIntegrazioneTipo"/>
		<xsd:attribute name="fault-actor" type="xsd:string"/>
		<xsd:attribute name="generic-fault-code" type="StatoFunzionalita"/>
		<xsd:attribute name="prefix-fault-code" type="xsd:string"/>
	</xsd:complexType>
	<!-- ServizioApplicativo.InvocazioneServizio -->
	<xsd:complexType name="invocazione-servizio">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="credenziali" type="invocazione-credenziali"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="connettore" type="connettore"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-errore" type="gestione-errore">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="sbustamento-soap" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="sbustamento-informazioni-protocollo" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="get-message" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="none" name="autenticazione" type="InvocazioneServizioTipoAutenticazione">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="invio-per-riferimento" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="risposta-per-riferimento" type="StatoFunzionalita">
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- ServizioApplicativo.RispostaAsincrona -->
	<xsd:complexType name="risposta-asincrona">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="credenziali" type="invocazione-credenziali"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="connettore" type="connettore"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-errore" type="gestione-errore">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="sbustamento-soap" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="abilitato" name="sbustamento-informazioni-protocollo" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="get-message" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="none" name="autenticazione" type="InvocazioneServizioTipoAutenticazione">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="invio-per-riferimento" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="risposta-per-riferimento" type="StatoFunzionalita">
			
		</xsd:attribute>
	</xsd:complexType>
	<!-- ServizioApplicativo.InvocazioneServizio/RispostaAsincrona.Credenziali -->
	<xsd:complexType name="invocazione-credenziali">
		<xsd:attribute name="user" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
	</xsd:complexType>




	<!-- Oggetti interni livello -->

	<!-- ProtocolProperty -->
	<xsd:complexType name="protocol-property">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<!-- Uno dei 3 campi sottostanti e' obbligatorio -->
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
		<xsd:attribute name="number-value" type="xsd:unsignedLong" use="optional"/>
		<xsd:attribute name="boolean-value">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="file" type="xsd:string" use="optional"/>
		<!-- start-extensions -->
		<xsd:attribute name="byte-file" type="xsd:base64Binary" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-proprietario" type="xsd:string" use="optional"/>
		<xsd:attribute name="id-proprietario" type="xsd:unsignedLong" use="optional">
			
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>

	<!-- Correlazione Applicativa -->
	<xsd:complexType name="correlazione-applicativa">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="elemento" type="correlazione-applicativa-elemento"/>
		</xsd:sequence>
		<xsd:attribute name="scadenza" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="correlazione-applicativa-elemento">
		<xsd:attribute name="nome" type="xsd:string"/>
		<xsd:attribute default="contentBased" name="identificazione" type="CorrelazioneApplicativaRichiestaIdentificazione"/>
		<xsd:attribute name="pattern" type="xsd:string"/>
		<xsd:attribute default="blocca" name="identificazione-fallita" type="CorrelazioneApplicativaGestioneIdentificazioneFallita"/>
		<xsd:attribute default="disabilitato" name="riuso-identificativo" type="StatoFunzionalita"/>
	</xsd:complexType>
	
	<!-- Correlazione Applicativa Risposta -->
	<xsd:complexType name="correlazione-applicativa-risposta">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="elemento" type="correlazione-applicativa-risposta-elemento"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="correlazione-applicativa-risposta-elemento">
		<xsd:attribute name="nome" type="xsd:string"/>
		<xsd:attribute default="contentBased" name="identificazione" type="CorrelazioneApplicativaRispostaIdentificazione"/>
		<xsd:attribute name="pattern" type="xsd:string"/>
		<xsd:attribute default="blocca" name="identificazione-fallita" type="CorrelazioneApplicativaGestioneIdentificazioneFallita"/>
	</xsd:complexType>
	
	<!-- Validazione XSD -->
	<xsd:complexType name="validazione-contenuti-applicativi">
		<xsd:attribute default="disabilitato" name="stato" type="StatoFunzionalitaConWarning">
			
		</xsd:attribute>
		<xsd:attribute default="xsd" name="tipo" type="ValidazioneContenutiApplicativiTipo">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="accept-mtom-message" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute> <!-- il default e' il true/false a seconda della funzionalita' packaging/unpackaging MTOM -->
	</xsd:complexType>

	<!-- Trasformazione -->
	<xsd:complexType name="trasformazioni">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="regola" type="trasformazione-regola"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="applicabilita" type="trasformazione-regola-applicabilita-richiesta"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="richiesta" type="trasformazione-regola-richiesta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="risposta" type="trasformazione-regola-risposta"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="posizione" type="xsd:int" use="required"/>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-applicabilita-richiesta">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="content-type" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="pattern" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="soggetto" type="trasformazione-regola-applicabilita-soggetto"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="servizio-applicativo" type="trasformazione-regola-applicabilita-servizio-applicativo"/>
		</xsd:sequence>	
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-applicabilita-soggetto">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-applicabilita-servizio-applicativo">
		<xsd:attribute name="tipo-soggetto-proprietario" type="xsd:string" use="required"/>
		<xsd:attribute name="nome-soggetto-proprietario" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-richiesta">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="conversione-template" type="xsd:base64Binary"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="trasformazione-regola-parametro"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parametro-url" type="trasformazione-regola-parametro"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="trasformazione-rest" type="trasformazione-rest"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="trasformazione-soap" type="trasformazione-soap"/>
		</xsd:sequence>
		<xsd:attribute default="false" name="conversione" type="xsd:boolean"/>
		<xsd:attribute name="conversione-tipo" type="xsd:string"/>
		<xsd:attribute name="content-type" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-soap">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="envelope-body-conversione-template" type="xsd:base64Binary"/>
		</xsd:sequence>
		<xsd:attribute default="true" name="envelope" type="xsd:boolean"/>
		<xsd:attribute name="versione" type="VersioneSOAP"/>
		<xsd:attribute name="soap-action" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="envelope-as-attachment" type="xsd:boolean"/>
		<xsd:attribute name="envelope-body-conversione-tipo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-rest">
		<xsd:attribute name="metodo" type="xsd:string" use="required"/>
		<xsd:attribute name="path" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-parametro">
		<xsd:attribute name="conversione-tipo" type="TrasformazioneRegolaParametroTipoAzione" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-risposta">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="conversione-template" type="xsd:base64Binary"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="applicabilita" type="trasformazione-regola-applicabilita-risposta"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="trasformazione-regola-parametro"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="trasformazione-soap" type="trasformazione-soap-risposta"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="posizione" type="xsd:int" use="required"/>
		<xsd:attribute default="false" name="conversione" type="xsd:boolean"/>
		<xsd:attribute name="conversione-tipo" type="xsd:string"/>
		<xsd:attribute name="content-type" type="xsd:string"/>
		<xsd:attribute name="return-code" type="xsd:unsignedInt"/>
	</xsd:complexType>
	<xsd:complexType name="trasformazione-regola-applicabilita-risposta">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="return-code-min" type="xsd:unsignedInt"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="return-code-max" type="xsd:unsignedInt"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="content-type" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="pattern" type="xsd:string"/>
		</xsd:sequence>	
	</xsd:complexType>
	<xsd:complexType name="trasformazione-soap-risposta">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="envelope-body-conversione-template" type="xsd:base64Binary"/>
		</xsd:sequence>
		<xsd:attribute default="true" name="envelope" type="xsd:boolean"/>
		<xsd:attribute default="false" name="envelope-as-attachment" type="xsd:boolean"/>
		<xsd:attribute name="envelope-body-conversione-tipo" type="xsd:string"/>
	</xsd:complexType>
	

	<!-- Proprieta -->
	<xsd:complexType name="proprieta">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/> 
	</xsd:complexType>

	<!-- PortaDelegata o PortaApplicativa Tracciamento -->
	<xsd:complexType name="porta-tracciamento">
		<xsd:attribute name="severita" type="Severita" use="optional"/>
		<xsd:attribute name="esiti" type="xsd:string" use="optional"/>
	</xsd:complexType>

	<!-- GestioneErrore -->
	<xsd:complexType name="gestione-errore">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="codice-trasporto" type="gestione-errore-codice-trasporto"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="soap-fault" type="gestione-errore-soap-fault"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="optional"/>
		<!-- end-extensions -->
		<xsd:attribute name="comportamento" type="GestioneErroreComportamento" use="required"/>
		<xsd:attribute name="cadenza-rispedizione" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="gestione-errore-codice-trasporto">
		<xsd:attribute name="valore-minimo" type="xsd:integer"/>
		<xsd:attribute name="valore-massimo" type="xsd:integer"/>
		<xsd:attribute name="comportamento" type="GestioneErroreComportamento" use="required"/>
		<xsd:attribute name="cadenza-rispedizione" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="gestione-errore-soap-fault">
		<xsd:attribute name="fault-actor" type="xsd:string"/>
		<xsd:attribute name="fault-code" type="xsd:string"/>
		<xsd:attribute name="fault-string" type="xsd:string"/>
		<xsd:attribute name="comportamento" type="GestioneErroreComportamento" use="required"/>
		<xsd:attribute name="cadenza-rispedizione" type="xsd:string"/>
	</xsd:complexType>

	<!-- Credenziali -->
	<xsd:complexType name="credenziali">
		<xsd:attribute default="ssl" name="tipo" type="CredenzialeTipo">
			
		</xsd:attribute>
		<xsd:attribute name="user" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
		<xsd:attribute default="false" name="app-id" type="xsd:boolean">
			
		</xsd:attribute>
		<xsd:attribute name="subject" type="xsd:string"/>
		<xsd:attribute name="cn-subject" type="xsd:string"/>
		<xsd:attribute name="issuer" type="xsd:string"/>
		<xsd:attribute name="cn-issuer" type="xsd:string"/>
		<xsd:attribute name="certificate" type="xsd:base64Binary"/>
		<xsd:attribute default="false" name="certificate-strict-verification" type="xsd:boolean">
			
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- Connettore -->
	<xsd:element name="connettore" type="connettore"/>
	<xsd:complexType name="connettore">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="Property"/>			
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute name="nome-registro" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="tipo-destinatario-trasmissione-busta" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="nome-destinatario-trasmissione-busta" type="xsd:string" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="false" name="custom" use="optional">
			
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- end-extensions -->
		<xsd:attribute name="tipo" type="xsd:string"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>

	<!-- MTOM -->
	<xsd:complexType name="mtom-processor">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="request-flow" type="mtom-processor-flow"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="response-flow" type="mtom-processor-flow"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mtom-processor-flow">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="mtom-processor-flow-parameter">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute default="disable" name="mode" type="MTOMProcessorType">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="mtom-processor-flow-parameter">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="pattern" type="xsd:string" use="required"/>
		<xsd:attribute name="content-type" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="required" type="xsd:boolean" use="optional"/>
	</xsd:complexType>

	<!-- Message-Security -->
	<xsd:complexType name="message-security">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="request-flow" type="message-security-flow"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="response-flow" type="message-security-flow"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="message-security-flow">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="parameter" type="message-security-flow-parameter"/>
		</xsd:sequence>
		<!-- 
			L'attributo serve a indicare se la sicurezza deve essere applicata prima o dopo un eventuale processo di packaging/unpackaging MTOM abilitato con il MTOMProcessor
			Se non viene indicato, per default la sicurezza viene sempre applicato prima del processo di packaging e dopo il processo di unpackaging
		-->
		<xsd:attribute name="apply-to-mtom" type="StatoFunzionalita" use="optional"/>
		<xsd:attribute default="default" name="mode" type="xsd:string" use="optional">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="message-security-flow-parameter">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Ruolo -->
	<xsd:complexType name="ruolo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Ruoli Servizio Applicativo -->
	<xsd:complexType name="servizio-applicativo-ruoli">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ruolo" type="ruolo"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Autorizzazione per Ruoli -->
	<xsd:complexType name="autorizzazione-ruoli">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="ruolo" type="ruolo"/>
		</xsd:sequence>
		<xsd:attribute name="match" type="RuoloTipoMatch" use="optional"/>
	</xsd:complexType>
	
	<!-- Scope -->
	<xsd:complexType name="scope">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Autorizzazione per Scope -->
	<xsd:complexType name="autorizzazione-scope">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="scope" type="scope"/>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="stato" type="StatoFunzionalita" use="optional"/>
		<xsd:attribute name="match" type="ScopeTipoMatch" use="optional"/>
	</xsd:complexType>
	
	<!-- Gestione Token -->
	<xsd:complexType name="gestione-token">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="autenticazione" type="gestione-token-autenticazione"/>
		</xsd:sequence>
		<xsd:attribute name="policy" type="xsd:string" use="required"/>
		<xsd:attribute default="disabilitato" name="token-opzionale" type="StatoFunzionalita">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="validazione" type="StatoFunzionalitaConWarning" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="introspection" type="StatoFunzionalitaConWarning" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="userInfo" type="StatoFunzionalitaConWarning" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="forward" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute name="options" type="xsd:string" use="optional"/> <!-- altri parametri generici -->
	</xsd:complexType>
	<xsd:complexType name="gestione-token-autenticazione">
		<xsd:attribute default="disabilitato" name="issuer" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="client-id" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="subject" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="username" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
		<xsd:attribute default="disabilitato" name="email" type="StatoFunzionalita" use="optional">
			
		</xsd:attribute>
	</xsd:complexType>


	<!-- Configurazione PortaDeiServizi -->
	<xsd:element name="configurazione" type="configurazione"/>
	<xsd:complexType name="configurazione">
		
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="routing-table" type="routing-table"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="accesso-registro" type="accesso-registro"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-configurazione" type="accesso-configurazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-dati-autorizzazione" type="accesso-dati-autorizzazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-dati-autenticazione" type="accesso-dati-autenticazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-dati-gestione-token" type="accesso-dati-gestione-token"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-dati-keystore" type="accesso-dati-keystore"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accesso-dati-consegna-applicativi" type="accesso-dati-consegna-applicativi"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="multitenant" type="configurazione-multitenant"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="url-invocazione" type="configurazione-url-invocazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="validazione-buste" type="validazione-buste"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="validazione-contenuti-applicativi" type="validazione-contenuti-applicativi"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="indirizzo-risposta" type="indirizzo-risposta"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="attachments" type="attachments"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="risposte" type="risposte"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="inoltro-buste-non-riscontrate" type="inoltro-buste-non-riscontrate"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="messaggi-diagnostici" type="messaggi-diagnostici"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="tracciamento" type="tracciamento"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="dump" type="dump"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="transazioni" type="transazioni"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-errore" type="configurazione-gestione-errore"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="integration-manager" type="integration-manager"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="stato-servizi-pdd" type="stato-servizi-pdd"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="system-properties" type="system-properties"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="generic-properties"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="gestione-cors" type="cors-configurazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="response-caching" type="response-caching-configurazione-generale"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Routing Table -->
	<xsd:complexType name="routing-table">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="destinazione" type="routing-table-destinazione"/>		
			<xsd:element maxOccurs="1" minOccurs="1" name="default" type="routing-table-default"/>
		</xsd:sequence>
		<!-- start-extensions -->
		<xsd:attribute default="false" name="abilitata" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- end-extensions -->
	</xsd:complexType>
	<xsd:complexType name="routing-table-default">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="route" type="route"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="routing-table-destinazione">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="route" type="route"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>

	<!-- Route -->
	<xsd:complexType name="route">
		<xsd:choice>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="registro" type="route-registro"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="gateway" type="route-gateway"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="route-registro">
		<xsd:attribute name="nome" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="route-gateway">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Informazioni di accesso al registro servizi -->
	<xsd:complexType name="accesso-registro">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="registro" type="accesso-registro-registro"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="accesso-registro-registro">
		<!-- start-extensions -->
		<xsd:attribute name="tipo-database" type="xsd:string" use="optional"/>
		<!-- end-extensions -->
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute default="xml" name="tipo" type="RegistroTipo"/>
		<xsd:attribute name="location" type="xsd:string" use="required"/>
		<xsd:attribute name="user" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="cache">
		<xsd:attribute name="dimensione" type="xsd:string"/>
		<xsd:attribute default="lru" name="algoritmo" type="AlgoritmoCache"/>
		<xsd:attribute name="item-idle-time" type="xsd:string"/>
		<xsd:attribute name="item-life-second" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Informazioni di accesso alla configurazione -->
	<xsd:complexType name="accesso-configurazione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Informazioni per l'autorizzazione -->
	<xsd:complexType name="accesso-dati-autorizzazione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Informazioni per l'autenticazione -->
	<xsd:complexType name="accesso-dati-autenticazione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Informazioni per l'accesso dati di gestione token -->
	<xsd:complexType name="accesso-dati-gestione-token">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Informazioni per l'accesso a keystore e crlstore -->
	<xsd:complexType name="accesso-dati-keystore">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="crl-item-life-second" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Informazioni per la consegna agli applicativi -->
	<xsd:complexType name="accesso-dati-consegna-applicativi">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Configurazione Multitenant -->
	<xsd:complexType name="configurazione-multitenant">
		<xsd:attribute default="disabilitato" name="stato" type="StatoFunzionalita"/>
		<xsd:attribute default="soggettiEsterni" name="fruizioneSceltaSoggettiErogatori" type="PortaDelegataSoggettiErogatori"/>
		<xsd:attribute default="soggettiEsterni" name="erogazioneSceltaSoggettiFruitori" type="PortaApplicativaSoggettiFruitori"/>
	</xsd:complexType>

	<!-- Configurazione URL Invocazione -->
	<xsd:complexType name="configurazione-url-invocazione">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="regola" type="configurazione-url-invocazione-regola"/>
		</xsd:sequence>
		<xsd:attribute name="base-url" type="xsd:string" use="required"/>
		<xsd:attribute name="base-url-fruizione" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="configurazione-url-invocazione-regola">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="soggetto" type="id-soggetto"/> <!-- è possibile indicare un soggetto operativo per il quale la regola verrà applicata -->
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="posizione" type="xsd:int" use="required"/>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita" use="optional"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute default="false" name="regexpr" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="regola" type="xsd:string" use="required"/> <!-- Espressione regolare o prefisso da verificare sull'url interna di govway -->
		<xsd:attribute name="contesto-esterno" type="xsd:string" use="required"/> <!-- Definisce come rimappare il contesto esterno, è possibile usare $() nel caso la regola sia una espressione regolare -->
		<xsd:attribute name="base-url" type="xsd:string" use="optional"/> <!-- Permette di ridefinire la base url, è possibile usare $() nel caso la regola sia una espressione regolare -->
		<xsd:attribute name="protocollo" type="xsd:string" use="optional"/> <!-- Delimita la regola per un profilo -->
		<xsd:attribute name="ruolo" type="RuoloContesto" use="optional"/> <!-- Delimita la regola per una erogazione o fruizione -->
		<xsd:attribute name="service-binding" type="ServiceBinding" use="optional"/> <!-- Delimita la regola per una API soap o rest -->
	</xsd:complexType>

	<!-- Validazione Buste -->
	<xsd:complexType name="validazione-buste">
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalitaConWarning"/>
		<xsd:attribute default="normale" name="controllo" type="ValidazioneBusteTipoControllo"/>
		<xsd:attribute default="disabilitato" name="profiloCollaborazione" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="manifestAttachments" type="StatoFunzionalita"/>
	</xsd:complexType>
	
	<!-- Gestione Indirizzi per Risposta (replyTo) -->
	<xsd:complexType name="indirizzo-risposta">
		<xsd:attribute default="disabilitato" name="utilizzo" type="StatoFunzionalita"/>
	</xsd:complexType>
	
	<!-- Gestione Messaggi SOAP With Attachments -->
	<xsd:complexType name="attachments">
		<xsd:attribute default="disabilitato" name="gestione-manifest" type="StatoFunzionalita"/>
	</xsd:complexType>
	
	<!-- Gestione connessioni utilizzate per le risposte -->
	<xsd:complexType name="risposte">
		<xsd:attribute default="reply" name="connessione" type="TipoConnessioneRisposte"/>
	</xsd:complexType>
	
	<!-- Gestione inoltro Buste non riscontrate (OneWay: ricontri, Asincroni: ricevute) -->
	<xsd:complexType name="inoltro-buste-non-riscontrate">
		<xsd:attribute name="cadenza" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Messaggi Diagnostici -->
	<xsd:complexType name="messaggi-diagnostici">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="openspcoop-appender" type="openspcoop-appender"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="openspcoop-sorgente-dati" type="openspcoop-sorgente-dati"/>
		</xsd:sequence>
		<xsd:attribute default="infoIntegration" name="severita" type="Severita"/>
		<xsd:attribute default="infoIntegration" name="severita-log4j" type="Severita"/>
	</xsd:complexType>
	
	<!-- Tracciamento -->
	<xsd:complexType name="tracciamento">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="openspcoop-appender" type="openspcoop-appender"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="openspcoop-sorgente-dati" type="openspcoop-sorgente-dati"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita"/>
		<xsd:attribute name="esiti" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- Transazioni -->
	<xsd:complexType name="transazioni">
		<xsd:attribute default="disabilitato" name="tempi-elaborazione" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="token" type="StatoFunzionalita"/>
	</xsd:complexType>
	
	<!-- Dump -->
	<xsd:complexType name="dump">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="configurazione" type="dump-configurazione"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="openspcoop-appender" type="openspcoop-appender"/>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="stato" type="StatoFunzionalita"/>
		<xsd:attribute default="disabilitato" name="dump-binario-porta-delegata" type="StatoFunzionalita"/>
		<xsd:attribute default="disabilitato" name="dump-binario-porta-applicativa" type="StatoFunzionalita"/>
	</xsd:complexType>
	<xsd:complexType name="dump-configurazione">
		<xsd:sequence>
			<xsd:element name="richiesta-ingresso" type="dump-configurazione-regola"/>
			<xsd:element name="richiesta-uscita" type="dump-configurazione-regola"/>
			<xsd:element name="risposta-ingresso" type="dump-configurazione-regola"/>
			<xsd:element name="risposta-uscita" type="dump-configurazione-regola"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="realtime" type="StatoFunzionalita"/>
	</xsd:complexType>
	<xsd:complexType name="dump-configurazione-regola">
		<xsd:attribute default="abilitato" name="body" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="attachments" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="headers" type="StatoFunzionalita"/>
	</xsd:complexType>

	<!-- OpenSPCoop Appender utilizzato per appender personalizzati dei msg diagnostici e dei tracciamenti -->
	<xsd:complexType name="openspcoop-appender">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="Property"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- 
		Sorgenti di dati da cui attingere msg diagnostici e tracce 
		Informazione letta dagli strumenti di consultazione delle tracce e dei diagnostici
		Queste informazioni non sono utilizzate a run-time dalla porta di dominio
	-->
	<xsd:complexType name="openspcoop-sorgente-dati">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="Property"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="nome-jndi" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo-database" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Gestione accesso al servizio di Integration Manager -->
	<xsd:complexType name="integration-manager">
		<xsd:attribute default="basic,ssl" name="autenticazione" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Gestione Errore -->
	<xsd:complexType name="configurazione-gestione-errore">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="componente-cooperazione" type="gestione-errore"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="componente-integrazione" type="gestione-errore"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Servizi attivi sulla Porta -->
	<xsd:complexType name="stato-servizi-pdd">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="porta-delegata" type="stato-servizi-pdd-porta-delegata"/>
			<xsd:element minOccurs="0" name="porta-applicativa" type="stato-servizi-pdd-porta-applicativa"/>
			<xsd:element minOccurs="0" name="integration-manager" type="stato-servizi-pdd-integration-manager"/>	
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipo-filtro-abilitazione-servizi">
		<xsd:attribute name="tipo-soggetto-fruitore" type="xsd:string" use="optional"/>
		<xsd:attribute name="soggetto-fruitore" type="xsd:string" use="optional"/>
		<xsd:attribute name="identificativo-porta-fruitore" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipo-soggetto-erogatore" type="xsd:string" use="optional"/>
		<xsd:attribute name="soggetto-erogatore" type="xsd:string" use="optional"/>
		<xsd:attribute name="identificativo-porta-erogatore" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipo-servizio" type="xsd:string" use="optional"/>
		<xsd:attribute name="servizio" type="xsd:string" use="optional"/>
		<xsd:attribute name="versione-servizio" type="xsd:unsignedInt" use="optional"/>
		<xsd:attribute name="azione" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="stato-servizi-pdd-porta-delegata">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filtro-abilitazione" type="tipo-filtro-abilitazione-servizi"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filtro-disabilitazione" type="tipo-filtro-abilitazione-servizi"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="stato-servizi-pdd-porta-applicativa">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filtro-abilitazione" type="tipo-filtro-abilitazione-servizi"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filtro-disabilitazione" type="tipo-filtro-abilitazione-servizi"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="stato-servizi-pdd-integration-manager">
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita" use="optional"/>
	</xsd:complexType>
	
	<!-- System Properties -->
	<xsd:complexType name="system-properties">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="system-property" type="Property"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- OpenSPCoop GenericConfigProperties utilizzato per configurazioni dinamiche -->
	<xsd:element name="generic-properties" type="generic-properties"/>
	<xsd:complexType name="generic-properties">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="Property"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- CORS -->
	<xsd:complexType name="cors-configurazione">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="access-control-allow-origins" type="cors-configurazione-origin"/>
			<xsd:element minOccurs="0" name="access-control-allow-headers" type="cors-configurazione-headers"/>
			<xsd:element minOccurs="0" name="access-control-allow-methods" type="cors-configurazione-methods"/>
			<xsd:element minOccurs="0" name="access-control-expose-headers" type="cors-configurazione-headers"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="stato" type="StatoFunzionalita"/>
		<xsd:attribute default="gateway" name="tipo" type="TipoGestioneCORS"/>
		<xsd:attribute default="abilitato" name="access-control-all-allow-origins" type="StatoFunzionalita"/>
		<xsd:attribute default="disabilitato" name="access-control-allow-credentials" type="StatoFunzionalita"/>
		<xsd:attribute name="access-control-max-age" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="cors-configurazione-origin">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="origin" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cors-configurazione-headers">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="header" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cors-configurazione-methods">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="method" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Caching Response -->
	<xsd:complexType name="response-caching-configurazione-generale">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="configurazione" type="response-caching-configurazione"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="cache" type="cache"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response-caching-configurazione">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="hash-generator" type="response-caching-configurazione-hash-generator"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="control" type="response-caching-configurazione-control"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="regola" type="response-caching-configurazione-regola"/>
		</xsd:sequence>
		<xsd:attribute default="disabilitato" name="stato" type="StatoFunzionalita"/>
		<xsd:attribute default="300" name="cache-timeout-seconds" type="xsd:unsignedInt" use="optional"/>
		<xsd:attribute name="max-message-size" type="xsd:unsignedLong" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="response-caching-configurazione-hash-generator">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="query-parameter" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute default="abilitato" name="request-uri" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="query-parameters" type="StatoFunzionalitaCacheDigestQueryParameter"/>
		<xsd:attribute default="disabilitato" name="headers" type="StatoFunzionalita"/>
		<xsd:attribute default="abilitato" name="payload" type="StatoFunzionalita"/>
	</xsd:complexType>
	<xsd:complexType name="response-caching-configurazione-control">
		<xsd:attribute default="true" name="noCache" type="xsd:boolean"/>
		<xsd:attribute default="true" name="maxAge" type="xsd:boolean"/>
		<xsd:attribute default="true" name="noStore" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="response-caching-configurazione-regola">
		<xsd:attribute name="return-code-min" type="xsd:unsignedInt" use="optional"/>
		<xsd:attribute name="return-code-max" type="xsd:unsignedInt" use="optional"/>
		<xsd:attribute default="false" name="fault" type="xsd:boolean"/>
		<xsd:attribute name="cache-timeout-seconds" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>


	<!-- Enumeration -->
	
	<xsd:simpleType name="TipoGestioneCORS">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gateway"/>
			<xsd:enumeration value="trasparente"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatoFunzionalitaCacheDigestQueryParameter">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="selezionePuntuale"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatoFunzionalita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatoFunzionalitaConWarning">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="disabilitato"/>
			<xsd:enumeration value="warningOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MTOMProcessorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="disable"/>
			<xsd:enumeration value="packaging"/>
			<xsd:enumeration value="unpackaging"/>
			<xsd:enumeration value="verify"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PortaDelegataAzioneIdentificazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="static"/>
			<xsd:enumeration value="headerBased"/>
			<xsd:enumeration value="urlBased"/>
			<xsd:enumeration value="contentBased"/>
			<xsd:enumeration value="inputBased"/>
			<xsd:enumeration value="soapActionBased"/>
			<xsd:enumeration value="interfaceBased"/>
			<xsd:enumeration value="delegatedBy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PortaApplicativaAzioneIdentificazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="static"/>
			<xsd:enumeration value="headerBased"/>
			<xsd:enumeration value="protocolBased"/>
			<xsd:enumeration value="urlBased"/>
			<xsd:enumeration value="contentBased"/>
			<xsd:enumeration value="inputBased"/>
			<xsd:enumeration value="soapActionBased"/>
			<xsd:enumeration value="interfaceBased"/>
			<xsd:enumeration value="delegatedBy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CorrelazioneApplicativaRichiestaIdentificazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="urlBased"/>
			<xsd:enumeration value="headerBased"/>
			<xsd:enumeration value="contentBased"/>
			<xsd:enumeration value="inputBased"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CorrelazioneApplicativaRispostaIdentificazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="headerBased"/>
			<xsd:enumeration value="contentBased"/>
			<xsd:enumeration value="inputBased"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CorrelazioneApplicativaGestioneIdentificazioneFallita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="blocca"/>
			<xsd:enumeration value="accetta"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValidazioneBusteTipoControllo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normale"/>
			<xsd:enumeration value="rigido"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValidazioneContenutiApplicativiTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="interface"/>
			<xsd:enumeration value="openspcoop"/>
			<xsd:enumeration value="xsd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipoConnessioneRisposte">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="new"/>
			<xsd:enumeration value="reply"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Severita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="fatal"/>
			<xsd:enumeration value="errorProtocol"/>
			<xsd:enumeration value="errorIntegration"/>
			<xsd:enumeration value="infoProtocol"/>
			<xsd:enumeration value="infoIntegration"/>
			<xsd:enumeration value="debugLow"/>
			<xsd:enumeration value="debugMedium"/>
			<xsd:enumeration value="debugHigh"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProprietaProtocolloValore">
		<xsd:restriction base="xsd:string">
			
			<xsd:enumeration value="tipoMittente"/>
			<xsd:enumeration value="mittente"/>
			<xsd:enumeration value="identificativoPortaMittente"/>
			
			<xsd:enumeration value="tipoDestinatario"/>
			<xsd:enumeration value="destinatario"/>
			<xsd:enumeration value="identificativoPortaDestinatario"/>
			
			<xsd:enumeration value="tipoServizio"/>
			<xsd:enumeration value="servizio"/>
			<xsd:enumeration value="versioneServizio"/>
			
			<xsd:enumeration value="azione"/>
			
			<xsd:enumeration value="identificativo"/>
			
			<xsd:enumeration value="identificativoCorrelazioneApplicativa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CredenzialeTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="basic"/>
			<xsd:enumeration value="ssl"/>
			<xsd:enumeration value="principal"/>
			<xsd:enumeration value="apikey"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GestioneErroreComportamento">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="accetta"/>
			<xsd:enumeration value="rispedisci"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FaultIntegrazioneTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap"/>
			<xsd:enumeration value="xml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InvocazioneServizioTipoAutenticazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="basic"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlgoritmoCache">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="lru"/>
			<xsd:enumeration value="mru"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegistroTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="uddi"/>
			<xsd:enumeration value="web"/>
			<xsd:enumeration value="db"/>
			<xsd:enumeration value="ws"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Property">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="RuoloTipoMatch">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeTipoMatch">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PortaDelegataSoggettiErogatori">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soggettiEsterni"/>
			<xsd:enumeration value="escludiSoggettoFruitore"/>
			<xsd:enumeration value="tutti"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PortaApplicativaSoggettiFruitori">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soggettiEsterni"/>
			<xsd:enumeration value="escludiSoggettoErogatore"/>
			<xsd:enumeration value="tutti"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrasformazioneRegolaParametroTipoAzione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="add"/>
			<xsd:enumeration value="update"/>
			<xsd:enumeration value="updateOrAdd"/>
			<xsd:enumeration value="delete"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VersioneSOAP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1_1"/>
			<xsd:enumeration value="1_2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RuoloContesto">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="portaDelegata"/>
			<xsd:enumeration value="portaApplicativa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceBinding">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap"/>
			<xsd:enumeration value="rest"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Altre costanti utilizzate poi nel core -->
	<xsd:simpleType name="RicercaTipologiaErogazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="disabilitato"/>
			<xsd:enumeration value="trasparente"/>
			<xsd:enumeration value="asincrona_asimmetrica"/>
			<xsd:enumeration value="message_box"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RicercaTipologiaFruizione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="disabilitato"/>
			<xsd:enumeration value="normale"/>
			<xsd:enumeration value="asincrona_simmetrica"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipologiaErogazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="disabilitato"/>
			<xsd:enumeration value="trasparente"/>
			<xsd:enumeration value="asincrona_asimmetrica"/>
			<xsd:enumeration value="message_box"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipologiaFruizione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="disabilitato"/>
			<xsd:enumeration value="normale"/>
			<xsd:enumeration value="asincrona_simmetrica"/>
		</xsd:restriction>
	</xsd:simpleType>


	
	<!-- Identiticativi WS -->
	
	<xsd:complexType name="id-soggetto">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-porta-delegata">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-porta-applicativa">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-servizio-applicativo">
		<xsd:sequence>
			<xsd:element name="id-soggetto" type="id-soggetto"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	

</xsd:schema>