tools/ws/config/server/deploy/wsdl/PortaDelegataAll_PortSoap11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/config/management" 
				  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
				  name="PortaDelegataService"
				  targetNamespace="http://www.openspcoop2.org/core/config/management">

	<wsdl:import namespace="http://www.openspcoop2.org/core/config/management" 
				 location="PortaDelegataAll.wsdl"/>
	
	<!-- BINDING (SOAP11) --> 
	
	<wsdl:binding name="PortaDelegataServiceSoap11Binding" type="tns:PortaDelegata">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="findAll">
			<soap11:operation soapAction="findAll" style="document"/>
			<wsdl:input name="findAll">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="find">
			<soap11:operation soapAction="find" style="document"/>
			<wsdl:input name="find">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-found-exception">
				<soap11:fault name="config-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-multiple-result-exception">
				<soap11:fault name="config-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="count">
			<soap11:operation soapAction="count" style="document"/>
			<wsdl:input name="count">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="countResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="get">
			<soap11:operation soapAction="get" style="document"/>
			<wsdl:input name="get">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-found-exception">
				<soap11:fault name="config-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-multiple-result-exception">
				<soap11:fault name="config-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="exists">
			<soap11:operation soapAction="exists" style="document"/>
			<wsdl:input name="exists">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="existsResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-multiple-result-exception">
				<soap11:fault name="config-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="findAllIds">
			<soap11:operation soapAction="findAllIds" style="document"/>
			<wsdl:input name="findAllIds">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllIdsResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="inUse">
			<soap11:operation soapAction="inUse" style="document"/>
			<wsdl:input name="inUse">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="inUseResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-found-exception">
				<soap11:fault name="config-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>


		<wsdl:operation name="create">
			<soap11:operation soapAction="create" style="document"/>
			<wsdl:input name="create">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="update">
			<soap11:operation soapAction="update" style="document"/>
			<wsdl:input name="update">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-found-exception">
				<soap11:fault name="config-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="updateOrCreate">
			<soap11:operation soapAction="updateOrCreate" style="document"/>
			<wsdl:input name="updateOrCreate">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateOrCreateResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="deleteById">
			<soap11:operation soapAction="deleteById" style="document"/>
			<wsdl:input name="deleteById">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteByIdResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="deleteAll">
			<soap11:operation soapAction="deleteAll" style="document"/>
			<wsdl:input name="deleteAll">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteAllResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="deleteAllByFilter">
			<soap11:operation soapAction="deleteAllByFilter" style="document"/>
			<wsdl:input name="deleteAllByFilter">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteAllByFilterResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	
		<wsdl:operation name="delete">
			<soap11:operation soapAction="delete" style="document"/>
			<wsdl:input name="delete">
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteResponse">
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="config-service-exception">
				<soap11:fault name="config-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-implemented-exception">
				<soap11:fault name="config-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="config-not-authorized-exception">
				<soap11:fault name="config-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
    

	</wsdl:binding>

	<!-- SERVICE -->	
	<wsdl:service name="PortaDelegataSoap11Service">	

		<wsdl:port binding="tns:PortaDelegataServiceSoap11Binding" name="PortaDelegataPortSoap11">
			<soap11:address location="http://localhost:8080/config/PortaDelegata/Soap11"/>
		</wsdl:port>	
			
	</wsdl:service>
	
</wsdl:definitions>
