tools/ws/config/server/deploy/wsdl/SoggettoSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/config/management" 
				  name="SoggettoService"
				  targetNamespace="http://www.openspcoop2.org/core/config/management">

	<!-- TYPES -->
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.openspcoop2.org/core/config/management"
						schemaLocation="SoggettoSearch.xsd"/>
		</xs:schema>
	</wsdl:types>
  
	<!-- MESSAGES -->
	  
	<wsdl:message name="findAll">
		<wsdl:part element="tns:findAll" name="findAll"/>
	</wsdl:message>
	<wsdl:message name="findAllResponse">
		<wsdl:part element="tns:findAllResponse" name="findAllResponse"/>
	</wsdl:message>

	<wsdl:message name="find">
		<wsdl:part element="tns:find" name="find"/>
	</wsdl:message>
	<wsdl:message name="findResponse">
		<wsdl:part element="tns:findResponse" name="findResponse"/>
	</wsdl:message>

	<wsdl:message name="count">
		<wsdl:part element="tns:count" name="count"/>
	</wsdl:message>
	<wsdl:message name="countResponse">
		<wsdl:part element="tns:countResponse" name="countResponse"/>
	</wsdl:message>

	<wsdl:message name="get">
		<wsdl:part element="tns:get" name="get"/>
	</wsdl:message>
	<wsdl:message name="getResponse">
		<wsdl:part element="tns:getResponse" name="getResponse"/>
	</wsdl:message>

	<wsdl:message name="exists">
		<wsdl:part element="tns:exists" name="exists"/>
	</wsdl:message>
	<wsdl:message name="existsResponse">
		<wsdl:part element="tns:existsResponse" name="existsResponse"/>
	</wsdl:message>

	<wsdl:message name="findAllIds">
		<wsdl:part element="tns:findAllIds" name="findAllIds"/>
	</wsdl:message>
	<wsdl:message name="findAllIdsResponse">
		<wsdl:part element="tns:findAllIdsResponse" name="findAllIdsResponse"/>
	</wsdl:message>

	<wsdl:message name="inUse">
		<wsdl:part element="tns:inUse" name="inUse"/>
	</wsdl:message>
	<wsdl:message name="inUseResponse">
		<wsdl:part element="tns:inUseResponse" name="inUseResponse"/>
	</wsdl:message>


	<wsdl:message name="config-service-exception">
		<wsdl:part element="tns:config-service-exception" name="config-service-exception"/>
	</wsdl:message>

	<wsdl:message name="config-not-found-exception">
		<wsdl:part element="tns:config-not-found-exception" name="config-not-found-exception"/>
	</wsdl:message>

	<wsdl:message name="config-multiple-result-exception">
		<wsdl:part element="tns:config-multiple-result-exception" name="config-multiple-result-exception"/>
	</wsdl:message>

	<wsdl:message name="config-not-implemented-exception">
		<wsdl:part element="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
	</wsdl:message>

	<wsdl:message name="config-not-authorized-exception">
		<wsdl:part element="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
	</wsdl:message>


	<!-- INTERFACE --> 
	 
	<wsdl:portType name="Soggetto">

		<wsdl:operation name="findAll">
			<wsdl:input message="tns:findAll" name="findAll"/>
			<wsdl:output message="tns:findAllResponse" name="findAllResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="find">
			<wsdl:input message="tns:find" name="find"/>
			<wsdl:output message="tns:findResponse" name="findResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-found-exception" name="config-not-found-exception"/>
			<wsdl:fault message="tns:config-multiple-result-exception" name="config-multiple-result-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="count">
			<wsdl:input message="tns:count" name="count"/>
			<wsdl:output message="tns:countResponse" name="countResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="get">
			<wsdl:input message="tns:get" name="get"/>
			<wsdl:output message="tns:getResponse" name="getResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-found-exception" name="config-not-found-exception"/>
			<wsdl:fault message="tns:config-multiple-result-exception" name="config-multiple-result-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="exists">
			<wsdl:input message="tns:exists" name="exists"/>
			<wsdl:output message="tns:existsResponse" name="existsResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-multiple-result-exception" name="config-multiple-result-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="findAllIds">
			<wsdl:input message="tns:findAllIds" name="findAllIds"/>
			<wsdl:output message="tns:findAllIdsResponse" name="findAllIdsResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>

		<wsdl:operation name="inUse">
			<wsdl:input message="tns:inUse" name="inUse"/>
			<wsdl:output message="tns:inUseResponse" name="inUseResponse"/>
			<wsdl:fault message="tns:config-service-exception" name="config-service-exception"/>
			<wsdl:fault message="tns:config-not-found-exception" name="config-not-found-exception"/>
			<wsdl:fault message="tns:config-not-implemented-exception" name="config-not-implemented-exception"/>
			<wsdl:fault message="tns:config-not-authorized-exception" name="config-not-authorized-exception"/>
		</wsdl:operation>


	</wsdl:portType>
	
</wsdl:definitions>
