tools/ws/tracciamento/server/deploy/wsdl/TracciaSearch_PortSoap12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="http://www.openspcoop2.org/core/tracciamento/management" 
				  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				  name="TracciaService"
				  targetNamespace="http://www.openspcoop2.org/core/tracciamento/management">

	<wsdl:import namespace="http://www.openspcoop2.org/core/tracciamento/management" 
				 location="TracciaSearch.wsdl"/>
	
	<!-- BINDING (SOAP12) --> 
	
	<wsdl:binding name="TracciaServiceSoap12Binding" type="tns:Traccia">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="findAll">
			<soap12:operation soapAction="findAll" soapActionRequired="true" style="document"/>
			<wsdl:input name="findAll">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="find">
			<soap12:operation soapAction="find" soapActionRequired="true" style="document"/>
			<wsdl:input name="find">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-found-exception">
				<soap12:fault name="tracciamento-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-multiple-result-exception">
				<soap12:fault name="tracciamento-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="count">
			<soap12:operation soapAction="count" soapActionRequired="true" style="document"/>
			<wsdl:input name="count">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="countResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="get">
			<soap12:operation soapAction="get" soapActionRequired="true" style="document"/>
			<wsdl:input name="get">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-found-exception">
				<soap12:fault name="tracciamento-not-found-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-multiple-result-exception">
				<soap12:fault name="tracciamento-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="exists">
			<soap12:operation soapAction="exists" soapActionRequired="true" style="document"/>
			<wsdl:input name="exists">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="existsResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-multiple-result-exception">
				<soap12:fault name="tracciamento-multiple-result-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="findAllIds">
			<soap12:operation soapAction="findAllIds" soapActionRequired="true" style="document"/>
			<wsdl:input name="findAllIds">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findAllIdsResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="tracciamento-service-exception">
				<soap12:fault name="tracciamento-service-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-implemented-exception">
				<soap12:fault name="tracciamento-not-implemented-exception" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="tracciamento-not-authorized-exception">
				<soap12:fault name="tracciamento-not-authorized-exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>



	</wsdl:binding>

	<!-- SERVICE -->	
	<wsdl:service name="TracciaSoap12Service">	
	
		<wsdl:port binding="tns:TracciaServiceSoap12Binding" name="TracciaPortSoap12">
			<soap12:address location="http://localhost:8080/tracciamento/Traccia/Soap12"/>
		</wsdl:port>
					
	</wsdl:service>
	
</wsdl:definitions>
