core/src/schemi/protocolManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/protocol/manifest"
       targetNamespace="http://www.openspcoop2.org/protocol/manifest"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
       attributeFormDefault="unqualified">
       
       <xsd:element name="openspcoop2">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element ref="protocol" />
                            <xsd:element ref="binding" />
                            <xsd:element ref="web"/>
                            <xsd:element ref="registry"/>
                            <xsd:element ref="urlMapping"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       
       
       <!-- Elementi principali -->
       
       <xsd:element name="protocol">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="factory" type="xsd:string"/>
                     </xsd:sequence>
                     <xsd:attribute name="name" type="xsd:string" use="required" />
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="binding">
              <xsd:complexType>
                     <xsd:all>
                            <xsd:element name="soap" type="SoapConfiguration" minOccurs="0" />
                            <xsd:element name="rest" type="RestConfiguration" minOccurs="0" />
                     </xsd:all>
                     <xsd:attribute name="default" type="ServiceBinding" use="optional" />
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="web">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="context" type="Context" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="emptyContext" type="WebEmptyContext" minOccurs="0"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="registry">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="organization" type="Organization"/>
                            <xsd:element name="service" type="Service"/>
                            <xsd:element name="versions" type="Versions"/>
                     </xsd:sequence>
              </xsd:complexType>
       </xsd:element>
       
       <xsd:element name="urlMapping">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="file" type="xsd:string"/>
                     </xsd:sequence>
                     <xsd:attribute name="type" type="urlMappingSourceType" use="required" />
              </xsd:complexType>
       </xsd:element>


  
       <!-- Integration Error -->
       
       <xsd:complexType name="IntegrationErrorConfiguration">
              <xsd:all>
                     <xsd:element name="internal" type="IntegrationErrorCollection" />
                     <xsd:element name="external" type="IntegrationErrorCollection" />
              </xsd:all>
       </xsd:complexType>
       
       <xsd:complexType name="IntegrationErrorCollection">
              <xsd:sequence>
                     <xsd:element name="authentication" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="authorization" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="notFound" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="badRequest" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="internalError" type="IntegrationError" minOccurs="0" />
                     <xsd:element name="default" type="DefaultIntegrationError" />
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="IntegrationError">
              <xsd:attribute name="httpReturnCode" type="xsd:int" use="required" />
              <xsd:attribute name="messageType" type="IntegrationErrorMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="DefaultIntegrationError">
              <xsd:attribute name="httpReturnCode" type="xsd:int" use="required" />
              <xsd:attribute name="messageType" type="DefaultIntegrationErrorMessageType" use="required" />
       </xsd:complexType>
       
       
       
       
       <!-- Interface Configuration -->
       
       <xsd:complexType name="InterfacesConfiguration">
              <xsd:sequence>
                     <xsd:element minOccurs="1" maxOccurs="unbounded" name="specification" type="InterfaceConfiguration" />
              </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="InterfaceConfiguration">
              <xsd:attribute name="type" type="InterfaceType" use="required"/>
              <xsd:attribute name="schema" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="conversations" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
 
 
       <!-- Soap Configuration -->
       
       <xsd:complexType name="SoapConfiguration">
              <xsd:all>
                     <xsd:element name="integrationError" type="IntegrationErrorConfiguration" />
                     <xsd:element name="mediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="interfaces" type="InterfacesConfiguration" minOccurs="0"/>
                     <xsd:element name="soapHeaderBypassMustUnderstand" type="SoapHeaderBypassMustUnderstand" minOccurs="0"/>
              </xsd:all>
              <xsd:attribute name="soap11" type="xsd:boolean" use="required" />
              <xsd:attribute name="soap11_withAttachments" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap11_mtom" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap12" type="xsd:boolean" use="required" />
              <xsd:attribute name="soap12_withAttachments" type="xsd:boolean" use="optional" default="true" />
              <xsd:attribute name="soap12_mtom" type="xsd:boolean" use="optional" default="true" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeCollection">
              <xsd:sequence>
                     <xsd:element name="mediaType" type="SoapMediaTypeMapping" minOccurs="0" maxOccurs="unbounded" />
                     <xsd:element name="default" type="SoapMediaTypeDefaultMapping" minOccurs="0" maxOccurs="1" />
                     <xsd:element name="undefined" type="SoapMediaTypeUndefinedMapping" minOccurs="0" maxOccurs="1" />
              </xsd:sequence>
       </xsd:complexType>   
       
       <xsd:complexType name="SoapMediaTypeMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
                            <xsd:attribute name="regExpr" type="xsd:boolean" use="optional" default="false" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeDefaultMapping">
              <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapMediaTypeUndefinedMapping">
              <xsd:attribute name="messageType" type="SoapMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="SoapHeaderBypassMustUnderstand">
              <xsd:sequence>
                     <xsd:element name="header" type="SoapHeaderBypassMustUnderstandHeader" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="SoapHeaderBypassMustUnderstandHeader">
              <xsd:sequence>
                     <xsd:element name="localName" type="xsd:string"/>
                     <xsd:element name="namespace" type="xsd:string"/>
              </xsd:sequence>
       </xsd:complexType>



       <!-- Rest Configuration -->
      
       <xsd:complexType name="RestConfiguration">
              <xsd:all>
                     <xsd:element name="integrationError" type="IntegrationErrorConfiguration" />
                     <xsd:element name="mediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="interfaces" type="InterfacesConfiguration" minOccurs="0"/>
              </xsd:all>
              <xsd:attribute name="xml" type="xsd:boolean" use="required" />
              <xsd:attribute name="json" type="xsd:boolean" use="required" />
              <xsd:attribute name="binary" type="xsd:boolean" use="required" />
              <xsd:attribute name="mimeMultipart" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeCollection">
              <xsd:sequence>
                     <xsd:element name="mediaType" type="RestMediaTypeMapping" minOccurs="0" maxOccurs="unbounded" />
                     <xsd:element name="default" type="RestMediaTypeDefaultMapping" minOccurs="0" maxOccurs="1" />
                     <xsd:element name="undefined" type="RestMediaTypeUndefinedMapping" minOccurs="0" maxOccurs="1" />
              </xsd:sequence>
       </xsd:complexType>     
       
       <xsd:complexType name="RestMediaTypeMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="messageType" type="RestMessageType" use="required" />
                            <xsd:attribute name="regExpr" type="xsd:boolean" use="optional" default="false" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeDefaultMapping">
              <xsd:attribute name="messageType" type="RestMessageType" use="required" />
       </xsd:complexType>
       
       <xsd:complexType name="RestMediaTypeUndefinedMapping">
              <xsd:attribute name="messageType" type="RestMessageType" use="required" />
       </xsd:complexType>

       
      

       <!-- Context Configuration -->

       <xsd:complexType name="Context">
              <xsd:sequence>
                     <xsd:element name="subContext" type="SubContextMapping" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="emptySubContext" type="EmptySubContextMapping" minOccurs="0" />
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:string" use="required" />
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       <xsd:complexType name="WebEmptyContext">
              <xsd:sequence>
                     <xsd:element name="subContext" type="SubContextMapping" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="emptySubContext" type="EmptySubContextMapping" minOccurs="0" />
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="enabled" type="xsd:boolean" use="required"/>
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       <xsd:complexType name="SubContextMapping">
              <xsd:simpleContent>
                     <xsd:extension base="xsd:string">
                            <xsd:attribute name="function" type="FunctionType" use="optional" />
                            <xsd:attribute name="messageType" type="MessageType" use="required" />
                     </xsd:extension>
              </xsd:simpleContent>
       </xsd:complexType>
       <xsd:complexType name="EmptySubContextMapping">
              <xsd:attribute name="function" type="FunctionType" use="optional" />
              <xsd:attribute name="messageType" type="MessageType" use="required" />
       </xsd:complexType>



       <!-- Organization Configuration -->
       
       <xsd:complexType name="Organization">
              <xsd:sequence>
                     <xsd:element name="types" type="OrganizationTypes"/>
              </xsd:sequence>
              <xsd:attribute name="authentication" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="codeIPA" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="replyToAddress" type="xsd:boolean" use="optional" default="false"/> <!-- replyToAddress -->
       </xsd:complexType>

       <xsd:complexType name="OrganizationTypes">
              <xsd:sequence>
                     <xsd:element name="type" type="OrganizationType" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="OrganizationType">
              <xsd:attribute name="name" type="xsd:string" use="required" />
       </xsd:complexType>
       
       
       
       <!-- Service Configuration -->
       
       <xsd:complexType name="Service">
              <xsd:sequence>
                     <xsd:element name="types" type="ServiceTypes"/>
                     <xsd:element name="profile" type="CollaborationProfile" minOccurs="0"/>
                     <xsd:element name="functionality" type="Functionality" minOccurs="0"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="ServiceTypes">
              <xsd:sequence>
                     <xsd:element name="type" type="ServiceType" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="ServiceType">
              <xsd:sequence>
                     <xsd:element name="soapMediaTypeCollection" type="SoapMediaTypeCollection" minOccurs="0"/>
                     <xsd:element name="restMediaTypeCollection" type="RestMediaTypeCollection" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:string" use="required" />
              <xsd:attribute name="messageType" type="MessageType" use="optional"  />
              <xsd:attribute name="binding" type="ServiceBinding" use="optional" />
       </xsd:complexType>
       
       <xsd:complexType name="CollaborationProfile">
              <xsd:attribute name="oneway" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="inputOutput" type="xsd:boolean" use="optional" default="true"/>
              <xsd:attribute name="asyncInputOutput" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="polledInputOutput" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       <xsd:complexType name="Functionality">
              <xsd:attribute name="duplicateFilter" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="acknowledgement" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="conversationIdentifier" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="deliveryOrder" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="expiration" type="xsd:boolean" use="optional" default="false"/>
              <xsd:attribute name="manifestAttachments" type="xsd:boolean" use="optional" default="false"/>
       </xsd:complexType>
       
       
       
       <!-- Version Configuration -->
       
       <xsd:complexType name="Versions">
              <xsd:sequence>
                     <xsd:element name="version" type="Version" maxOccurs="unbounded"/>
              </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="Version">
              <xsd:attribute name="name" type="xsd:string" use="required" />
       </xsd:complexType>
       


       <!-- Enumeration -->
       
       <xsd:simpleType name="ServiceBinding">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap"/>
                     <xsd:enumeration value="rest"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="SoapMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap11"/>
                     <xsd:enumeration value="soap12"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="RestMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="binary"/>
                     <xsd:enumeration value="mimeMultipart"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="MessageType">
              <xsd:union memberTypes="SoapMessageType RestMessageType"/>
       </xsd:simpleType>
       
       <xsd:simpleType name="IntegrationErrorMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap"/>
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="none"/>
                     <xsd:enumeration value="sameAsRequest"/>
              </xsd:restriction>
       </xsd:simpleType>
       <xsd:simpleType name="DefaultIntegrationErrorMessageType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="soap"/>
                     <xsd:enumeration value="xml"/>
                     <xsd:enumeration value="json"/>
                     <xsd:enumeration value="none"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="FunctionType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="PD"/>
                     <xsd:enumeration value="PA"/>
                     <xsd:enumeration value="PDtoSOAP"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="urlMappingSourceType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="PROPERTIES"/>
                     <xsd:enumeration value="XML"/>
              </xsd:restriction>
       </xsd:simpleType>
       
       <xsd:simpleType name="InterfaceType">
              <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="wsdl"/>
                     <xsd:enumeration value="wadl"/>
                     <xsd:enumeration value="swagger"/>
                     <xsd:enumeration value="openApi"/>
              </xsd:restriction>
       </xsd:simpleType>
       
</xsd:schema>
