core/src/schemi/registroServizi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/core/registry"
	targetNamespace="http://www.openspcoop2.org/core/registry"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	
	<!-- il registro Servizi contiene la definizione dei vari soggetti 
		e di possibili connettori associati ai soggetti oltre alla definizione degli accordi di servizio -->
	<xsd:element name="registro-servizi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="accordo-cooperazione" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="accordo-servizio-parte-comune" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="porta-dominio" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="ruolo" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="scope" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="gruppo" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="soggetto" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="connettore" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
	
	<!-- Accordi di Cooperazione -->
	<xsd:element name="accordo-cooperazione" type="accordo-cooperazione" />
	<xsd:complexType name="accordo-cooperazione">
		<xsd:sequence>
			<xsd:element name="soggetto-referente" type="id-soggetto" maxOccurs="1" minOccurs="0"/>
			<!-- Elenco Partecipanti -->
			<xsd:element name="elenco-partecipanti" maxOccurs="1" minOccurs="0"
				type="accordo-cooperazione-partecipanti"/>
			<!-- Allegati -->
			<xsd:element name="allegato" maxOccurs="unbounded" minOccurs="0" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element name="specifica-semiformale" maxOccurs="unbounded" minOccurs="0"
				type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
	</xsd:complexType>
	<xsd:complexType name="accordo-cooperazione-partecipanti">
		<xsd:sequence>
			<xsd:element name="soggetto-partecipante" type="id-soggetto" maxOccurs="unbounded" 
				minOccurs="0"/>
			<!-- minOccurs="2"/> Altrimenti non e' utilizzabile durante una esportazione per un accordo senza soggetti -->
			<!-- Il check che ne esistano 2 e' stato spostato a livello semantico di stato 'finale' -->
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Accordo di Servizio (Parte Comune) -->
	<xsd:element name="accordo-servizio-parte-comune" type="accordo-servizio-parte-comune"/>
	<xsd:complexType name="accordo-servizio-parte-comune">
		<xsd:sequence>
			<!-- Soggetto Referente dell'accordo -->
			<xsd:element name="soggetto-referente" type="id-soggetto" maxOccurs="1" minOccurs="0"/>
			<!-- Indicazione che l'accordo di servizio rappresenta un servizio composto (utilizzato in un accordo di cooperazione) -->
			<xsd:element name="servizio-composto" type="accordo-servizio-parte-comune-servizio-composto" maxOccurs="1" minOccurs="0"/>
			<!-- Azioni incluse nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione" type="azione"/>
			<!-- Port-Type inclusi nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="port-type" type="port-type"/>
			<!-- Risorse definite nell'accordo -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="resource" type="resource"/>
			<!-- Allegati -->
			<xsd:element name="allegato" maxOccurs="unbounded" minOccurs="0" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element name="specifica-semiformale" maxOccurs="unbounded" minOccurs="0"
				type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
			<!-- Gruppi -->
			<xsd:element maxOccurs="1" minOccurs="0" name="gruppi" type="gruppi-accordo"/>
		</xsd:sequence>
		<xsd:attribute name="service-binding" type="ServiceBinding" use="required"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione" use="required"/>
		<xsd:attribute name="formato-specifica" type="FormatoSpecifica" use="optional"/>
		<xsd:attribute name="wsdl-definitorio" type="xsd:string"/>
		<xsd:attribute name="wsdl-concettuale" type="xsd:string"/> <!-- Utilizzato anche per la specifica API -->
		<xsd:attribute name="wsdl-logico-erogatore" type="xsd:string"/>
		<xsd:attribute name="wsdl-logico-fruitore" type="xsd:string"/>
		<xsd:attribute name="specifica-conversazione-concettuale" type="xsd:string"/>
		<xsd:attribute name="specifica-conversazione-erogatore" type="xsd:string"/>
		<xsd:attribute name="specifica-conversazione-fruitore" type="xsd:string"/>
		<xsd:attribute name="utilizzo-senza-azione" type="xsd:boolean" default="false"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
		<xsd:attribute name="canale" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="accordo-servizio-parte-comune-servizio-composto">
		<xsd:sequence>
			<!-- Servizi componenti -->
			<xsd:element name="servizio-componente" type="accordo-servizio-parte-comune-servizio-composto-servizio-componente" maxOccurs="unbounded"
				minOccurs="0"/>
				<!-- minOccurs="2"/> Altrimenti non e' utilizzabile durante una esportazione per un accordo senza servizi componenti -->
				<!-- Il check che ne esistano 2 e' stato spostato a livello semantico di stato 'finale' -->
			<!-- Specifiche Coordinamento -->
			<xsd:element name="specifica-coordinamento" maxOccurs="unbounded"
				minOccurs="0" type="documento"/>
		</xsd:sequence>
		<xsd:attribute name="accordo-cooperazione" type="xsd:string"
			use="required"/>
	</xsd:complexType>
	<xsd:complexType name="accordo-servizio-parte-comune-servizio-composto-servizio-componente">
		<xsd:attribute name="tipo-soggetto" type="xsd:string" use="required"/>
		<xsd:attribute name="nome-soggetto" type="xsd:string" use="required"/>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
		<xsd:attribute name="azione" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- port-type -->
	<xsd:complexType name="port-type">
		<xsd:sequence>
			<!-- Operations indicate per il port-type -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="azione" type="operation"/>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="style" type="BindingStyle" default="document"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita" />
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita" />
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita" />
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
	</xsd:complexType>
	
	<!-- azione -->
	<xsd:complexType name="azione">
		<xsd:sequence>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="correlata" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- operation -->
	<xsd:complexType name="operation">
		<xsd:sequence>
			<xsd:element name="message-input" type="message" maxOccurs="1" minOccurs="0" />
			<xsd:element name="message-output" type="message" maxOccurs="1" minOccurs="0" />
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="style" type="BindingStyle" />
		<xsd:attribute name="soap-action" type="xsd:string"/>
		<xsd:attribute name="profilo-collaborazione" type="ProfiloCollaborazione"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita" />
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="correlata-servizio" type="xsd:string"/>
		<xsd:attribute name="correlata" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Definizione di un messaggio per una operation -->
	<xsd:complexType name="message">
		<xsd:sequence>
			<xsd:element name="part" type="message-part" maxOccurs="unbounded" minOccurs="1"/>			
		</xsd:sequence>
		<xsd:attribute name="use" type="BindingUse" default="literal"/>
		<xsd:attribute name="soap-namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="message-part">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="element-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="element-namespace" type="xsd:string" use="optional"/>
		<xsd:attribute name="type-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="type-namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- Risorsa REST -->
	<xsd:complexType name="resource">
		<xsd:sequence>
			<!-- Reqeust -->
			<xsd:element maxOccurs="1" minOccurs="0" name="request" type="resource-request"/>
			<!-- Response -->
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="response" type="resource-response"/>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="path" type="xsd:string" use="optional"/>
		<xsd:attribute name="method" type="HttpMethod" use="optional"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="request-message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="response-message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita" />
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Definizione di una richiesta per una risorsa REST -->
	<xsd:complexType name="resource-request">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="resource-parameter"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="representation" type="resource-representation"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Definizione di una risposta per una risorsa REST -->
	<xsd:complexType name="resource-response">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="resource-parameter"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="representation" type="resource-representation"/>
		</xsd:sequence>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="status" type="xsd:int" use="required"/>
	</xsd:complexType>
	
	<!-- Definizione di una rappresentazione per una richiesta/risposta della risorsa REST -->
	<xsd:complexType name="resource-parameter">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="parameter-type" type="ParameterType" use="required"/>
		<xsd:attribute name="required" type="xsd:boolean" use="optional" default="false"/>
		<xsd:attribute name="tipo" type="xsd:string" use="required" />
		<xsd:attribute name="restrizioni" type="xsd:string" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="resource-representation">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="xml" type="resource-representation-xml"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="json" type="resource-representation-json"/>
		</xsd:sequence>
		<xsd:attribute name="media-type" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="optional"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
		<xsd:attribute name="representation-type" type="RepresentationType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="resource-representation-xml">
		<xsd:attribute name="xml-type" type="RepresentationXmlType" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="resource-representation-json">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Gruppi di un Accordo -->
	<xsd:complexType name="gruppi-accordo">
		<xsd:sequence>
			<xsd:element name="gruppo" type="gruppo-accordo" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gruppo-accordo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	
	
	<!-- Porta di Dominio -->
	<xsd:element name="porta-dominio" type="porta-dominio"/>
	<xsd:complexType name="porta-dominio">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="implementazione" type="xsd:string" default="standard"/>
		<xsd:attribute name="subject" type="xsd:string"/>
		<xsd:attribute name="client-auth" type="StatoFunzionalita" default="disabilitato"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
	</xsd:complexType>
	



	<!-- Ruoli -->
	<xsd:element name="ruolo" type="ruolo" />
	<xsd:complexType name="ruolo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia" type="RuoloTipologia" use="optional" default="qualsiasi"/>
		<xsd:attribute name="nome-esterno" type="xsd:string" use="optional"/>
		<xsd:attribute name="contesto-utilizzo" type="RuoloContesto" use="optional" default="qualsiasi"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime" use="optional"/>
	</xsd:complexType>



	<!-- Scope -->
	<xsd:element name="scope" type="scope" />
	<xsd:complexType name="scope">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="tipologia" type="xsd:string" use="optional"/> <!-- caratteristica dello scope (es. policy di gestione) -->
		<xsd:attribute name="nome-esterno" type="xsd:string" use="optional"/>
		<xsd:attribute name="contesto-utilizzo" type="ScopeContesto" use="optional" default="qualsiasi"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime" use="optional"/>
	</xsd:complexType>




	<!-- Gruppi -->
	<xsd:element name="gruppo" type="gruppo" />
	<xsd:complexType name="gruppo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="descrizione" type="xsd:string" use="optional"/>
		<xsd:attribute name="service-binding" type="ServiceBinding" use="optional" />
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime" use="optional"/>
	</xsd:complexType>

	
	
	<!-- un Soggetto contiene: un connettore su cui viene gestito (punto di accesso della sua porta di dominio)
		e la definizione dei servizi -->
	<xsd:element name="soggetto" type="soggetto"/>
	<xsd:complexType name="soggetto">
		<xsd:sequence>
			<!-- Connettore -->
			<xsd:element ref="connettore" maxOccurs="1" minOccurs="0" />
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
			<!-- Accordi Servizio Parte Specifica -->
			<xsd:element maxOccurs="1" minOccurs="0" name="credenziali" type="credenziali-soggetto"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ruoli" type="ruoli-soggetto"/>
			<xsd:element ref="accordo-servizio-parte-specifica" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="identificativo-porta" type="xsd:string"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="porta-dominio" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
		<xsd:attribute name="versione-protocollo" type="xsd:string"/>
		<xsd:attribute name="codice-ipa" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Ruoli di un Soggetto -->
	<xsd:complexType name="ruoli-soggetto">
		<xsd:sequence>
			<xsd:element name="ruolo" type="ruolo-soggetto" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ruolo-soggetto">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Credenziali di un Soggetto -->
	<xsd:complexType name="credenziali-soggetto">
		<xsd:attribute name="tipo" type="CredenzialeTipo" default="ssl"/>
		<xsd:attribute name="user" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
		<xsd:attribute name="app-id" type="xsd:boolean" default="false"/>
		<xsd:attribute name="subject" type="xsd:string"/>
		<xsd:attribute name="cn-subject" type="xsd:string"/>
		<xsd:attribute name="issuer" type="xsd:string"/>
		<xsd:attribute name="cn-issuer" type="xsd:string"/>
		<xsd:attribute name="certificate" type="xsd:base64Binary"/>
		<xsd:attribute name="certificate-strict-verification" type="xsd:boolean" default="false"/>
	</xsd:complexType>
	
	
	
	
	<!-- Connettore -->
	<xsd:element name="connettore" type="connettore"/>
	<xsd:complexType name="connettore">
		<xsd:sequence>
			<xsd:element name="property" type="Property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	
	
	
	<!-- AccordoServizioParteSpecifica -->
	<xsd:element name="accordo-servizio-parte-specifica" type="accordo-servizio-parte-specifica"/>
	<xsd:complexType name="accordo-servizio-parte-specifica">
		<xsd:sequence>
			<xsd:element name="configurazione-servizio" type="configurazione-servizio" maxOccurs="1" minOccurs="0" />
			<xsd:element minOccurs="0" ref="fruitore" maxOccurs="unbounded" />
			<!-- Allegati -->
			<xsd:element name="allegato" maxOccurs="unbounded" minOccurs="0" type="documento"/>
			<!-- Specifiche Semiformale -->
			<xsd:element name="specifica-semiformale" maxOccurs="unbounded" minOccurs="0"
				type="documento"/>
			<!-- Specifiche Livelli Servizio -->
			<xsd:element name="specifica-livello-servizio" maxOccurs="unbounded" minOccurs="0"
				type="documento"/>
			<!-- Specifiche Sicurezza -->
			<xsd:element name="specifica-sicurezza" maxOccurs="unbounded" minOccurs="0"
				type="documento"/>
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
		<xsd:attribute name="accordo-servizio-parte-comune" type="xsd:string" use="required"/>
		<xsd:attribute name="tipologia-servizio" type="TipologiaServizio" default="normale"/>
		<!-- Eventuale precisazione del port-type dell'accordo da utilizzare -->
		<xsd:attribute name="port-type" type="xsd:string"/>
		<xsd:attribute name="wsdl-implementativo-erogatore" type="xsd:string"/>
		<xsd:attribute name="wsdl-implementativo-fruitore" type="xsd:string"/>
		<xsd:attribute name="filtro-duplicati" type="StatoFunzionalita"/>
		<xsd:attribute name="conferma-ricezione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-collaborazione" type="StatoFunzionalita"/>
		<xsd:attribute name="id-riferimento-richiesta" type="StatoFunzionalita"/>
		<xsd:attribute name="consegna-in-ordine" type="StatoFunzionalita"/>
		<xsd:attribute name="scadenza" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
		<xsd:attribute name="versione-protocollo" type="xsd:string"/>
		<xsd:attribute name="descrizione" type="xsd:string"/>
		<xsd:attribute name="message-type" type="MessageType" use="optional"/>
	</xsd:complexType>
	
	<!-- Servizio/ServizioCorrelato -->
	<xsd:complexType name="configurazione-servizio">
		<xsd:sequence>
			<!-- dati del servizio -->
			<xsd:element ref="connettore" maxOccurs="1" minOccurs="0" />
			<xsd:element name="configurazione-azione" type="configurazione-servizio-azione" maxOccurs="unbounded" minOccurs="0"/>			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="configurazione-servizio-azione">
		<xsd:sequence>
			<xsd:element ref="connettore" maxOccurs="1" minOccurs="1" />
			<xsd:element name="azione" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>		
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Fruitore -->
	<xsd:element name="fruitore" type="fruitore"/>
	<xsd:complexType name="fruitore">
		<xsd:sequence>
			<!-- Connettore -->
			<xsd:element ref="connettore" maxOccurs="1" minOccurs="0" />
			<xsd:element name="configurazione-azione" type="configurazione-servizio-azione" maxOccurs="unbounded" minOccurs="0"/>		
			<!-- Protocol Properties -->
			<xsd:element name="protocol-property" type="protocol-property" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="wsdl-implementativo-erogatore" type="xsd:string"/>
		<xsd:attribute name="wsdl-implementativo-fruitore" type="xsd:string"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
	</xsd:complexType>
	
	
	<!-- Documenti -->
	<xsd:complexType name="documento">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="file" type="xsd:string" use="required"/>
		<xsd:attribute name="ora-registrazione" type="xsd:dateTime"/>
	</xsd:complexType>
	
	
	<!-- ProtocolProperty -->
	<xsd:complexType name="protocol-property">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<!-- Uno dei 3 campi sottostanti e' obbligatorio -->
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
		<xsd:attribute name="number-value" type="xsd:unsignedLong" use="optional"/>
		<xsd:attribute name="boolean-value">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="false|true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="file" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	

	
	<!-- Enumeration -->
	<xsd:simpleType name="ServiceBinding">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap"/>
			<xsd:enumeration value="rest"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soap11"/>
			<xsd:enumeration value="soap12"/>
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="json"/>
			<xsd:enumeration value="binary"/>
			<xsd:enumeration value="mimeMultipart"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HttpMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GET"/>
			<xsd:enumeration value="POST"/>
			<xsd:enumeration value="PUT"/>
			<xsd:enumeration value="DELETE"/>
			<xsd:enumeration value="OPTIONS"/>
			<xsd:enumeration value="HEAD"/>
			<xsd:enumeration value="TRACE"/>
			<xsd:enumeration value="PATCH"/>
			<xsd:enumeration value="LINK"/>
			<xsd:enumeration value="UNLINK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormatoSpecifica">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="wsdl11"/>
			<xsd:enumeration value="swagger2"/>
			<xsd:enumeration value="openApi3"/>
			<xsd:enumeration value="wadl"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RepresentationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="json"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RepresentationXmlType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="element"/>
			<xsd:enumeration value="type"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParameterType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="header"/>
			<xsd:enumeration value="query"/>
			<xsd:enumeration value="dynamicPath"/>
			<xsd:enumeration value="form"/>
			<xsd:enumeration value="cookie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProfiloCollaborazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="oneway"/>
			<xsd:enumeration value="sincrono"/>
			<xsd:enumeration value="asincronoSimmetrico"/>
			<xsd:enumeration value="asincronoAsimmetrico"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatoFunzionalita">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abilitato"/>
			<xsd:enumeration value="disabilitato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BindingUse">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="literal"/>
			<xsd:enumeration value="encoded"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BindingStyle">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="document"/>
			<xsd:enumeration value="rpc"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Property">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="valore" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="TipologiaServizio">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normale"/>
			<xsd:enumeration value="correlato"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RuoloTipologia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="interno"/>
			<xsd:enumeration value="esterno"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RuoloContesto">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="portaDelegata"/>
			<xsd:enumeration value="portaApplicativa"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeContesto">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="portaDelegata"/>
			<xsd:enumeration value="portaApplicativa"/>
			<xsd:enumeration value="qualsiasi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CredenzialeTipo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="basic"/>
			<xsd:enumeration value="ssl"/>
			<xsd:enumeration value="principal"/>
			<xsd:enumeration value="apikey"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Altre costanti utilizzate poi nel core 
	<xsd:simpleType name="TipiDocumentoConversazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WSBL"/>
			<xsd:enumeration value="BPEL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoCoordinamento">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BPEL"/>
			<xsd:enumeration value="WS-CDL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoInterfaccia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WSDL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoLivelloServizio">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS-Agreement"/>
			<xsd:enumeration value="WSLA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoSemiformale">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UML"/>
			<xsd:enumeration value="HTML"/>
			<xsd:enumeration value="XML"/>
			<xsd:enumeration value="Linguaggio Naturale"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipiDocumentoSicurezza">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS-Policy"/>
			<xsd:enumeration value="Linguaggio Naturale"/>
		</xsd:restriction>
	</xsd:simpleType>
	-->
	
	
	<!-- Identiticativi WS -->
	<xsd:complexType name="id-porta-dominio">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-soggetto">
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-cooperazione">
		<xsd:sequence>
			<xsd:element name="soggetto-referente" type="id-soggetto" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-servizio-parte-comune">
		<xsd:sequence>
			<xsd:element name="soggetto-referente" type="id-soggetto" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
	</xsd:complexType>
	<xsd:complexType name="id-accordo-servizio-parte-specifica">
		<xsd:sequence>
			<xsd:element name="soggetto-erogatore" type="id-soggetto" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="tipo" type="xsd:string" use="required"/>
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
		<xsd:attribute name="versione" use="optional" type="xsd:unsignedInt" default="1"/>
	</xsd:complexType>
	<xsd:complexType name="id-ruolo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-scope">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="id-gruppo">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:complexType>
	
</xsd:schema>
