tools/web_interfaces/lib/users/deploy/sql/xsd/Users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.openspcoop2.org/utenti" targetNamespace="http://www.openspcoop2.org/utenti"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:info version="1.0" project-name="Users">
                    <linkit:authors>
                        <linkit:author name="Poli Andrea" mail="poli@link.it"/>
                    </linkit:authors>
                </linkit:info>
                <linkit:jax-ws xml-annotations="false" ws="false"/>
            </linkit:project_generator>
            <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                <linkit:dao>
                    <linkit:sql>
                        <linkit:sql-script generate="true">
                            <linkit:sql-table-list>
                                <linkit:sql-comment><![CDATA[**** Utenti ****]]></linkit:sql-comment>
                                <linkit:sql-table object-name="users" object-type="users"/>
                                <linkit:sql-table object-name="users-stati" object-type="users-stati"/>
                                <linkit:sql-table object-name="users-soggetti" object-type="users-soggetti"/>
                                <linkit:sql-table object-name="users-servizi" object-type="users-servizi"/>
                            </linkit:sql-table-list>
                        </linkit:sql-script>
                        <linkit:sql-mapping single-table-mapping="false"
                            on-delete-cascade="false" force-tolowercase-sqlname="false" check-tables-order-list="false"/>
                    </linkit:sql>
                </linkit:dao>
            </linkit:generator>
        </xsd:appinfo>
    </xsd:annotation>
    
    
    
    <xsd:element name="users">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="users"
                                              comment="Utenti che possono accedere alla console di gestione">
                        <linkit:sql-table-unique>
                            <linkit:sql-table-unique-field name="login"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="login" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="login"/>
                                <linkit:sql-ddl-column-comment>Login dell'utente</linkit:sql-ddl-column-comment>
                           </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="password" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="password"/>
                                <linkit:sql-ddl-column-comment>Password dell'utente</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="tipo_interfaccia" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="tipo_interfaccia"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sulla modalità di utilizzo dell'interfaccia:
- 'standard': l'utente dovrà fornire solamente le informazioni minime per configurare fruizioni e/o erogazioni
- 'avanzata': l'utente potrà beneficiare di funzionalità avanzate della console
- 'completa': l'utente potrà beneficare di tutte le funzionalità della console]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="interfaccia_completa" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="interfaccia_completa" />
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'utenza puo' abilitare la modalita' completa di visualizzazione dell'interfaccia.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="permessi" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="permessi"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Rappresentano i ruoli associati ad un utente:
- 'S': possibilità di configurare i servizi sia in termini di accordi che per quanto concerne gli aspetti di integrazione
- 'P': possibilità di configurare gli accordi di cooperazione
- 'C': permette all'utente di gestire aspetti di configurazione della Porta di Dominio
- 'D': possibilità di consultare la diagnostica emessa dalla Porta di Dominio
- 'M': possibilità di visionare e/o eliminare i messaggi in carico sulla Porta di Dominio
- 'A': permette di visionare lo storico delle operazioni intraprese sulla console dagli utenti
- 'U': permette la gestione degli utenti che si possono collegare alla console]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocolli" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocolli" text="true"/>
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sui protocolli supportati dall'utenza. Se non definiti vengono supportati tutti i protocolli attivi.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo_pddconsole" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo_pddconsole" />
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sul protocollo attivo per l'utenza nella console 'govwayConsole'. Se non definito viene supportato qualsiasi protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="protocollo_pddmonitor" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="protocollo_pddmonitor" />
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione sul protocollo attivo per l'utenza nella console 'govwayMonitor'. Se non definito viene supportato qualsiasi protocollo.]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="multi_tenant" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="multi_tenant" />
                                <linkit:sql-ddl-column-comment><![CDATA[Indicazione se l'utenza puo' effettuare una configurazione multi-tenant dove più soggetti operativi sono presenti sulla PdD]]></linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element ref="users-stati" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_utente" required="true" />
                                <linkit:sql-ddl-column-comment>Identificativo dell'utente [FK verso tabella users(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                    
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="users-stati">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="users_stati"
                        comment="Contiene gli stati associati all'utente. Uno stato puo' descrivere ad es. dei criteri di visualizzazione scelti da un utente">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="oggetto" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="oggetto"/>
                                <linkit:sql-ddl-column-comment>Tipologia di informazione a cui questo stato e' associata</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stato" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="stato" medium-text="true"/>
                                <linkit:sql-ddl-column-comment>Serializzazione dello stato dell'utente</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="users-soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="users_soggetti"
                        comment="Soggetti associati all'utente">
                        <linkit:sql-table-foreign-key reference-table="users">
                            <linkit:sql-table-fk-field name="id_utente"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key
                            reference-object-name="soggetti"
                            reference-object-type="soggetti"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_soggetto"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_utente" />
                            <linkit:sql-table-unique-column name="id_soggetto" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_utente" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_utente"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'utente [FK verso tabella users(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_soggetto" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_soggetto"/>
                                <linkit:sql-ddl-column-comment>Identificativo del soggetto associato all'utente nella colonna 'id_utente' [FK verso tabella soggetti(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="users-servizi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="users_servizi"
                        comment="Servizi associati all'utente">
                        <linkit:sql-table-foreign-key reference-table="users">
                            <linkit:sql-table-fk-field name="id_utente"/>
                            <linkit:sql-table-fk-reference-column name="id"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-foreign-key
                            reference-object-name="servizi"
                            reference-object-type="servizi"
                            reference-primary-key="true">
                            <linkit:sql-table-fk-field name="id_servizio"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-column name="id_utente" />
                            <linkit:sql-table-unique-column name="id_servizio" />
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id_utente" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_utente"/>
                                <linkit:sql-ddl-column-comment>Identificativo dell'utente [FK verso tabella users(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="id_servizio" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <linkit:generator
                                xmlns:linkit="http://www.link.it/project_generator">
                                <linkit:sql-column-mapping name="id_servizio"/>
                                <linkit:sql-ddl-column-comment>Identificativo del servizio associato all'utente nella colonna 'id_utente' [FK verso tabella servizi(id)]</linkit:sql-ddl-column-comment>
                            </linkit:generator>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    
    
    
    
    <!-- TABELLA DI SERVIZIO PER POTER COSTRUIRE LA FOREIGN KEY -->
    
    <xsd:element name="soggetti">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="soggetti">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="servizi">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="false" id="xsd:string"/>
                    <linkit:sql-table-mapping name="servizi">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabella_di_servizio" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
